<section class="about-us">

  <div class="about-us__title">

    <h2>О нас</h2>
    
  </div>

  <div class="about-us__content">

    <div class="about-us__container">
      <p>Мы — 
самый продвинутый сервис бесплатных объявлений 
на Кипре.</p>
    </div>

    
    <div class="about-us__container">
      <p>Мы не сохраняем проданные товары 
в базе данных 
и у нас нет повторяющихся объявлений.</p>
    </div>

    
    <div class="about-us__container">
      <p>Наша команда модераторов контролирует весь контент на сайте. </p>
    </div>

    
    <div class="about-us__container">
      <p>К каждому объявлению 
можно добавить фотографии высокого разрешения.</p>
    </div>

  
  </div>

  <div class="about-us__bottom">

    <div class="about-bottom__left">

      <div class="bottom-left__text">
        <p>По мере роста мы улучшаем сайт и приложения
        согласно вашим требованиям. 
        Мы приветствуем любые пожелания и предложения. 
        Если вы хотите связаться с нашей командой, 
        отправьте сообщение на <a href="mailto:support@bazar-cy.com">support@bazar-cy.com</a></p>
      </div>
      <div class="bottom-left__links">
        <ul>
          <li><a href="#">Объявления</a></li>
          <li><a href="#">Акции и бонусы</a></li>
          <li><a href="#">Информация</a></li>
        </ul>
      </div>
      <div class="bottom-left__socials">
        <a href="#" class="fb"><img src="img/fb.svg" alt="SVG" class="svg"></a>
        <a href="#" class="gg-plus"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Isolation_Mode" x="0px" y="0px" width="23px" height="20px" viewBox="0 0 103.429 63.676" enable-background="new 0 0 103.429 63.676" xml:space="preserve" class="svg replaced-svg"> <g> <path d="M60.875,29.928H31.268l0.035,8.481h19.963c-2.361,10.326-9.648,16.656-19.428,16.656C19.01,55.065,8.61,44.666,8.61,31.838   S19.01,8.61,31.838,8.61c6.1,0,11.647,2.354,15.791,6.2l6.551-5.647C48.432,3.499,40.545,0,31.838,0C14.254,0,0,14.254,0,31.838   s14.254,31.838,31.838,31.838c16.886,0,29.087-12.879,29.087-30.462L60.875,29.928z"></path> <g> <rect x="71.187" y="30.279" width="32.242" height="7.797"></rect> <rect x="83.41" y="18.056" width="7.797" height="32.242"></rect> </g> </g> </svg>
</a>
      </div>

    </div>


    <div class="about-bottom__right">

      <div class="bottom-right__apple">
      <a href="#">
        <div class="about-btm__icon"><img src="img/apple.png" alt="Apple Icon"></div>
        <div class="about-apple__text">Загрузить<br>  в Apple Store</div>
      </a>
      </div>


      <div class="bottom-right__market">
      <a href="#">
        <div class="about-btm__icon"><img src="img/market.png" alt="Google PlayMarket"></div>
        <div class="about-market__text">Загрузить<br> в Google Play</div>
      </a>
      </div>
    </div>

  </div>

</section>