<section class="breadcrumb">

  <ul>
    <li><a href="#">Главная</a> <span><svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="6px" height="12px"><path fill-rule="evenodd"  fill="rgb(193, 193, 193)" d="M0.732,0.743 L5.878,5.668 C5.968,5.762 6.006,5.886 6.000,6.010 C6.006,6.133 5.968,6.258 5.878,6.352 L0.732,11.276 C0.564,11.452 0.290,11.452 0.121,11.276 C-0.048,11.099 -0.048,10.814 0.121,10.637 L4.957,6.010 L0.121,1.383 C-0.048,1.206 -0.048,0.920 0.121,0.743 C0.290,0.567 0.564,0.567 0.732,0.743 Z"/></svg></span></li>
    <li><a href="#">Подать объявление </a><span><svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="6px" height="12px"><path fill-rule="evenodd"  fill="rgb(193, 193, 193)" d="M0.732,0.743 L5.878,5.668 C5.968,5.762 6.006,5.886 6.000,6.010 C6.006,6.133 5.968,6.258 5.878,6.352 L0.732,11.276 C0.564,11.452 0.290,11.452 0.121,11.276 C-0.048,11.099 -0.048,10.814 0.121,10.637 L4.957,6.010 L0.121,1.383 C-0.048,1.206 -0.048,0.920 0.121,0.743 C0.290,0.567 0.564,0.567 0.732,0.743 Z"/></svg></span></li>
    
  </ul>

</section>