<div class="catalog-content  shop-content">

    <div class="catalog-content__icons">

      <div class="catalog-filter">

        <div class="catalog-to__block">
          <img src="img/tile.svg" alt="Tile" class="svg">
        </div>


        <div class="catalog-to__list">
          <img src="img/list.svg" class='svg' alt="toList">
        </div>


        <div class="catalog-to__date">
          <select>
            <option value="По дате">По дате</option>
            <option value="Сначала новые">Сначала новые</option>
            <option value="Сначала старые">Сначала старые</option>
          </select>
        </div>


        <div class="catalog-to__price">

          <select>
            <option value="По цене">По цене</option>
            <option value="Сначала дорогие">Сначала дорогие</option>
            <option value="Сначала дешевые">Сначала дешевые</option>           
          </select>

        </div>



      </div>

      <div class="catalog-page">

        Страница <span class="catalog-page__curent"><a href="#">1</a></span> из <span class="catalog-page__total"><a href="#">115</a></span>

      </div>

    </div>


    <div class="principaly-newads__content">
      <div class="principaly-newads__container vip-ads ">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png">
        
        <div class="ads-image__more">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>
        </div>
      </a>
      </div>
      
      <div class="principlay-newads__all">
        <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
        <div class="principaly-newads__info">
          <div class="principaly-info__city">Лимассол</div>
          <div class="principaly-info__date">26 Aпр 18:04</div>
        </div>
        <div class="pricinaply-newads__bottom">
          <div class="newads-bottom__price">3 000 €</div>

          <div class="newads-bottom__like">
            <img src="img/likestroke.svg" alt="svg icon" >
          </div>
        </div>
      </div>
    </div>


    <div class="principaly-newads__container vip-ads ">
      <div class="principaly-newads__image"><a href="#"><img src="img/img2.png">
      
        <div class="ads-image__more">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>
        </div>
      </a>
      </div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
      </div>
    </div>

    <div class="principaly-newads__container vip-ads ">
      <div class="principaly-newads__image"><a href="#"><img src="img/img3.png">
      
        <div class="ads-image__more">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>
        </div>
      </a>
      </div>

      <div class="principlay-newads__all">

      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
      </div>
    </div>
    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png">
      
        <div class="ads-image__more">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>
        </div>
      </a>
      </div>
     
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png">
      
        <div class="ads-image__more">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>
        </div>
      </a>
      </div>

      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартир...</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png">
      
        <div class="ads-image__more">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>
        </div>
      </a>
      </div>
     
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
     
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
      </div>
    </div>

     <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
      </div>
    </div>

     <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
      </div>
    </div>

     <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      
      <div class="principlay-newads__all">
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
      </div>
    </div>

  

</div>

<div class="bottom-partner">

  <div class="bottom-partner__container">
  
    <img src="img/partner_1.jpg" alt="Наши партнеры">
  
  </div>
  <div class="bottom-partner__container">
  
    <img src="img/partner_2.jpg" alt="Наши партнеры">
  
  </div>
  <div class="bottom-partner__container">
  
    <img src="img/partner_3.jpg" alt="Наши партнеры">
  
  </div>

</div>


<div class="social-pagination">

<div class="catalog-bottom__social">
  
  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon"> <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="7px" height="14px"> <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M1.742,6.999 L-0.008,6.999 L-0.008,4.593 L1.742,4.593 L1.742,3.171 C1.742,2.096 1.943,1.298 2.344,0.779 C2.745,0.259 3.492,-0.001 4.586,-0.001 L6.992,-0.001 L6.992,2.406 L5.324,2.406 C4.905,2.406 4.641,2.479 4.531,2.624 C4.422,2.771 4.367,3.026 4.367,3.390 L4.367,4.593 L6.992,4.593 L6.746,6.999 L4.367,6.999 L4.367,13.999 L1.742,13.999 L1.742,6.999 Z"/> </svg>
    </div>
    <div class="catalog-social__number">55</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <img src="img/gg-plus.svg" alt="Icon google plus" class="svg">
    </div>
    <div class="catalog-social__number">12</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon"> <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="11px"> <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M13.618,2.263 C13.458,2.422 13.304,2.539 13.153,2.613 C13.003,2.688 12.859,2.747 12.723,2.792 C12.586,2.836 12.474,2.869 12.388,2.891 C12.301,2.913 12.258,2.937 12.258,2.963 C12.258,3.712 12.157,4.460 11.957,5.209 C11.757,5.957 11.442,6.679 11.014,7.375 C10.585,8.071 10.068,8.687 9.462,9.224 C8.856,9.761 8.118,10.191 7.248,10.512 C6.377,10.833 5.432,10.994 4.411,10.994 C3.244,10.994 2.281,10.831 1.520,10.505 C0.759,10.180 0.255,9.788 0.009,9.330 C0.100,9.338 0.260,9.336 0.488,9.323 C0.715,9.310 0.847,9.303 0.884,9.303 C1.258,9.303 1.558,9.299 1.786,9.290 C2.014,9.281 2.310,9.253 2.675,9.204 C3.039,9.156 3.363,9.070 3.645,8.947 C3.928,8.824 4.174,8.661 4.384,8.458 C3.736,8.449 3.151,8.284 2.627,7.963 C2.103,7.641 1.754,7.212 1.581,6.675 C1.754,6.710 1.932,6.728 2.114,6.728 C2.379,6.728 2.634,6.693 2.880,6.622 C1.549,6.367 0.884,5.570 0.884,4.231 C1.176,4.231 1.504,4.227 1.868,4.218 C1.504,3.980 1.248,3.696 1.103,3.366 C0.957,3.036 0.884,2.620 0.884,2.118 C0.884,1.757 1.030,1.334 1.321,0.850 C2.014,1.669 2.830,2.281 3.768,2.686 C4.707,3.091 5.787,3.324 7.008,3.386 C6.990,3.324 6.981,3.208 6.981,3.036 C6.981,2.865 6.986,2.677 6.995,2.475 C7.004,2.272 7.008,2.153 7.008,2.118 C7.008,1.387 7.248,0.852 7.726,0.513 C8.205,0.174 8.863,0.005 9.701,0.005 C10.531,0.005 11.228,0.295 11.793,0.876 C11.948,0.850 12.112,0.802 12.285,0.731 C12.458,0.661 12.602,0.592 12.716,0.526 C12.830,0.460 12.980,0.370 13.167,0.256 C13.354,0.141 13.488,0.058 13.570,0.005 C13.288,0.859 12.882,1.440 12.354,1.748 C12.627,1.713 13.178,1.695 14.008,1.695 C13.907,1.915 13.777,2.105 13.618,2.263 Z"/> </svg>
    </div>
    <div class="catalog-social__number">7</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon"> <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12px" height="14px"> <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M0.028,14.000 L2.735,14.000 L2.735,3.733 L0.028,3.733 L0.028,14.000 ZM9.047,3.791 C9.304,3.830 9.617,3.932 9.988,4.097 C10.358,4.263 10.681,4.477 10.956,4.739 C11.232,5.001 11.474,5.381 11.683,5.877 C11.892,6.373 11.996,6.961 11.996,7.641 L11.996,14.000 L9.118,14.000 L9.118,7.524 C9.118,7.136 9.009,6.824 8.791,6.591 C8.572,6.358 8.235,6.241 7.779,6.241 C7.513,6.241 7.280,6.290 7.081,6.387 C6.882,6.485 6.739,6.587 6.654,6.693 C6.568,6.800 6.501,6.932 6.454,7.087 C6.406,7.243 6.383,7.350 6.383,7.408 C6.383,7.466 6.383,7.506 6.383,7.524 L6.383,14.000 L3.676,14.000 L3.676,3.733 L6.383,3.733 L6.383,4.550 C6.611,4.355 6.739,4.248 6.768,4.229 C6.796,4.210 6.867,4.166 6.981,4.097 C7.095,4.030 7.190,3.981 7.266,3.952 C7.342,3.922 7.437,3.889 7.551,3.850 C7.665,3.811 7.784,3.782 7.907,3.762 C8.031,3.743 8.159,3.733 8.292,3.733 L8.292,3.733 C8.539,3.733 8.791,3.752 9.047,3.791 ZM1.368,-0.001 C1.747,-0.001 2.070,0.136 2.337,0.408 C2.602,0.680 2.735,1.011 2.735,1.399 C2.735,1.789 2.602,2.119 2.337,2.391 C2.070,2.664 1.747,2.799 1.368,2.799 C0.987,2.799 0.665,2.664 0.399,2.391 C0.133,2.119 -0.000,1.789 -0.000,1.399 C-0.000,1.011 0.133,0.680 0.399,0.408 C0.665,0.136 0.987,-0.001 1.368,-0.001 Z"/> </svg>
    </div>
    </a>
  </a>
  </div>

</div>

<div class="catalog-pagination">

    <ul>
      <li><a class='curentPage' href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#" class="all-page__catalog">...</a></li>
      <li><a href="#"><div class="catalog-pagination__all">115</div></a></li>
    </ul>   

</div>

</div>

</div>