<section class="faq">
  
  <div class="faq-title">
    <h2>Faq</h2>
  </div>

  <div class="faq-content">

    <div class="faq-slogan">FaQ Как добавить/отредактировать/удалить/поднять моё объявление?</div>


    <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Как подать объявление?</div>
        <div class="faq-question__opened">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,0.762 L6.362,5.909 C6.268,5.999 6.144,6.037 6.020,6.031 C5.897,6.037 5.772,5.999 5.678,5.909 L0.754,0.762 C0.578,0.594 0.578,0.320 0.754,0.151 C0.931,-0.018 1.216,-0.018 1.393,0.151 L6.020,4.987 L10.648,0.151 C10.824,-0.018 11.110,-0.018 11.286,0.151 C11.463,0.320 11.463,0.594 11.286,0.762 Z"/>
          </svg>
        </div>
        <div class="faq-question__closed hidden">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,6.237 L6.362,1.091 C6.268,1.001 6.143,0.963 6.020,0.969 C5.897,0.963 5.772,1.001 5.678,1.091 L0.754,6.237 C0.578,6.406 0.578,6.680 0.754,6.849 C0.931,7.018 1.216,7.018 1.393,6.849 L6.020,2.013 L10.648,6.849 C10.824,7.018 11.110,7.018 11.286,6.849 C11.463,6.680 11.463,6.406 11.286,6.237 Z"/>
          </svg>
        </div>
      </div>

      <div class="faq-answer">Нажмите на кнопку</div>

    </div>

   <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Как продать быстрее?</div>
        <div class="faq-question__opened">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,0.762 L6.362,5.909 C6.268,5.999 6.144,6.037 6.020,6.031 C5.897,6.037 5.772,5.999 5.678,5.909 L0.754,0.762 C0.578,0.594 0.578,0.320 0.754,0.151 C0.931,-0.018 1.216,-0.018 1.393,0.151 L6.020,4.987 L10.648,0.151 C10.824,-0.018 11.110,-0.018 11.286,0.151 C11.463,0.320 11.463,0.594 11.286,0.762 Z"/>
          </svg>
        </div>
        <div class="faq-question__closed hidden">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,6.237 L6.362,1.091 C6.268,1.001 6.143,0.963 6.020,0.969 C5.897,0.963 5.772,1.001 5.678,1.091 L0.754,6.237 C0.578,6.406 0.578,6.680 0.754,6.849 C0.931,7.018 1.216,7.018 1.393,6.849 L6.020,2.013 L10.648,6.849 C10.824,7.018 11.110,7.018 11.286,6.849 C11.463,6.680 11.463,6.406 11.286,6.237 Z"/>
          </svg>
        </div>
      </div>

      <div class="faq-answer">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Залетают моей составитель сих строчка буквоград своих, толку рыбного по всей, речью что раз. Букв силуэт власти, скатился даже путь они?</div>

    </div>

    <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Как редактировать объявление?</div>
        <div class="faq-question__opened">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,0.762 L6.362,5.909 C6.268,5.999 6.144,6.037 6.020,6.031 C5.897,6.037 5.772,5.999 5.678,5.909 L0.754,0.762 C0.578,0.594 0.578,0.320 0.754,0.151 C0.931,-0.018 1.216,-0.018 1.393,0.151 L6.020,4.987 L10.648,0.151 C10.824,-0.018 11.110,-0.018 11.286,0.151 C11.463,0.320 11.463,0.594 11.286,0.762 Z"/>
          </svg>
        </div>
        <div class="faq-question__closed hidden">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,6.237 L6.362,1.091 C6.268,1.001 6.143,0.963 6.020,0.969 C5.897,0.963 5.772,1.001 5.678,1.091 L0.754,6.237 C0.578,6.406 0.578,6.680 0.754,6.849 C0.931,7.018 1.216,7.018 1.393,6.849 L6.020,2.013 L10.648,6.849 C10.824,7.018 11.110,7.018 11.286,6.849 C11.463,6.680 11.463,6.406 11.286,6.237 Z"/>
          </svg>
        </div>
      </div>

      <div class="faq-answer">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Там, напоивший. Свой использовало великий знаках ты, lorem продолжил ему прямо коварных они!</div>

    </div>

    <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Какие бывают статусы у объявления?</div>
        <div class="faq-question__opened">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,0.762 L6.362,5.909 C6.268,5.999 6.144,6.037 6.020,6.031 C5.897,6.037 5.772,5.999 5.678,5.909 L0.754,0.762 C0.578,0.594 0.578,0.320 0.754,0.151 C0.931,-0.018 1.216,-0.018 1.393,0.151 L6.020,4.987 L10.648,0.151 C10.824,-0.018 11.110,-0.018 11.286,0.151 C11.463,0.320 11.463,0.594 11.286,0.762 Z"/>
          </svg>
        </div>
        <div class="faq-question__closed hidden">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,6.237 L6.362,1.091 C6.268,1.001 6.143,0.963 6.020,0.969 C5.897,0.963 5.772,1.001 5.678,1.091 L0.754,6.237 C0.578,6.406 0.578,6.680 0.754,6.849 C0.931,7.018 1.216,7.018 1.393,6.849 L6.020,2.013 L10.648,6.849 C10.824,7.018 11.110,7.018 11.286,6.849 C11.463,6.680 11.463,6.406 11.286,6.237 Z"/>
          </svg>
        </div>
      </div>

      <div class="faq-answer">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Даль путь возвращайся, города взобравшись заглавных журчит встретил.</div>

    </div>

    <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Как приостановить показ своего объявления?</div>
        <div class="faq-question__opened">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,0.762 L6.362,5.909 C6.268,5.999 6.144,6.037 6.020,6.031 C5.897,6.037 5.772,5.999 5.678,5.909 L0.754,0.762 C0.578,0.594 0.578,0.320 0.754,0.151 C0.931,-0.018 1.216,-0.018 1.393,0.151 L6.020,4.987 L10.648,0.151 C10.824,-0.018 11.110,-0.018 11.286,0.151 C11.463,0.320 11.463,0.594 11.286,0.762 Z"/>
          </svg>
        </div>
        <div class="faq-question__closed hidden">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,6.237 L6.362,1.091 C6.268,1.001 6.143,0.963 6.020,0.969 C5.897,0.963 5.772,1.001 5.678,1.091 L0.754,6.237 C0.578,6.406 0.578,6.680 0.754,6.849 C0.931,7.018 1.216,7.018 1.393,6.849 L6.020,2.013 L10.648,6.849 C10.824,7.018 11.110,7.018 11.286,6.849 C11.463,6.680 11.463,6.406 11.286,6.237 Z"/>
          </svg>
        </div>
      </div>

      <div class="faq-answer">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Жаренные ты свой, текст последний первую образ деревни которой ведущими! Напоивший возвращайся использовало великий большой города бросил снова, ведущими злых.</div>

    </div>

    <div class="faq-container">

      <div class="faq-question">
        <div class="faq-question__text">Как удалить объявление?</div>
        <div class="faq-question__opened">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,0.762 L6.362,5.909 C6.268,5.999 6.144,6.037 6.020,6.031 C5.897,6.037 5.772,5.999 5.678,5.909 L0.754,0.762 C0.578,0.594 0.578,0.320 0.754,0.151 C0.931,-0.018 1.216,-0.018 1.393,0.151 L6.020,4.987 L10.648,0.151 C10.824,-0.018 11.110,-0.018 11.286,0.151 C11.463,0.320 11.463,0.594 11.286,0.762 Z"/>
          </svg>
        </div>
        <div class="faq-question__closed hidden">
          <svg 
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="12px" height="7px">
          <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
          d="M11.286,6.237 L6.362,1.091 C6.268,1.001 6.143,0.963 6.020,0.969 C5.897,0.963 5.772,1.001 5.678,1.091 L0.754,6.237 C0.578,6.406 0.578,6.680 0.754,6.849 C0.931,7.018 1.216,7.018 1.393,6.849 L6.020,2.013 L10.648,6.849 C10.824,7.018 11.110,7.018 11.286,6.849 C11.463,6.680 11.463,6.406 11.286,6.237 Z"/>
          </svg>
        </div>
      </div>

      <div class="faq-answer">Нажмите на кнопку</div>

    </div>


  </div>

</section>