<section class="favorites">

  <div class="favorites-title">
    <h2>Избранное</h2>
  </div>

  <div class="favorites-content">

    <div class="principaly-newads__content">

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><img src="img/img1.png"></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/heart-galery.svg" alt="svg icon" >
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><img src="img/img2.png"></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/heart-galery.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><img src="img/img3.png"></div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/heart-galery.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><img src="img/img4.png"></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/heart-galery.svg" alt="svg icon" >
        </div>
      </div>
    </div>
    
    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><img src="img/img1.png"></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/heart-galery.svg" alt="svg icon" >
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><img src="img/img2.png"></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/heart-galery.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><img src="img/img3.png"></div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/heart-galery.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><img src="img/img4.png"></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/heart-galery.svg" alt="svg icon" >
        </div>
      </div>
    </div>

  </div>

  </div>

</section>