<section class="find-category">
  <div class="find-category__title">
    <h2>Поиск по категориям </h2>
  </div>

<!-- Категории для больших экранов -->
<div class="find-category__large"> 

  <!-- Контейнер для всех категории -->
  <div class="find-category__content">    

    <!-- Контейнер для каждые 4 категории --> 
    <div class="grid-find__large"> 
      
      <!-- Категория №1-->
      <div class="find-grid"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="19px"> <path fill-rule="evenodd"  fill="#fff" d="M21.623,14.925 C21.873,14.515 21.999,14.063 21.999,13.568 L21.999,9.497 C21.999,9.101 21.834,8.646 21.505,8.129 C21.175,7.614 20.760,7.122 20.259,6.656 L19.249,2.712 C19.249,1.963 18.981,1.323 18.444,0.793 C17.906,0.263 17.258,-0.002 16.499,-0.002 L5.501,-0.002 C4.741,-0.002 4.093,0.263 3.556,0.793 C3.019,1.323 2.751,1.963 2.751,2.712 L1.741,6.656 C1.240,7.122 0.824,7.614 0.495,8.129 C0.166,8.646 0.001,9.101 0.001,9.497 L0.001,13.568 C0.001,14.063 0.126,14.515 0.377,14.925 C0.627,15.335 0.960,15.660 1.376,15.900 L1.376,17.639 C1.376,18.021 1.512,18.342 1.784,18.604 C2.056,18.866 2.382,18.996 2.762,18.996 C3.141,18.996 3.463,18.866 3.728,18.604 C3.993,18.342 4.126,18.021 4.126,17.639 L4.126,16.282 L17.874,16.282 L17.874,17.639 C17.874,18.021 18.010,18.342 18.282,18.604 C18.554,18.866 18.880,18.996 19.260,18.996 C19.639,18.996 19.961,18.866 20.227,18.604 C20.491,18.342 20.624,18.021 20.624,17.639 L20.624,15.900 C21.039,15.660 21.372,15.335 21.623,14.925 ZM4.115,10.854 C4.494,10.854 4.820,10.988 5.092,11.257 C5.364,11.525 5.501,11.847 5.501,12.222 C5.501,12.596 5.364,12.914 5.092,13.176 C4.820,13.437 4.494,13.568 4.115,13.568 C3.735,13.568 3.413,13.437 3.148,13.176 C2.883,12.914 2.751,12.596 2.751,12.222 C2.751,11.847 2.883,11.525 3.148,11.257 C3.413,10.988 3.735,10.854 4.115,10.854 ZM17.874,6.783 C17.874,7.165 17.742,7.486 17.477,7.748 C17.212,8.009 16.886,8.140 16.499,8.140 L5.501,8.140 C5.114,8.140 4.788,8.009 4.523,7.748 C4.258,7.486 4.126,7.165 4.126,6.783 L4.813,4.069 C4.813,3.702 4.949,3.384 5.221,3.115 C5.493,2.847 5.815,2.712 6.188,2.712 L15.812,2.712 C16.199,2.712 16.524,2.847 16.789,3.115 C17.054,3.384 17.187,3.702 17.187,4.069 L17.874,6.783 ZM19.249,12.222 C19.249,12.596 19.117,12.914 18.852,13.176 C18.586,13.437 18.264,13.568 17.885,13.568 C17.505,13.568 17.179,13.437 16.907,13.176 C16.635,12.914 16.499,12.596 16.499,12.222 C16.499,11.847 16.635,11.525 16.907,11.257 C17.179,10.988 17.505,10.854 17.885,10.854 C18.264,10.854 18.586,10.988 18.852,11.257 C19.117,11.525 19.249,11.847 19.249,12.222 Z"/> </svg></div>
            <h3>Транспорт </h3>
          </div>
        </div>
        <!-- DropDown для категория №1 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииOne</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №1  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №2 -->
      <div class="find-grid"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="22px"> <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M16.444,21.194 C16.981,20.657 17.250,20.009 17.250,19.249 L17.250,2.750 C17.250,1.991 16.981,1.343 16.444,0.805 C15.907,0.268 15.259,-0.000 14.500,-0.000 L3.500,-0.000 C2.741,-0.000 2.093,0.268 1.556,0.805 C1.019,1.343 0.750,1.991 0.750,2.750 L0.750,19.249 C0.750,20.009 1.019,20.657 1.556,21.194 C2.093,21.731 2.741,21.999 3.500,21.999 L14.500,21.999 C15.259,21.999 15.907,21.731 16.444,21.194 ZM7.625,19.260 C7.625,18.881 7.761,18.555 8.033,18.282 C8.305,18.011 8.631,17.874 9.011,17.874 C9.390,17.874 9.712,18.011 9.977,18.282 C10.242,18.555 10.375,18.881 10.375,19.260 C10.375,19.640 10.242,19.962 9.977,20.227 C9.712,20.492 9.390,20.624 9.011,20.624 C8.631,20.624 8.305,20.492 8.033,20.227 C7.761,19.962 7.625,19.640 7.625,19.260 ZM15.875,16.499 L2.125,16.499 L2.125,2.750 L15.875,2.750 L15.875,16.499 ZM11.750,4.103 L3.500,4.103 L3.500,15.124 L11.750,4.103 Z"/> </svg></div>
            <h3>Электроника </h3>
          </div>
        </div>
        <!-- DropDown для категория №2 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTwo</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №2  -->   
      </div>        
      <!-- END категория -->

      <!-- Категория №3 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.591,21.602 C21.863,21.337 22.000,21.011 22.000,20.624 L22.000,12.374 L13.750,12.374 L13.750,13.749 C13.750,14.122 13.617,14.444 13.352,14.716 C13.087,14.989 12.762,15.124 12.375,15.124 L9.625,15.124 C9.252,15.124 8.930,14.989 8.658,14.716 C8.386,14.444 8.250,14.122 8.250,13.749 L8.250,12.374 L0.000,12.374 L0.000,20.624 C0.000,20.997 0.136,21.319 0.408,21.591 C0.680,21.863 1.002,21.999 1.375,21.999 L20.625,21.999 C20.997,21.999 21.319,21.867 21.591,21.602 ZM11.011,11.000 C10.631,11.000 10.305,11.132 10.033,11.397 C9.761,11.662 9.625,11.984 9.625,12.364 C9.625,12.743 9.761,13.070 10.033,13.341 C10.305,13.614 10.631,13.749 11.011,13.749 C11.390,13.749 11.712,13.614 11.977,13.341 C12.242,13.070 12.375,12.743 12.375,12.364 C12.375,11.984 12.242,11.662 11.977,11.397 C11.712,11.132 11.390,11.000 11.011,11.000 ZM13.352,10.022 C13.617,10.287 13.750,10.613 13.750,11.000 L22.000,11.000 L22.000,6.875 C22.000,6.488 21.863,6.162 21.591,5.897 C21.319,5.632 20.997,5.500 20.625,5.500 L16.500,5.500 L16.500,4.125 C16.500,2.979 16.099,2.005 15.297,1.203 C14.494,0.401 13.521,-0.000 12.375,-0.000 L9.625,-0.000 C8.479,-0.000 7.505,0.401 6.703,1.203 C5.901,2.005 5.500,2.979 5.500,4.125 L5.500,5.500 L1.375,5.500 C0.988,5.500 0.662,5.632 0.398,5.897 C0.132,6.162 0.000,6.488 0.000,6.875 L0.000,11.000 L8.250,11.000 C8.250,10.613 8.386,10.287 8.658,10.022 C8.930,9.757 9.252,9.625 9.625,9.625 L12.375,9.625 C12.762,9.625 13.087,9.757 13.352,10.022 ZM13.750,5.500 L8.250,5.500 L8.250,4.125 C8.250,3.738 8.386,3.412 8.658,3.147 C8.930,2.883 9.252,2.749 9.625,2.749 L12.375,2.749 C12.762,2.749 13.087,2.883 13.352,3.147 C13.617,3.412 13.750,3.738 13.750,4.125 L13.750,5.500 Z"/> </svg></div>
            <h3>Работа</h3>
          </div>
        </div>   
        <!-- DropDown для категория №3 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииThree</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №3  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №4 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M10.291,8.249 L10.269,8.228 C10.742,7.383 10.978,6.474 10.978,5.500 C10.978,4.010 10.459,2.732 9.421,1.665 C8.382,0.598 7.118,0.043 5.629,-0.000 L5.500,-0.000 L5.500,0.837 L7.262,2.599 C7.906,3.244 8.228,4.025 8.228,4.941 C8.228,5.858 7.906,6.638 7.262,7.283 C6.617,7.927 5.840,8.249 4.931,8.249 C4.021,8.249 3.244,7.927 2.600,7.283 L0.816,5.500 L0.000,5.500 L0.000,5.628 C0.043,7.118 0.594,8.386 1.654,9.431 C2.714,10.477 3.996,10.999 5.500,10.999 C6.459,10.999 7.362,10.756 8.207,10.269 C8.221,10.269 8.228,10.283 8.228,10.312 L17.144,21.806 C17.287,21.935 17.907,21.999 19.003,21.999 C20.098,21.999 20.718,21.935 20.861,21.806 L21.806,20.861 C21.935,20.718 22.000,20.098 22.000,19.002 C22.000,17.907 21.935,17.287 21.806,17.144 L21.806,17.144 L21.806,17.144 L10.291,8.249 ZM17.853,19.239 C17.853,18.859 17.989,18.537 18.261,18.272 C18.533,18.007 18.859,17.874 19.239,17.874 C19.618,17.874 19.941,18.007 20.206,18.272 C20.471,18.537 20.603,18.859 20.603,19.239 C20.603,19.618 20.471,19.944 20.206,20.216 C19.941,20.489 19.618,20.624 19.239,20.624 C18.859,20.624 18.533,20.489 18.261,20.216 C17.989,19.944 17.853,19.618 17.853,19.239 Z"/> </svg></div>
            <h3>Услуги </h3>
          </div>
        </div>  
        <!-- DropDown для категория №4 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииFour</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №4  --> 
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 4 категории -->


    <!-- Контейнер для каждые 4 категории --> 
    <div class="grid-find__large"> 
      
      <!-- Категория №5-->
      <div class="find-grid green-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.796,21.795 C21.932,21.659 22.000,21.498 22.000,21.312 C22.000,21.126 21.932,20.965 21.796,20.828 C21.659,20.693 21.498,20.624 21.312,20.624 L20.625,20.624 C20.252,20.624 19.930,20.492 19.658,20.227 C19.386,19.962 19.250,19.636 19.250,19.249 L19.250,1.375 C19.250,1.002 19.117,0.680 18.852,0.408 C18.587,0.136 18.262,-0.000 17.875,-0.000 L4.125,-0.000 C3.753,-0.000 3.430,0.136 3.158,0.408 C2.886,0.680 2.750,1.002 2.750,1.375 L2.750,19.249 C2.750,19.622 2.617,19.944 2.353,20.216 C2.087,20.489 1.762,20.624 1.375,20.624 L0.688,20.624 C0.501,20.624 0.340,20.693 0.204,20.828 C0.068,20.965 0.000,21.126 0.000,21.312 C0.000,21.498 0.068,21.659 0.204,21.795 C0.340,21.932 0.501,21.999 0.688,21.999 L21.312,21.999 C21.498,21.999 21.659,21.932 21.796,21.795 ZM8.250,4.812 C8.250,4.998 8.182,5.160 8.046,5.296 C7.910,5.432 7.748,5.500 7.562,5.500 L6.188,5.500 C6.001,5.500 5.840,5.432 5.704,5.296 C5.568,5.160 5.500,4.998 5.500,4.812 L5.500,3.437 C5.500,3.251 5.568,3.090 5.704,2.954 C5.840,2.818 6.001,2.750 6.188,2.750 L7.562,2.750 C7.748,2.750 7.910,2.818 8.046,2.954 C8.182,3.090 8.250,3.251 8.250,3.437 L8.250,4.812 ZM8.250,8.937 C8.250,9.123 8.182,9.285 8.046,9.420 C7.910,9.557 7.748,9.625 7.562,9.625 L6.188,9.625 C6.001,9.625 5.840,9.557 5.704,9.420 C5.568,9.285 5.500,9.123 5.500,8.937 L5.500,7.562 C5.500,7.376 5.568,7.215 5.704,7.078 C5.840,6.943 6.001,6.875 6.188,6.875 L7.562,6.875 C7.748,6.875 7.910,6.943 8.046,7.078 C8.182,7.215 8.250,7.376 8.250,7.562 L8.250,8.937 ZM8.250,13.062 C8.250,13.248 8.182,13.410 8.046,13.546 C7.910,13.682 7.748,13.750 7.562,13.750 L6.188,13.750 C6.001,13.750 5.840,13.682 5.704,13.546 C5.568,13.410 5.500,13.248 5.500,13.062 L5.500,11.687 C5.500,11.501 5.568,11.340 5.704,11.203 C5.840,11.068 6.001,10.999 6.188,10.999 L7.562,10.999 C7.748,10.999 7.910,11.068 8.046,11.203 C8.182,11.340 8.250,11.501 8.250,11.687 L8.250,13.062 ZM12.375,4.812 C12.375,4.998 12.307,5.160 12.171,5.296 C12.035,5.432 11.873,5.500 11.687,5.500 L10.312,5.500 C10.126,5.500 9.965,5.432 9.829,5.296 C9.693,5.160 9.625,4.998 9.625,4.812 L9.625,3.437 C9.625,3.251 9.693,3.090 9.829,2.954 C9.965,2.818 10.126,2.750 10.312,2.750 L11.687,2.750 C11.873,2.750 12.035,2.818 12.171,2.954 C12.307,3.090 12.375,3.251 12.375,3.437 L12.375,4.812 ZM12.375,8.937 C12.375,9.123 12.307,9.285 12.171,9.420 C12.035,9.557 11.873,9.625 11.687,9.625 L10.312,9.625 C10.126,9.625 9.965,9.557 9.829,9.420 C9.693,9.285 9.625,9.123 9.625,8.937 L9.625,7.562 C9.625,7.376 9.693,7.215 9.829,7.078 C9.965,6.943 10.126,6.875 10.312,6.875 L11.687,6.875 C11.873,6.875 12.035,6.943 12.171,7.078 C12.307,7.215 12.375,7.376 12.375,7.562 L12.375,8.937 ZM12.375,13.062 C12.375,13.248 12.307,13.410 12.171,13.546 C12.035,13.682 11.873,13.750 11.687,13.750 L10.312,13.750 C10.126,13.750 9.965,13.682 9.829,13.546 C9.693,13.410 9.625,13.248 9.625,13.062 L9.625,11.687 C9.625,11.501 9.693,11.340 9.829,11.203 C9.965,11.068 10.126,10.999 10.312,10.999 L11.687,10.999 C11.873,10.999 12.035,11.068 12.171,11.203 C12.307,11.340 12.375,11.501 12.375,11.687 L12.375,13.062 ZM13.546,16.703 C13.682,16.840 13.750,17.001 13.750,17.187 L13.750,19.937 C13.750,20.123 13.682,20.284 13.546,20.420 C13.409,20.557 13.248,20.624 13.062,20.624 L8.938,20.624 C8.751,20.624 8.590,20.557 8.454,20.420 C8.318,20.284 8.250,20.123 8.250,19.937 L8.250,17.187 C8.250,17.001 8.318,16.840 8.454,16.703 C8.590,16.568 8.751,16.499 8.938,16.499 L13.062,16.499 C13.248,16.499 13.409,16.568 13.546,16.703 ZM16.500,4.812 C16.500,4.998 16.432,5.160 16.296,5.296 C16.160,5.432 15.998,5.500 15.812,5.500 L14.437,5.500 C14.251,5.500 14.090,5.432 13.954,5.296 C13.818,5.160 13.750,4.998 13.750,4.812 L13.750,3.437 C13.750,3.251 13.818,3.090 13.954,2.954 C14.090,2.818 14.251,2.750 14.437,2.750 L15.812,2.750 C15.998,2.750 16.160,2.818 16.296,2.954 C16.432,3.090 16.500,3.251 16.500,3.437 L16.500,4.812 ZM16.500,8.937 C16.500,9.123 16.432,9.285 16.296,9.420 C16.160,9.557 15.998,9.625 15.812,9.625 L14.437,9.625 C14.251,9.625 14.090,9.557 13.954,9.420 C13.818,9.285 13.750,9.123 13.750,8.937 L13.750,7.562 C13.750,7.376 13.818,7.215 13.954,7.078 C14.090,6.943 14.251,6.875 14.437,6.875 L15.812,6.875 C15.998,6.875 16.160,6.943 16.296,7.078 C16.432,7.215 16.500,7.376 16.500,7.562 L16.500,8.937 ZM16.500,13.062 C16.500,13.248 16.432,13.410 16.296,13.546 C16.160,13.682 15.998,13.750 15.812,13.750 L14.437,13.750 C14.251,13.750 14.090,13.682 13.954,13.546 C13.818,13.410 13.750,13.248 13.750,13.062 L13.750,11.687 C13.750,11.501 13.818,11.340 13.954,11.203 C14.090,11.068 14.251,10.999 14.437,10.999 L15.812,10.999 C15.998,10.999 16.160,11.068 16.296,11.203 C16.432,11.340 16.500,11.501 16.500,11.687 L16.500,13.062 Z"/> </svg></div>
            <h3>Недвижимость </h3>
          </div>
        </div>  
        <!-- DropDown для категория №5 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииFive</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №5  --> 
      </div>        
      <!-- END категория -->

      <!-- Категория №6 -->
      <div class="find-grid green-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.579,9.923 L12.051,0.395 C11.765,0.109 11.415,-0.026 11.000,-0.013 C10.585,-0.026 10.234,0.109 9.948,0.395 L0.420,9.923 C0.149,10.195 0.013,10.528 0.013,10.921 C0.013,11.315 0.152,11.651 0.431,11.930 C0.710,12.209 1.046,12.348 1.440,12.348 C1.833,12.348 2.166,12.212 2.438,11.940 L2.760,11.619 L2.760,20.610 C2.760,20.982 2.892,21.304 3.156,21.576 C3.421,21.848 3.747,21.983 4.133,21.983 L8.253,21.983 L8.253,15.803 C8.253,15.617 8.321,15.456 8.457,15.320 C8.593,15.184 8.754,15.116 8.940,15.116 L13.060,15.116 C13.246,15.116 13.407,15.184 13.543,15.320 C13.679,15.456 13.747,15.617 13.747,15.803 L13.747,21.983 L17.867,21.983 C18.253,21.983 18.578,21.848 18.843,21.576 C19.108,21.304 19.240,20.982 19.240,20.610 L19.240,11.619 L19.562,11.940 C19.834,12.212 20.166,12.348 20.560,12.348 C20.953,12.348 21.290,12.209 21.569,11.930 C21.848,11.651 21.987,11.315 21.987,10.921 C21.987,10.528 21.851,10.195 21.579,9.923 L21.579,9.923 Z"/> </svg></div>
            <h3>Дом и сад</h3>
          </div>
        </div>  
        <!-- DropDown для категория №6 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииSix</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №6  --> 
      </div>        
      <!-- END категория -->

      <!-- Категория №7 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg style='position:relative; left: 6px' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M8.255,0.526 C8.176,0.175 7.979,-0.000 7.664,-0.000 L0.682,-0.000 C0.367,-0.000 0.163,0.175 0.070,0.526 C-0.024,0.877 0.023,1.138 0.209,1.310 L2.852,4.361 L0.252,16.628 C0.123,16.944 0.055,17.162 0.048,17.284 C0.041,17.405 0.109,17.559 0.252,17.745 L3.582,21.763 C3.740,21.921 3.929,21.999 4.152,21.999 C4.374,21.999 4.556,21.921 4.699,21.763 L8.051,17.745 C8.151,17.646 8.212,17.538 8.234,17.423 C8.255,17.309 8.251,17.205 8.223,17.112 C8.194,17.019 8.137,16.858 8.051,16.628 L5.451,4.383 L8.115,1.310 C8.287,1.138 8.334,0.877 8.255,0.526 Z"/> </svg></div>
            <h3>Бизнес</h3>
          </div>
        </div>  
        <!-- DropDown для категория №7 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииSeven</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №7  --> 
      </div>        
      <!-- END категория -->

      <!-- Категория №8 -->
      <div class="find-grid  gray-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.796,9.420 C21.932,9.285 22.000,9.123 22.000,8.937 L22.000,7.562 C22.000,7.362 21.932,7.197 21.796,7.068 C21.659,6.939 21.498,6.875 21.312,6.875 L12.375,6.875 L12.375,9.625 L21.312,9.625 C21.498,9.625 21.659,9.557 21.796,9.420 ZM15.694,4.694 C16.231,4.157 16.500,3.509 16.500,2.750 C16.500,1.991 16.231,1.342 15.694,0.805 C15.157,0.268 14.509,-0.000 13.750,-0.000 C13.449,-0.000 13.177,0.036 12.933,0.107 C12.690,0.179 12.475,0.265 12.289,0.365 C12.103,0.465 11.942,0.616 11.806,0.816 C11.669,1.017 11.555,1.199 11.462,1.364 C11.368,1.529 11.293,1.765 11.236,2.073 C11.179,2.381 11.132,2.635 11.097,2.836 C11.061,3.036 11.036,3.323 11.021,3.695 C11.007,4.068 11.000,4.358 11.000,4.565 C11.000,4.773 11.000,5.084 11.000,5.500 C10.513,4.998 10.155,4.454 9.926,3.867 C9.696,3.280 9.564,2.775 9.528,2.352 C9.492,1.930 9.424,1.529 9.324,1.149 C9.224,0.770 8.984,0.483 8.604,0.290 C8.225,0.096 7.648,-0.000 6.875,-0.000 C6.116,-0.000 5.468,0.268 4.931,0.805 C4.394,1.342 4.125,1.991 4.125,2.750 C4.125,3.509 4.394,4.157 4.931,4.694 C5.468,5.231 6.116,5.500 6.875,5.500 L13.750,5.500 C14.509,5.500 15.157,5.231 15.694,4.694 ZM8.250,2.739 C8.250,3.119 8.114,3.445 7.842,3.717 C7.569,3.988 7.244,4.125 6.864,4.125 C6.485,4.125 6.162,3.988 5.898,3.717 C5.632,3.445 5.500,3.119 5.500,2.739 C5.500,2.360 5.632,2.038 5.898,1.772 C6.162,1.507 6.485,1.375 6.864,1.375 C7.244,1.375 7.569,1.507 7.842,1.772 C8.114,2.038 8.250,2.360 8.250,2.739 ZM15.125,2.739 C15.125,3.119 14.989,3.445 14.717,3.717 C14.444,3.988 14.122,4.125 13.750,4.125 C13.377,4.125 13.055,3.988 12.783,3.717 C12.511,3.445 12.375,3.119 12.375,2.739 C12.375,2.360 12.507,2.038 12.772,1.772 C13.037,1.507 13.360,1.375 13.739,1.375 C14.118,1.375 14.444,1.507 14.717,1.772 C14.989,2.038 15.125,2.360 15.125,2.739 ZM9.625,6.875 L0.688,6.875 C0.501,6.875 0.340,6.939 0.204,7.068 C0.068,7.197 0.000,7.362 0.000,7.562 L0.000,8.937 C0.000,9.123 0.068,9.285 0.204,9.420 C0.340,9.557 0.501,9.625 0.688,9.625 L9.625,9.625 L9.625,6.875 ZM9.625,10.999 L1.375,10.999 L1.375,20.624 C1.375,20.997 1.507,21.319 1.773,21.591 C2.037,21.863 2.363,21.999 2.750,21.999 L9.625,21.999 L9.625,10.999 ZM12.375,10.999 L12.375,21.999 L19.250,21.999 C19.636,21.999 19.962,21.863 20.227,21.591 C20.492,21.319 20.625,20.997 20.625,20.624 L20.625,10.999 L12.375,10.999 Z"/> </svg></div>
            <h3>Бесплатные вещи </h3>
          </div>
        </div> 
        <!-- DropDown для категория №8 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииEight</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №8  -->  
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 4 категории -->


    <!-- Контейнер для каждые 4 категории --> 
    <div class="grid-find__large"> 
      
      <!-- Категория №9-->
      <div class="find-grid green-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M18.079,11.730 C19.318,11.243 20.625,11.000 22.000,11.000 C22.000,9.624 21.760,8.318 21.280,7.079 C20.800,5.840 20.116,4.719 19.228,3.716 L11.967,11.000 L14.717,13.771 C15.719,12.897 16.840,12.217 18.079,11.730 ZM11.000,10.033 L18.283,2.771 C17.280,1.898 16.159,1.217 14.921,0.730 C13.682,0.243 12.375,-0.000 11.000,-0.000 C11.000,1.375 10.760,2.682 10.280,3.921 C9.800,5.159 9.116,6.280 8.228,7.283 L11.000,10.033 ZM7.262,6.294 C8.809,4.519 9.596,2.456 9.625,0.107 C7.391,0.379 5.428,1.267 3.738,2.771 L7.262,6.294 ZM2.772,3.738 C1.268,5.428 0.372,7.390 0.086,9.624 C2.449,9.596 4.519,8.808 6.295,7.261 L2.772,3.738 ZM7.283,8.228 C6.281,9.116 5.160,9.800 3.921,10.280 C2.682,10.760 1.375,11.000 0.000,11.000 C0.000,12.375 0.244,13.682 0.731,14.920 C1.217,16.159 1.898,17.280 2.772,18.283 L10.033,11.000 L7.283,8.228 ZM11.000,11.966 L3.717,19.228 C4.719,20.116 5.840,20.800 7.079,21.279 C8.318,21.760 9.625,21.999 11.000,21.999 C11.000,20.624 11.240,19.317 11.720,18.079 C12.199,16.840 12.883,15.719 13.771,14.716 L11.000,11.966 ZM14.738,15.704 C13.191,17.495 12.403,19.565 12.375,21.913 C14.609,21.627 16.571,20.732 18.261,19.228 L14.738,15.704 ZM15.705,14.738 L19.228,18.261 C20.732,16.571 21.627,14.609 21.914,12.375 C19.551,12.403 17.481,13.191 15.705,14.738 L15.705,14.738 Z"/> </svg></div>
            <h3>Хобби и отдых </h3>
          </div>
        </div>  
        <!-- DropDown для категория №9 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииNine</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №9  --> 
      </div>        
      <!-- END категория -->

      <!-- Категория №10 -->
      <div class="find-grid green-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="19px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.375,5.137 C20.946,4.865 20.448,4.883 19.882,5.190 C19.316,5.499 18.847,6.007 18.475,6.716 C18.102,7.425 17.934,8.127 17.970,8.822 C18.006,9.516 18.239,10.000 18.668,10.271 C19.098,10.544 19.599,10.526 20.172,10.218 C20.745,9.910 21.218,9.401 21.590,8.693 C21.962,7.984 22.127,7.282 22.084,6.587 C22.041,5.892 21.805,5.409 21.375,5.137 ZM14.522,18.618 C15.166,18.568 15.650,18.486 15.972,18.371 C16.294,18.257 16.634,18.099 16.993,17.899 C17.350,17.698 17.601,17.436 17.745,17.114 C17.887,16.792 17.959,16.409 17.959,15.965 C17.959,15.363 17.845,14.690 17.616,13.945 C17.386,13.201 17.057,12.467 16.627,11.743 C16.198,11.020 15.707,10.354 15.156,9.745 C14.604,9.137 13.970,8.646 13.254,8.274 C12.538,7.901 11.815,7.715 11.084,7.715 C10.354,7.715 9.631,7.901 8.915,8.274 C8.198,8.646 7.564,9.137 7.013,9.745 C6.462,10.354 5.971,11.020 5.542,11.743 C5.112,12.467 4.782,13.201 4.553,13.945 C4.324,14.690 4.210,15.363 4.210,15.965 C4.210,16.409 4.281,16.792 4.424,17.114 C4.567,17.436 4.818,17.698 5.176,17.899 C5.534,18.099 5.875,18.257 6.197,18.371 C6.519,18.486 7.002,18.568 7.647,18.618 C8.292,18.668 8.818,18.697 9.226,18.704 C9.634,18.711 10.254,18.715 11.084,18.715 C11.915,18.715 12.535,18.711 12.943,18.704 C13.351,18.697 13.877,18.668 14.522,18.618 ZM16.445,3.783 C16.652,2.939 16.645,2.165 16.423,1.463 C16.201,0.761 15.825,0.335 15.295,0.185 C14.765,0.034 14.239,0.203 13.716,0.690 C13.193,1.177 12.825,1.843 12.610,2.688 C12.395,3.533 12.398,4.307 12.621,5.008 C12.842,5.710 13.218,6.136 13.748,6.286 C14.278,6.437 14.808,6.268 15.338,5.781 C15.868,5.295 16.237,4.629 16.445,3.783 ZM9.559,2.688 C9.344,1.843 8.975,1.177 8.453,0.690 C7.930,0.203 7.403,0.034 6.874,0.185 C6.344,0.335 5.968,0.761 5.746,1.463 C5.523,2.165 5.520,2.939 5.735,3.783 C5.950,4.629 6.318,5.295 6.841,5.781 C7.364,6.268 7.890,6.437 8.420,6.286 C8.950,6.136 9.326,5.710 9.548,5.008 C9.770,4.307 9.774,3.533 9.559,2.688 ZM3.501,10.271 C3.930,10.000 4.163,9.516 4.199,8.822 C4.234,8.127 4.066,7.425 3.694,6.716 C3.321,6.007 2.852,5.499 2.287,5.190 C1.721,4.883 1.223,4.865 0.794,5.137 C0.364,5.409 0.128,5.892 0.085,6.587 C0.042,7.282 0.206,7.984 0.579,8.693 C0.951,9.401 1.424,9.910 1.997,10.218 C2.569,10.526 3.071,10.544 3.501,10.271 Z"/> </svg></div>
            <h3>Животные</h3>
          </div>
        </div>   
        <!-- DropDown для категория №10 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №10  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №11 -->
      <div class="find-grid  green-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="20px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M22.000,5.270 C22.000,4.969 21.892,4.711 21.677,4.496 L17.875,0.694 C17.660,0.465 17.201,0.350 16.500,0.350 L13.750,0.350 C13.750,0.880 13.510,1.241 13.030,1.435 C12.550,1.628 11.873,1.725 11.000,1.725 C10.126,1.725 9.449,1.628 8.970,1.435 C8.490,1.241 8.250,0.880 8.250,0.350 L5.500,0.350 C4.798,0.350 4.340,0.465 4.125,0.694 L0.322,4.496 C0.108,4.711 0.000,4.969 0.000,5.270 C0.000,5.570 0.108,5.828 0.322,6.043 L1.869,7.590 C2.084,7.805 2.345,7.912 2.653,7.912 C2.961,7.912 3.223,7.805 3.438,7.590 L4.125,6.924 L4.125,18.246 C4.125,18.619 4.257,18.941 4.523,19.213 C4.787,19.485 5.113,19.621 5.500,19.621 L16.500,19.621 C16.887,19.621 17.212,19.485 17.477,19.213 C17.742,18.941 17.875,18.619 17.875,18.246 L17.875,6.924 L18.562,7.590 C18.777,7.805 19.038,7.912 19.346,7.912 C19.654,7.912 19.916,7.805 20.131,7.590 L21.677,6.043 C21.892,5.828 22.000,5.570 22.000,5.270 Z"/> </svg></div>
            <h3>Личные вещи</h3>
          </div>
        </div> 
        <!-- DropDown для категория №11 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen+1</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №11  -->  
      </div>        
      <!-- END категория -->

      <!-- Категория №12 -->
      <div class="find-grid  gray-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.645,10.967 C21.409,9.700 21.065,8.472 20.614,7.283 C20.163,6.094 19.708,5.500 19.250,5.500 L19.250,2.750 C19.637,2.750 19.962,2.617 20.227,2.352 C20.492,2.088 20.625,1.765 20.625,1.385 C20.625,1.006 20.492,0.680 20.227,0.408 C19.962,0.136 19.637,-0.000 19.250,-0.000 L15.125,-0.000 C14.752,-0.000 14.430,0.136 14.158,0.408 C13.886,0.680 13.750,1.006 13.750,1.385 C13.750,1.765 13.886,2.088 14.158,2.352 C14.430,2.617 14.752,2.750 15.125,2.750 L15.125,5.886 C14.709,6.130 14.376,6.459 14.126,6.875 C13.875,7.290 13.750,7.748 13.750,8.250 L12.375,8.250 C12.375,7.878 12.242,7.555 11.977,7.283 C11.712,7.011 11.387,6.875 11.000,6.875 C10.613,6.875 10.287,7.007 10.022,7.272 C9.757,7.537 9.625,7.863 9.625,8.250 L8.250,8.250 C8.250,7.748 8.124,7.290 7.874,6.875 C7.623,6.459 7.290,6.130 6.875,5.886 L6.875,2.750 C7.262,2.750 7.587,2.617 7.853,2.352 C8.117,2.088 8.250,1.765 8.250,1.385 C8.250,1.006 8.117,0.680 7.853,0.408 C7.587,0.136 7.262,-0.000 6.875,-0.000 L2.750,-0.000 C2.377,-0.000 2.055,0.136 1.783,0.408 C1.511,0.680 1.375,1.006 1.375,1.385 C1.375,1.765 1.511,2.088 1.783,2.352 C2.055,2.617 2.377,2.750 2.750,2.750 L2.750,5.500 C2.291,5.500 1.837,6.094 1.386,7.283 C0.935,8.472 0.591,9.700 0.355,10.967 C0.118,12.235 0.000,13.162 0.000,13.750 L0.000,19.249 C0.000,20.009 0.269,20.657 0.806,21.194 C1.343,21.731 1.991,21.999 2.750,21.999 L5.500,21.999 C6.259,21.999 6.907,21.731 7.444,21.194 C7.981,20.657 8.250,20.009 8.250,19.249 L8.250,11.000 L9.625,11.000 C9.625,11.386 9.757,11.712 10.022,11.977 C10.287,12.242 10.613,12.375 11.000,12.375 C11.387,12.375 11.712,12.242 11.977,11.977 C12.242,11.712 12.375,11.386 12.375,11.000 L13.750,11.000 L13.750,19.249 C13.750,20.009 14.018,20.657 14.555,21.194 C15.093,21.731 15.740,21.999 16.500,21.999 L19.250,21.999 C20.009,21.999 20.657,21.731 21.194,21.194 C21.731,20.657 22.000,20.009 22.000,19.249 L22.000,13.750 C22.000,13.162 21.882,12.235 21.645,10.967 Z"/> </svg></div>
            <h3>Бюро находок</h3>
          </div>
        </div> 
        <!-- DropDown для категория №12 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансиTen+2</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №12  -->  
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 4 категории -->



  </div> 
  <!-- END Контейнер для всех категории   -->

</div> 
<!-- END Категории для больших экранов  -->



<!-- Категории для средних экранов  -->
<div class="find-category__small">

  <!-- Контейнер для всех категории -->
  <div class="find-category__content">    


    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
      
      <!-- Категория №1-->
      <div class="find-grid"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="19px"> <path fill-rule="evenodd"  fill="#fff" d="M21.623,14.925 C21.873,14.515 21.999,14.063 21.999,13.568 L21.999,9.497 C21.999,9.101 21.834,8.646 21.505,8.129 C21.175,7.614 20.760,7.122 20.259,6.656 L19.249,2.712 C19.249,1.963 18.981,1.323 18.444,0.793 C17.906,0.263 17.258,-0.002 16.499,-0.002 L5.501,-0.002 C4.741,-0.002 4.093,0.263 3.556,0.793 C3.019,1.323 2.751,1.963 2.751,2.712 L1.741,6.656 C1.240,7.122 0.824,7.614 0.495,8.129 C0.166,8.646 0.001,9.101 0.001,9.497 L0.001,13.568 C0.001,14.063 0.126,14.515 0.377,14.925 C0.627,15.335 0.960,15.660 1.376,15.900 L1.376,17.639 C1.376,18.021 1.512,18.342 1.784,18.604 C2.056,18.866 2.382,18.996 2.762,18.996 C3.141,18.996 3.463,18.866 3.728,18.604 C3.993,18.342 4.126,18.021 4.126,17.639 L4.126,16.282 L17.874,16.282 L17.874,17.639 C17.874,18.021 18.010,18.342 18.282,18.604 C18.554,18.866 18.880,18.996 19.260,18.996 C19.639,18.996 19.961,18.866 20.227,18.604 C20.491,18.342 20.624,18.021 20.624,17.639 L20.624,15.900 C21.039,15.660 21.372,15.335 21.623,14.925 ZM4.115,10.854 C4.494,10.854 4.820,10.988 5.092,11.257 C5.364,11.525 5.501,11.847 5.501,12.222 C5.501,12.596 5.364,12.914 5.092,13.176 C4.820,13.437 4.494,13.568 4.115,13.568 C3.735,13.568 3.413,13.437 3.148,13.176 C2.883,12.914 2.751,12.596 2.751,12.222 C2.751,11.847 2.883,11.525 3.148,11.257 C3.413,10.988 3.735,10.854 4.115,10.854 ZM17.874,6.783 C17.874,7.165 17.742,7.486 17.477,7.748 C17.212,8.009 16.886,8.140 16.499,8.140 L5.501,8.140 C5.114,8.140 4.788,8.009 4.523,7.748 C4.258,7.486 4.126,7.165 4.126,6.783 L4.813,4.069 C4.813,3.702 4.949,3.384 5.221,3.115 C5.493,2.847 5.815,2.712 6.188,2.712 L15.812,2.712 C16.199,2.712 16.524,2.847 16.789,3.115 C17.054,3.384 17.187,3.702 17.187,4.069 L17.874,6.783 ZM19.249,12.222 C19.249,12.596 19.117,12.914 18.852,13.176 C18.586,13.437 18.264,13.568 17.885,13.568 C17.505,13.568 17.179,13.437 16.907,13.176 C16.635,12.914 16.499,12.596 16.499,12.222 C16.499,11.847 16.635,11.525 16.907,11.257 C17.179,10.988 17.505,10.854 17.885,10.854 C18.264,10.854 18.586,10.988 18.852,11.257 C19.117,11.525 19.249,11.847 19.249,12.222 Z"/> </svg></div>
            <h3>Транспорт </h3>
          </div>
        </div>   
        <!-- DropDown для категория №1 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииOne</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №1  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №2 -->
      <div class="find-grid"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="18px" height="22px"> <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M16.444,21.194 C16.981,20.657 17.250,20.009 17.250,19.249 L17.250,2.750 C17.250,1.991 16.981,1.343 16.444,0.805 C15.907,0.268 15.259,-0.000 14.500,-0.000 L3.500,-0.000 C2.741,-0.000 2.093,0.268 1.556,0.805 C1.019,1.343 0.750,1.991 0.750,2.750 L0.750,19.249 C0.750,20.009 1.019,20.657 1.556,21.194 C2.093,21.731 2.741,21.999 3.500,21.999 L14.500,21.999 C15.259,21.999 15.907,21.731 16.444,21.194 ZM7.625,19.260 C7.625,18.881 7.761,18.555 8.033,18.282 C8.305,18.011 8.631,17.874 9.011,17.874 C9.390,17.874 9.712,18.011 9.977,18.282 C10.242,18.555 10.375,18.881 10.375,19.260 C10.375,19.640 10.242,19.962 9.977,20.227 C9.712,20.492 9.390,20.624 9.011,20.624 C8.631,20.624 8.305,20.492 8.033,20.227 C7.761,19.962 7.625,19.640 7.625,19.260 ZM15.875,16.499 L2.125,16.499 L2.125,2.750 L15.875,2.750 L15.875,16.499 ZM11.750,4.103 L3.500,4.103 L3.500,15.124 L11.750,4.103 Z"/> </svg></div>
            <h3>Электроника </h3>
          </div>
        </div>  
        <!-- DropDown для категория №2 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTwo</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №2  --> 
      </div>        
      <!-- END категория -->

    </div>
    <!-- END Контейнер для каждые 2 категории -->

    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
    
      <!-- Категория №3 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.591,21.602 C21.863,21.337 22.000,21.011 22.000,20.624 L22.000,12.374 L13.750,12.374 L13.750,13.749 C13.750,14.122 13.617,14.444 13.352,14.716 C13.087,14.989 12.762,15.124 12.375,15.124 L9.625,15.124 C9.252,15.124 8.930,14.989 8.658,14.716 C8.386,14.444 8.250,14.122 8.250,13.749 L8.250,12.374 L0.000,12.374 L0.000,20.624 C0.000,20.997 0.136,21.319 0.408,21.591 C0.680,21.863 1.002,21.999 1.375,21.999 L20.625,21.999 C20.997,21.999 21.319,21.867 21.591,21.602 ZM11.011,11.000 C10.631,11.000 10.305,11.132 10.033,11.397 C9.761,11.662 9.625,11.984 9.625,12.364 C9.625,12.743 9.761,13.070 10.033,13.341 C10.305,13.614 10.631,13.749 11.011,13.749 C11.390,13.749 11.712,13.614 11.977,13.341 C12.242,13.070 12.375,12.743 12.375,12.364 C12.375,11.984 12.242,11.662 11.977,11.397 C11.712,11.132 11.390,11.000 11.011,11.000 ZM13.352,10.022 C13.617,10.287 13.750,10.613 13.750,11.000 L22.000,11.000 L22.000,6.875 C22.000,6.488 21.863,6.162 21.591,5.897 C21.319,5.632 20.997,5.500 20.625,5.500 L16.500,5.500 L16.500,4.125 C16.500,2.979 16.099,2.005 15.297,1.203 C14.494,0.401 13.521,-0.000 12.375,-0.000 L9.625,-0.000 C8.479,-0.000 7.505,0.401 6.703,1.203 C5.901,2.005 5.500,2.979 5.500,4.125 L5.500,5.500 L1.375,5.500 C0.988,5.500 0.662,5.632 0.398,5.897 C0.132,6.162 0.000,6.488 0.000,6.875 L0.000,11.000 L8.250,11.000 C8.250,10.613 8.386,10.287 8.658,10.022 C8.930,9.757 9.252,9.625 9.625,9.625 L12.375,9.625 C12.762,9.625 13.087,9.757 13.352,10.022 ZM13.750,5.500 L8.250,5.500 L8.250,4.125 C8.250,3.738 8.386,3.412 8.658,3.147 C8.930,2.883 9.252,2.749 9.625,2.749 L12.375,2.749 C12.762,2.749 13.087,2.883 13.352,3.147 C13.617,3.412 13.750,3.738 13.750,4.125 L13.750,5.500 Z"/> </svg></div>
            <h3>Работа</h3>
          </div>
        </div>   
        <!-- DropDown для категория №3 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииThree</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №3  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №4 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M10.291,8.249 L10.269,8.228 C10.742,7.383 10.978,6.474 10.978,5.500 C10.978,4.010 10.459,2.732 9.421,1.665 C8.382,0.598 7.118,0.043 5.629,-0.000 L5.500,-0.000 L5.500,0.837 L7.262,2.599 C7.906,3.244 8.228,4.025 8.228,4.941 C8.228,5.858 7.906,6.638 7.262,7.283 C6.617,7.927 5.840,8.249 4.931,8.249 C4.021,8.249 3.244,7.927 2.600,7.283 L0.816,5.500 L0.000,5.500 L0.000,5.628 C0.043,7.118 0.594,8.386 1.654,9.431 C2.714,10.477 3.996,10.999 5.500,10.999 C6.459,10.999 7.362,10.756 8.207,10.269 C8.221,10.269 8.228,10.283 8.228,10.312 L17.144,21.806 C17.287,21.935 17.907,21.999 19.003,21.999 C20.098,21.999 20.718,21.935 20.861,21.806 L21.806,20.861 C21.935,20.718 22.000,20.098 22.000,19.002 C22.000,17.907 21.935,17.287 21.806,17.144 L21.806,17.144 L21.806,17.144 L10.291,8.249 ZM17.853,19.239 C17.853,18.859 17.989,18.537 18.261,18.272 C18.533,18.007 18.859,17.874 19.239,17.874 C19.618,17.874 19.941,18.007 20.206,18.272 C20.471,18.537 20.603,18.859 20.603,19.239 C20.603,19.618 20.471,19.944 20.206,20.216 C19.941,20.489 19.618,20.624 19.239,20.624 C18.859,20.624 18.533,20.489 18.261,20.216 C17.989,19.944 17.853,19.618 17.853,19.239 Z"/> </svg></div>
            <h3>Услуги </h3>
          </div>
        </div>
        <!-- DropDown для категория №4 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииFour</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №4  -->   
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 2 категории -->


    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
    
      <!-- Категория №5-->
      <div class="find-grid green-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.796,21.795 C21.932,21.659 22.000,21.498 22.000,21.312 C22.000,21.126 21.932,20.965 21.796,20.828 C21.659,20.693 21.498,20.624 21.312,20.624 L20.625,20.624 C20.252,20.624 19.930,20.492 19.658,20.227 C19.386,19.962 19.250,19.636 19.250,19.249 L19.250,1.375 C19.250,1.002 19.117,0.680 18.852,0.408 C18.587,0.136 18.262,-0.000 17.875,-0.000 L4.125,-0.000 C3.753,-0.000 3.430,0.136 3.158,0.408 C2.886,0.680 2.750,1.002 2.750,1.375 L2.750,19.249 C2.750,19.622 2.617,19.944 2.353,20.216 C2.087,20.489 1.762,20.624 1.375,20.624 L0.688,20.624 C0.501,20.624 0.340,20.693 0.204,20.828 C0.068,20.965 0.000,21.126 0.000,21.312 C0.000,21.498 0.068,21.659 0.204,21.795 C0.340,21.932 0.501,21.999 0.688,21.999 L21.312,21.999 C21.498,21.999 21.659,21.932 21.796,21.795 ZM8.250,4.812 C8.250,4.998 8.182,5.160 8.046,5.296 C7.910,5.432 7.748,5.500 7.562,5.500 L6.188,5.500 C6.001,5.500 5.840,5.432 5.704,5.296 C5.568,5.160 5.500,4.998 5.500,4.812 L5.500,3.437 C5.500,3.251 5.568,3.090 5.704,2.954 C5.840,2.818 6.001,2.750 6.188,2.750 L7.562,2.750 C7.748,2.750 7.910,2.818 8.046,2.954 C8.182,3.090 8.250,3.251 8.250,3.437 L8.250,4.812 ZM8.250,8.937 C8.250,9.123 8.182,9.285 8.046,9.420 C7.910,9.557 7.748,9.625 7.562,9.625 L6.188,9.625 C6.001,9.625 5.840,9.557 5.704,9.420 C5.568,9.285 5.500,9.123 5.500,8.937 L5.500,7.562 C5.500,7.376 5.568,7.215 5.704,7.078 C5.840,6.943 6.001,6.875 6.188,6.875 L7.562,6.875 C7.748,6.875 7.910,6.943 8.046,7.078 C8.182,7.215 8.250,7.376 8.250,7.562 L8.250,8.937 ZM8.250,13.062 C8.250,13.248 8.182,13.410 8.046,13.546 C7.910,13.682 7.748,13.750 7.562,13.750 L6.188,13.750 C6.001,13.750 5.840,13.682 5.704,13.546 C5.568,13.410 5.500,13.248 5.500,13.062 L5.500,11.687 C5.500,11.501 5.568,11.340 5.704,11.203 C5.840,11.068 6.001,10.999 6.188,10.999 L7.562,10.999 C7.748,10.999 7.910,11.068 8.046,11.203 C8.182,11.340 8.250,11.501 8.250,11.687 L8.250,13.062 ZM12.375,4.812 C12.375,4.998 12.307,5.160 12.171,5.296 C12.035,5.432 11.873,5.500 11.687,5.500 L10.312,5.500 C10.126,5.500 9.965,5.432 9.829,5.296 C9.693,5.160 9.625,4.998 9.625,4.812 L9.625,3.437 C9.625,3.251 9.693,3.090 9.829,2.954 C9.965,2.818 10.126,2.750 10.312,2.750 L11.687,2.750 C11.873,2.750 12.035,2.818 12.171,2.954 C12.307,3.090 12.375,3.251 12.375,3.437 L12.375,4.812 ZM12.375,8.937 C12.375,9.123 12.307,9.285 12.171,9.420 C12.035,9.557 11.873,9.625 11.687,9.625 L10.312,9.625 C10.126,9.625 9.965,9.557 9.829,9.420 C9.693,9.285 9.625,9.123 9.625,8.937 L9.625,7.562 C9.625,7.376 9.693,7.215 9.829,7.078 C9.965,6.943 10.126,6.875 10.312,6.875 L11.687,6.875 C11.873,6.875 12.035,6.943 12.171,7.078 C12.307,7.215 12.375,7.376 12.375,7.562 L12.375,8.937 ZM12.375,13.062 C12.375,13.248 12.307,13.410 12.171,13.546 C12.035,13.682 11.873,13.750 11.687,13.750 L10.312,13.750 C10.126,13.750 9.965,13.682 9.829,13.546 C9.693,13.410 9.625,13.248 9.625,13.062 L9.625,11.687 C9.625,11.501 9.693,11.340 9.829,11.203 C9.965,11.068 10.126,10.999 10.312,10.999 L11.687,10.999 C11.873,10.999 12.035,11.068 12.171,11.203 C12.307,11.340 12.375,11.501 12.375,11.687 L12.375,13.062 ZM13.546,16.703 C13.682,16.840 13.750,17.001 13.750,17.187 L13.750,19.937 C13.750,20.123 13.682,20.284 13.546,20.420 C13.409,20.557 13.248,20.624 13.062,20.624 L8.938,20.624 C8.751,20.624 8.590,20.557 8.454,20.420 C8.318,20.284 8.250,20.123 8.250,19.937 L8.250,17.187 C8.250,17.001 8.318,16.840 8.454,16.703 C8.590,16.568 8.751,16.499 8.938,16.499 L13.062,16.499 C13.248,16.499 13.409,16.568 13.546,16.703 ZM16.500,4.812 C16.500,4.998 16.432,5.160 16.296,5.296 C16.160,5.432 15.998,5.500 15.812,5.500 L14.437,5.500 C14.251,5.500 14.090,5.432 13.954,5.296 C13.818,5.160 13.750,4.998 13.750,4.812 L13.750,3.437 C13.750,3.251 13.818,3.090 13.954,2.954 C14.090,2.818 14.251,2.750 14.437,2.750 L15.812,2.750 C15.998,2.750 16.160,2.818 16.296,2.954 C16.432,3.090 16.500,3.251 16.500,3.437 L16.500,4.812 ZM16.500,8.937 C16.500,9.123 16.432,9.285 16.296,9.420 C16.160,9.557 15.998,9.625 15.812,9.625 L14.437,9.625 C14.251,9.625 14.090,9.557 13.954,9.420 C13.818,9.285 13.750,9.123 13.750,8.937 L13.750,7.562 C13.750,7.376 13.818,7.215 13.954,7.078 C14.090,6.943 14.251,6.875 14.437,6.875 L15.812,6.875 C15.998,6.875 16.160,6.943 16.296,7.078 C16.432,7.215 16.500,7.376 16.500,7.562 L16.500,8.937 ZM16.500,13.062 C16.500,13.248 16.432,13.410 16.296,13.546 C16.160,13.682 15.998,13.750 15.812,13.750 L14.437,13.750 C14.251,13.750 14.090,13.682 13.954,13.546 C13.818,13.410 13.750,13.248 13.750,13.062 L13.750,11.687 C13.750,11.501 13.818,11.340 13.954,11.203 C14.090,11.068 14.251,10.999 14.437,10.999 L15.812,10.999 C15.998,10.999 16.160,11.068 16.296,11.203 C16.432,11.340 16.500,11.501 16.500,11.687 L16.500,13.062 Z"/> </svg></div>
            <h3>Недвижимость </h3>
          </div>
        </div>  
        <!-- DropDown для категория №5 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииFive</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №5  -->
      </div>        
      <!-- END категория -->

      <!-- Категория №6 -->
      <div class="find-grid green-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.579,9.923 L12.051,0.395 C11.765,0.109 11.415,-0.026 11.000,-0.013 C10.585,-0.026 10.234,0.109 9.948,0.395 L0.420,9.923 C0.149,10.195 0.013,10.528 0.013,10.921 C0.013,11.315 0.152,11.651 0.431,11.930 C0.710,12.209 1.046,12.348 1.440,12.348 C1.833,12.348 2.166,12.212 2.438,11.940 L2.760,11.619 L2.760,20.610 C2.760,20.982 2.892,21.304 3.156,21.576 C3.421,21.848 3.747,21.983 4.133,21.983 L8.253,21.983 L8.253,15.803 C8.253,15.617 8.321,15.456 8.457,15.320 C8.593,15.184 8.754,15.116 8.940,15.116 L13.060,15.116 C13.246,15.116 13.407,15.184 13.543,15.320 C13.679,15.456 13.747,15.617 13.747,15.803 L13.747,21.983 L17.867,21.983 C18.253,21.983 18.578,21.848 18.843,21.576 C19.108,21.304 19.240,20.982 19.240,20.610 L19.240,11.619 L19.562,11.940 C19.834,12.212 20.166,12.348 20.560,12.348 C20.953,12.348 21.290,12.209 21.569,11.930 C21.848,11.651 21.987,11.315 21.987,10.921 C21.987,10.528 21.851,10.195 21.579,9.923 L21.579,9.923 Z"/> </svg></div>
            <h3>Дом и сад</h3>
          </div>
        </div>  
        <!-- DropDown для категория №6 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииSix</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №6  --> 
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 2 категории -->

    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
    
      <!-- Категория №7 -->
      <div class="find-grid  red-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg style='position:relative; left: 6px' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M8.255,0.526 C8.176,0.175 7.979,-0.000 7.664,-0.000 L0.682,-0.000 C0.367,-0.000 0.163,0.175 0.070,0.526 C-0.024,0.877 0.023,1.138 0.209,1.310 L2.852,4.361 L0.252,16.628 C0.123,16.944 0.055,17.162 0.048,17.284 C0.041,17.405 0.109,17.559 0.252,17.745 L3.582,21.763 C3.740,21.921 3.929,21.999 4.152,21.999 C4.374,21.999 4.556,21.921 4.699,21.763 L8.051,17.745 C8.151,17.646 8.212,17.538 8.234,17.423 C8.255,17.309 8.251,17.205 8.223,17.112 C8.194,17.019 8.137,16.858 8.051,16.628 L5.451,4.383 L8.115,1.310 C8.287,1.138 8.334,0.877 8.255,0.526 Z"/> </svg></div>
            <h3>Бизнес</h3>
          </div>
        </div>  
        <!-- DropDown для категория №7 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииSeven</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №7  --> 
      </div>        
      <!-- END категория -->

      <!-- Категория №8 -->
      <div class="find-grid  gray-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.796,9.420 C21.932,9.285 22.000,9.123 22.000,8.937 L22.000,7.562 C22.000,7.362 21.932,7.197 21.796,7.068 C21.659,6.939 21.498,6.875 21.312,6.875 L12.375,6.875 L12.375,9.625 L21.312,9.625 C21.498,9.625 21.659,9.557 21.796,9.420 ZM15.694,4.694 C16.231,4.157 16.500,3.509 16.500,2.750 C16.500,1.991 16.231,1.342 15.694,0.805 C15.157,0.268 14.509,-0.000 13.750,-0.000 C13.449,-0.000 13.177,0.036 12.933,0.107 C12.690,0.179 12.475,0.265 12.289,0.365 C12.103,0.465 11.942,0.616 11.806,0.816 C11.669,1.017 11.555,1.199 11.462,1.364 C11.368,1.529 11.293,1.765 11.236,2.073 C11.179,2.381 11.132,2.635 11.097,2.836 C11.061,3.036 11.036,3.323 11.021,3.695 C11.007,4.068 11.000,4.358 11.000,4.565 C11.000,4.773 11.000,5.084 11.000,5.500 C10.513,4.998 10.155,4.454 9.926,3.867 C9.696,3.280 9.564,2.775 9.528,2.352 C9.492,1.930 9.424,1.529 9.324,1.149 C9.224,0.770 8.984,0.483 8.604,0.290 C8.225,0.096 7.648,-0.000 6.875,-0.000 C6.116,-0.000 5.468,0.268 4.931,0.805 C4.394,1.342 4.125,1.991 4.125,2.750 C4.125,3.509 4.394,4.157 4.931,4.694 C5.468,5.231 6.116,5.500 6.875,5.500 L13.750,5.500 C14.509,5.500 15.157,5.231 15.694,4.694 ZM8.250,2.739 C8.250,3.119 8.114,3.445 7.842,3.717 C7.569,3.988 7.244,4.125 6.864,4.125 C6.485,4.125 6.162,3.988 5.898,3.717 C5.632,3.445 5.500,3.119 5.500,2.739 C5.500,2.360 5.632,2.038 5.898,1.772 C6.162,1.507 6.485,1.375 6.864,1.375 C7.244,1.375 7.569,1.507 7.842,1.772 C8.114,2.038 8.250,2.360 8.250,2.739 ZM15.125,2.739 C15.125,3.119 14.989,3.445 14.717,3.717 C14.444,3.988 14.122,4.125 13.750,4.125 C13.377,4.125 13.055,3.988 12.783,3.717 C12.511,3.445 12.375,3.119 12.375,2.739 C12.375,2.360 12.507,2.038 12.772,1.772 C13.037,1.507 13.360,1.375 13.739,1.375 C14.118,1.375 14.444,1.507 14.717,1.772 C14.989,2.038 15.125,2.360 15.125,2.739 ZM9.625,6.875 L0.688,6.875 C0.501,6.875 0.340,6.939 0.204,7.068 C0.068,7.197 0.000,7.362 0.000,7.562 L0.000,8.937 C0.000,9.123 0.068,9.285 0.204,9.420 C0.340,9.557 0.501,9.625 0.688,9.625 L9.625,9.625 L9.625,6.875 ZM9.625,10.999 L1.375,10.999 L1.375,20.624 C1.375,20.997 1.507,21.319 1.773,21.591 C2.037,21.863 2.363,21.999 2.750,21.999 L9.625,21.999 L9.625,10.999 ZM12.375,10.999 L12.375,21.999 L19.250,21.999 C19.636,21.999 19.962,21.863 20.227,21.591 C20.492,21.319 20.625,20.997 20.625,20.624 L20.625,10.999 L12.375,10.999 Z"/> </svg></div>
            <h3>Бесплатные вещи </h3>
          </div>
        </div>  
        <!-- DropDown для категория №8 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииEight</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №8  --> 
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 2 категории -->

    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
    
      <!-- Категория №9-->
      <div class="find-grid green-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M18.079,11.730 C19.318,11.243 20.625,11.000 22.000,11.000 C22.000,9.624 21.760,8.318 21.280,7.079 C20.800,5.840 20.116,4.719 19.228,3.716 L11.967,11.000 L14.717,13.771 C15.719,12.897 16.840,12.217 18.079,11.730 ZM11.000,10.033 L18.283,2.771 C17.280,1.898 16.159,1.217 14.921,0.730 C13.682,0.243 12.375,-0.000 11.000,-0.000 C11.000,1.375 10.760,2.682 10.280,3.921 C9.800,5.159 9.116,6.280 8.228,7.283 L11.000,10.033 ZM7.262,6.294 C8.809,4.519 9.596,2.456 9.625,0.107 C7.391,0.379 5.428,1.267 3.738,2.771 L7.262,6.294 ZM2.772,3.738 C1.268,5.428 0.372,7.390 0.086,9.624 C2.449,9.596 4.519,8.808 6.295,7.261 L2.772,3.738 ZM7.283,8.228 C6.281,9.116 5.160,9.800 3.921,10.280 C2.682,10.760 1.375,11.000 0.000,11.000 C0.000,12.375 0.244,13.682 0.731,14.920 C1.217,16.159 1.898,17.280 2.772,18.283 L10.033,11.000 L7.283,8.228 ZM11.000,11.966 L3.717,19.228 C4.719,20.116 5.840,20.800 7.079,21.279 C8.318,21.760 9.625,21.999 11.000,21.999 C11.000,20.624 11.240,19.317 11.720,18.079 C12.199,16.840 12.883,15.719 13.771,14.716 L11.000,11.966 ZM14.738,15.704 C13.191,17.495 12.403,19.565 12.375,21.913 C14.609,21.627 16.571,20.732 18.261,19.228 L14.738,15.704 ZM15.705,14.738 L19.228,18.261 C20.732,16.571 21.627,14.609 21.914,12.375 C19.551,12.403 17.481,13.191 15.705,14.738 L15.705,14.738 Z"/> </svg></div>
            <h3>Хобби и отдых </h3>
          </div>
        </div>
        <!-- DropDown для категория №9 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииNine</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №9  -->   
      </div>        
      <!-- END категория -->

      <!-- Категория №10 -->
      <div class="find-grid green-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="19px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.375,5.137 C20.946,4.865 20.448,4.883 19.882,5.190 C19.316,5.499 18.847,6.007 18.475,6.716 C18.102,7.425 17.934,8.127 17.970,8.822 C18.006,9.516 18.239,10.000 18.668,10.271 C19.098,10.544 19.599,10.526 20.172,10.218 C20.745,9.910 21.218,9.401 21.590,8.693 C21.962,7.984 22.127,7.282 22.084,6.587 C22.041,5.892 21.805,5.409 21.375,5.137 ZM14.522,18.618 C15.166,18.568 15.650,18.486 15.972,18.371 C16.294,18.257 16.634,18.099 16.993,17.899 C17.350,17.698 17.601,17.436 17.745,17.114 C17.887,16.792 17.959,16.409 17.959,15.965 C17.959,15.363 17.845,14.690 17.616,13.945 C17.386,13.201 17.057,12.467 16.627,11.743 C16.198,11.020 15.707,10.354 15.156,9.745 C14.604,9.137 13.970,8.646 13.254,8.274 C12.538,7.901 11.815,7.715 11.084,7.715 C10.354,7.715 9.631,7.901 8.915,8.274 C8.198,8.646 7.564,9.137 7.013,9.745 C6.462,10.354 5.971,11.020 5.542,11.743 C5.112,12.467 4.782,13.201 4.553,13.945 C4.324,14.690 4.210,15.363 4.210,15.965 C4.210,16.409 4.281,16.792 4.424,17.114 C4.567,17.436 4.818,17.698 5.176,17.899 C5.534,18.099 5.875,18.257 6.197,18.371 C6.519,18.486 7.002,18.568 7.647,18.618 C8.292,18.668 8.818,18.697 9.226,18.704 C9.634,18.711 10.254,18.715 11.084,18.715 C11.915,18.715 12.535,18.711 12.943,18.704 C13.351,18.697 13.877,18.668 14.522,18.618 ZM16.445,3.783 C16.652,2.939 16.645,2.165 16.423,1.463 C16.201,0.761 15.825,0.335 15.295,0.185 C14.765,0.034 14.239,0.203 13.716,0.690 C13.193,1.177 12.825,1.843 12.610,2.688 C12.395,3.533 12.398,4.307 12.621,5.008 C12.842,5.710 13.218,6.136 13.748,6.286 C14.278,6.437 14.808,6.268 15.338,5.781 C15.868,5.295 16.237,4.629 16.445,3.783 ZM9.559,2.688 C9.344,1.843 8.975,1.177 8.453,0.690 C7.930,0.203 7.403,0.034 6.874,0.185 C6.344,0.335 5.968,0.761 5.746,1.463 C5.523,2.165 5.520,2.939 5.735,3.783 C5.950,4.629 6.318,5.295 6.841,5.781 C7.364,6.268 7.890,6.437 8.420,6.286 C8.950,6.136 9.326,5.710 9.548,5.008 C9.770,4.307 9.774,3.533 9.559,2.688 ZM3.501,10.271 C3.930,10.000 4.163,9.516 4.199,8.822 C4.234,8.127 4.066,7.425 3.694,6.716 C3.321,6.007 2.852,5.499 2.287,5.190 C1.721,4.883 1.223,4.865 0.794,5.137 C0.364,5.409 0.128,5.892 0.085,6.587 C0.042,7.282 0.206,7.984 0.579,8.693 C0.951,9.401 1.424,9.910 1.997,10.218 C2.569,10.526 3.071,10.544 3.501,10.271 Z"/> </svg></div>
            <h3>Животные</h3>
          </div>
        </div>  
        <!-- DropDown для категория №10 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №10  --> 
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 2 категории -->

    <!-- Контейнер для каждые 2 категории --> 
    <div class="grid-find__small"> 
    
      <!-- Категория №11 -->
      <div class="find-grid  green-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="20px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M22.000,5.270 C22.000,4.969 21.892,4.711 21.677,4.496 L17.875,0.694 C17.660,0.465 17.201,0.350 16.500,0.350 L13.750,0.350 C13.750,0.880 13.510,1.241 13.030,1.435 C12.550,1.628 11.873,1.725 11.000,1.725 C10.126,1.725 9.449,1.628 8.970,1.435 C8.490,1.241 8.250,0.880 8.250,0.350 L5.500,0.350 C4.798,0.350 4.340,0.465 4.125,0.694 L0.322,4.496 C0.108,4.711 0.000,4.969 0.000,5.270 C0.000,5.570 0.108,5.828 0.322,6.043 L1.869,7.590 C2.084,7.805 2.345,7.912 2.653,7.912 C2.961,7.912 3.223,7.805 3.438,7.590 L4.125,6.924 L4.125,18.246 C4.125,18.619 4.257,18.941 4.523,19.213 C4.787,19.485 5.113,19.621 5.500,19.621 L16.500,19.621 C16.887,19.621 17.212,19.485 17.477,19.213 C17.742,18.941 17.875,18.619 17.875,18.246 L17.875,6.924 L18.562,7.590 C18.777,7.805 19.038,7.912 19.346,7.912 C19.654,7.912 19.916,7.805 20.131,7.590 L21.677,6.043 C21.892,5.828 22.000,5.570 22.000,5.270 Z"/> </svg></div>
            <h3>Личные вещи</h3>
          </div>
        </div>
        <!-- DropDown для категория №11 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen+1</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №11  -->   
      </div>        
      <!-- END категория -->

      <!-- Категория №12 -->
      <div class="find-grid  gray-icon"> 
        <div class="find-category__item" contenteditable="true">
          <div class="find-category__title">
            <div class="find-title__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd" fill="rgb(255, 255, 255)" d="M21.645,10.967 C21.409,9.700 21.065,8.472 20.614,7.283 C20.163,6.094 19.708,5.500 19.250,5.500 L19.250,2.750 C19.637,2.750 19.962,2.617 20.227,2.352 C20.492,2.088 20.625,1.765 20.625,1.385 C20.625,1.006 20.492,0.680 20.227,0.408 C19.962,0.136 19.637,-0.000 19.250,-0.000 L15.125,-0.000 C14.752,-0.000 14.430,0.136 14.158,0.408 C13.886,0.680 13.750,1.006 13.750,1.385 C13.750,1.765 13.886,2.088 14.158,2.352 C14.430,2.617 14.752,2.750 15.125,2.750 L15.125,5.886 C14.709,6.130 14.376,6.459 14.126,6.875 C13.875,7.290 13.750,7.748 13.750,8.250 L12.375,8.250 C12.375,7.878 12.242,7.555 11.977,7.283 C11.712,7.011 11.387,6.875 11.000,6.875 C10.613,6.875 10.287,7.007 10.022,7.272 C9.757,7.537 9.625,7.863 9.625,8.250 L8.250,8.250 C8.250,7.748 8.124,7.290 7.874,6.875 C7.623,6.459 7.290,6.130 6.875,5.886 L6.875,2.750 C7.262,2.750 7.587,2.617 7.853,2.352 C8.117,2.088 8.250,1.765 8.250,1.385 C8.250,1.006 8.117,0.680 7.853,0.408 C7.587,0.136 7.262,-0.000 6.875,-0.000 L2.750,-0.000 C2.377,-0.000 2.055,0.136 1.783,0.408 C1.511,0.680 1.375,1.006 1.375,1.385 C1.375,1.765 1.511,2.088 1.783,2.352 C2.055,2.617 2.377,2.750 2.750,2.750 L2.750,5.500 C2.291,5.500 1.837,6.094 1.386,7.283 C0.935,8.472 0.591,9.700 0.355,10.967 C0.118,12.235 0.000,13.162 0.000,13.750 L0.000,19.249 C0.000,20.009 0.269,20.657 0.806,21.194 C1.343,21.731 1.991,21.999 2.750,21.999 L5.500,21.999 C6.259,21.999 6.907,21.731 7.444,21.194 C7.981,20.657 8.250,20.009 8.250,19.249 L8.250,11.000 L9.625,11.000 C9.625,11.386 9.757,11.712 10.022,11.977 C10.287,12.242 10.613,12.375 11.000,12.375 C11.387,12.375 11.712,12.242 11.977,11.977 C12.242,11.712 12.375,11.386 12.375,11.000 L13.750,11.000 L13.750,19.249 C13.750,20.009 14.018,20.657 14.555,21.194 C15.093,21.731 15.740,21.999 16.500,21.999 L19.250,21.999 C20.009,21.999 20.657,21.731 21.194,21.194 C21.731,20.657 22.000,20.009 22.000,19.249 L22.000,13.750 C22.000,13.162 21.882,12.235 21.645,10.967 Z"/> </svg></div>
            <h3>Бюро находок</h3>
          </div>
        </div>   
        <!-- DropDown для категория №12 -->
        <div class="find-category__dropdown hidden">
          <div class="find-dropdown__content">
            <ul>
              <li><a href="#"><a href='#'><span class="title">Все вакансииTen+2</span></a>
                <span class="number">30 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Розничная торгавля / продажи / закупки</span></a>
                <span class="number">5 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Бары / рестораны</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Туризм / отдых / развлечения</span></a>
                <span class="number">8 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Недвижимость</span></a>
                <span class="number">4 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Частичная занятость</span></a>
                <span class="number">1 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Красота / фитнес / спорт</span></a>
                <span class="number">2 сегодня</span></a></li>
              <li><a href="#"><a href='#'><span class="title">Образование</span></a>
                <span class="number">2 сегодня</span></a></li>
            </ul>
          </div>
        </div>
        <!-- END DropDown для категория №12  -->
      </div>        
      <!-- END категория -->
      
    </div> 
    <!-- END Контейнер для каждые 2 категории -->
  
  </div>
  <!--END Контайнер для всех категории  -->


</div>
<!--END Категории для маленьких экранов  -->

</section>
