<footer>
  
  <div class="footer-text">

    <p>Покупайте, продавайте и обменивайте б/у и новые товары такие, как: автомобили (BMW, Mercedes, Toyota, Mazda, Mitsubishi, Honda, Audi, Nissan и т.д.), недвижимость на Кипре, компьютеры, мобильные телефоны и гаджеты (Samsung, Apple, Htc, Lg и т.д .), игровые приставки (Xbox, PlayStation, WII и т.д.), бытовую технику(BOSCH, AEG, Miele, Braun и т.д.), животных, мебель и многое другое.</p>

  </div>

  <div class="footer-copyright">
    <p>© BAZAR-CY — сайт бесплатных объявлений. Использование сайта, в том числе подача объявлений, означает согласие с пользовательским соглашением. 
Оплачивая услуги на сайте, вы принимаете оферту. Информация о cookies.</p>
  </div>

</footer>

<script>
var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}
var dxpnds = false;
function showCity() {
  var checkboxes = document.getElementById("checkboxes-city");
  if (!dxpnds) {
    checkboxes.style.display = "block";
    dxpnds = true;
  } else {
    checkboxes.style.display = "none";
    dxpnds = false;
  }
}

</script>
<link rel="stylesheet" href="css/main.min.css">
<script src="js/scripts.min.js"></script>
<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>

<script src="libs/jQueryFormStyler-master/dist/jquery.formstyler.min.js"></script> 
<script src="libs/fileuploader/jquery.fileuploader.min.js"></script>
<script src="libs/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script>
  function updateTextInput(val){
  var MinInput = document.getElementsByClassName('irs-from')[0];
  MinInput = MinInput.innerHTML;
  console.log(MinInput)

  var MaxInput = document.getElementsByClassName('irs-to')[0];
  MaxInput = MaxInput.innerHTML;
  console.log(MaxInput)
  

  document.getElementById('textInput').value= MinInput + ' литров - ' + MaxInput + ' литр'; 
}

</script>
<script src='libs/swipe/js/swiper.min.js'></script>


<script src='libs/OwlCarousel/dist/owl.carousel.min.js'></script>

<script src='libs/owl.carousel2.thumbs/dist/owl.carousel2.thumbs.min.js'></script>


 <!-- <script>
function l_image(i) { 
document.example_img.src = i 
}
</script>  -->


<!-- <script>
  if(document.getElementsByClassName('new-item__body')[0] || document.getElementsByClassName('settings-body')[0] ){
  function initMap() {33.602186, 33.602186
	var uluru = {lat: 34.929005, lng: 33.602186};
	var uluru2 = {lat: 34.928818, lng: 33.747197};
	var map = new google.maps.Map(document.getElementById('map'), { // id - блок, где будет находится карта
	zoom: 10, //Масштаб по умолчанию
	center: uluru,
	mapTypeId: 'roadmap', // Тип карты
	});

	var marker = new google.maps.Marker({
	position: uluru2, // позиция маркера
	map: map,
	icon: 'img/map-marker.png' //Путь до маркера
  });

}
  }
</script> -->