<header class="header">

  <div class="header-content__left">

    <div class="header-logo">
      <a href="index.html">
        <img src="img/logo.png" alt="Cyprus BAZAR">
      </a>
    </div>

    <div class="header-free__ads">

      <a href="#">
      <span>Бесплатные</span>
        <span>объявления</span>
      </a>

    </div>

    <div class="header-icon__apple">
      <a href="#">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="22px" height="26px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="svg replaced-svg"> <g> <path d="M395.748,272.046c-0.646-64.841,52.88-95.938,55.271-97.483c-30.075-44.01-76.925-50.039-93.62-50.736   c-39.871-4.037-77.798,23.474-98.033,23.474c-20.184,0-51.409-22.877-84.476-22.276c-43.458,0.646-83.529,25.269-105.906,64.19   c-45.152,78.35-11.563,194.42,32.445,257.963c21.504,31.104,47.146,66.038,80.813,64.79c32.421-1.294,44.681-20.979,83.878-20.979   c39.196,0,50.215,20.979,84.524,20.335c34.888-0.648,56.991-31.699,78.347-62.898c24.694-36.084,34.862-71.019,35.462-72.812   C463.678,375.26,396.422,349.495,395.748,272.046z M331.28,81.761C349.149,60.082,361.21,30.005,357.92,0   c-25.739,1.048-56.938,17.145-75.405,38.775c-16.57,19.188-31.075,49.813-27.188,79.218   C284.061,120.235,313.392,103.391,331.28,81.761z" fill="#c1c1c1"></path>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  <g>  </g>  </svg>
      </a>
    </div>

    <div class="header-icon__market">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 505.499 505.499" style="enable-background:new 0 0 505.499 505.499;" xml:space="preserve" width="22px" height="24px" class="svg replaced-svg"> <g> <g> <g> <path d="M471.497,234.466l-92.082-53.135l-75.733,73.207l69.215,66.907l98.599-56.91c5.432-3.133,8.678-8.756,8.678-15.03     C480.175,243.23,476.929,237.607,471.497,234.466z" fill="#c1c1c1"></path> <polygon points="363.785,172.301 262.453,113.803 40.375,0 291.203,242.471    " fill="#c1c1c1"></polygon> <polygon points="44.063,505.499 262.834,384.988 357.268,330.473 291.203,266.604    " fill="#c1c1c1"></polygon> <polygon points="25.559,9.815 25.324,499.486 278.721,254.533  " fill="#c1c1c1"></polygon> </g> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg>
      </a>
    </div>

    <div class="header-language">
      <form action="" class="select-language">
        <select>
          <option value="RU">RU</option>
          <option value="EN">EN</option>
          <option value="GR">GR</option>
        </select>
      </form>
    </div>


  
  </div>

  <div class="header-content__right">
    

    <div class="header-likes">
      
      <a href="#">

          <div class="header-likes__icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" fill="#c1c1c1" id="Layer_1" x="0px" y="0px" width="24px" height="23px" viewBox="0 0 319.992 304.076" enable-background="new 0 0 319.992 304.076" xml:space="preserve" class="svg replaced-svg"> <g> <path d="M87.572,25c17.779,0,31.593,6.241,43.474,19.643c2.33,2.628,4.708,5.245,7.008,7.776c1.068,1.175,2.148,2.363,3.242,3.573   l18.41,20.362l18.556-20.229c4.036-4.4,8.057-8.752,12.302-13.318c11.204-12.064,24.563-17.683,42.039-17.683   c2.748,0,5.635,0.144,8.591,0.43c25.051,2.412,40.281,15.844,49.379,43.543c7.244,22.089,5.612,44.894-4.991,69.718   c-8.748,20.478-22.165,40.186-42.224,62.024c-22.268,24.245-48.386,46.981-83.436,72.515c-4.46-3.275-8.955-6.602-13.318-9.919   c-33.031-25.172-57.759-47.832-77.814-71.304c-18.98-22.232-30.916-41.787-37.563-61.54c-9.673-28.752-8.065-54.023,4.92-77.263   c8.422-15.08,19.54-23.761,34.008-26.543C76.289,25.601,82.147,25,87.569,25H87.572L87.572,25 M87.568,0   c-7.179,0-14.579,0.776-22.152,2.239c-23.075,4.437-39.844,18.756-51.094,38.9c-17.457,31.244-18,64.1-6.788,97.425   c8.869,26.356,24.369,48.862,42.244,69.8c24.175,28.294,52.15,52.456,81.675,74.956c9.338,7.1,18.844,13.937,28.088,20.756   c0.369-0.134,0.728-0.292,1.075-0.475c36.325-25.563,71.019-53.037,101.156-85.85c19.019-20.706,35.669-43.056,46.801-69.113   c12.143-28.431,15.462-57.737,5.756-87.331C303.115,27.17,281.24,4.295,243.59,0.67c-3.724-0.36-7.385-0.545-10.987-0.545   c-23.091,0-43.597,7.624-60.357,25.67c-4.068,4.375-8.112,8.75-12.406,13.431c-3.481-3.85-6.819-7.481-10.088-11.168   C132.245,8.309,111.067-0.001,87.568,0L87.568,0z"></path> </g> </svg></div>
          <span class="header-likes__number">15</span>

      </a>

    </div>


    <div class="auth">

      <div class="auth-login__yes" opened='0'>

      <a href="#">  

          <div class="auth-login__icon">
           
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="23px" height="24px" viewBox="40 5.714 320 308.571" enable-background="new 40 5.714 320 308.571" xml:space="preserve" class="svg replaced-svg">
            <g>
              <path d="M242.58,222.406c-7.896-1.256-2.076-22.969-2.076-22.969s14.203-22.97,19.26-53.858c13.604,0,22.006-32.838,8.4-44.391   C268.734,89.025,285.65,5.714,200,5.714c-85.651,0-68.732,83.311-68.166,95.473c-13.605,11.554-5.204,44.391,8.401,44.391   c5.056,30.888,19.26,53.858,19.26,53.858s5.82,21.713-2.076,22.969C131.983,226.453,40,268.347,40,314.286h160h160   C360,268.347,268.016,226.453,242.58,222.406z"></path>
            </g>
            </svg>
          </div>

          <div class="auth-login__name">
            <span>Константин</span>
          </div>

      </a>

      </div>

      <div class="auth-login__no hidden">
        <a href="#">Войти</a>
      </div>

    </div>

     <div class="add-ads">

      <button class="add-ads">
        <a href="add.html">
          <span class="add-plus"><img src="img/add.svg" alt="AddAds" class="svg"></span> 
          <span>Подать объявления</span>
        </a>
      </button>

    </div> 

    <div class="mobile-burger">
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="34px" height="26px">
        <path fill-rule="evenodd"  fill="rgb(193, 193, 193)"
        d="M-0.000,26.000 L-0.000,24.000 L34.000,24.000 L34.000,26.000 L-0.000,26.000 ZM-0.000,12.000 L34.000,12.000 L34.000,14.000 L-0.000,14.000 L-0.000,12.000 ZM-0.000,-0.000 L34.000,-0.000 L34.000,2.000 L-0.000,2.000 L-0.000,-0.000 Z"/>
      </svg>
    </div>

    


  </div>


</header>