<section class="my-bonuses"> 

  <div class="my-bonuses__title">
    <h2>Мои бонусы</h2>
  </div>

  <div class="my-bonuses__content">

<div class="my-ads__container  my-bonuses__container">

  <div class="my-ads__image">

    <img src="img/img1.png" alt="Мои объявления">

    <div class="ads-image__more">

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>

    </div>

  </div>

  <div class="my-ads__title">
    <h4>Однокомнатная квартира в Лимассоле с мебелью и интернетом</h4>
  </div>


  <div class="my-ads__information">

    <div class="ads-information__city">Лимассол></div>
    <div class="ads-information__date">26 Aпр 18:04</div>

  </div>


  <div class="my-ads__price">3 000 €</div>

  <div class="ads-option__price">

    <div class="ads__actions">
      <span><svg   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5px" height="23px"> <path fill-rule="evenodd"  d="M3.000,23.000 L2.000,23.000 C0.895,23.000 -0.000,22.105 -0.000,21.000 L-0.000,20.000 C-0.000,18.895 0.895,18.000 2.000,18.000 L3.000,18.000 C4.105,18.000 5.000,18.895 5.000,20.000 L5.000,21.000 C5.000,22.105 4.105,23.000 3.000,23.000 ZM3.000,14.000 L2.000,14.000 C0.895,14.000 -0.000,13.104 -0.000,12.000 L-0.000,11.000 C-0.000,9.895 0.895,9.000 2.000,9.000 L3.000,9.000 C4.105,9.000 5.000,9.895 5.000,11.000 L5.000,12.000 C5.000,13.104 4.105,14.000 3.000,14.000 ZM3.000,5.000 L2.000,5.000 C0.895,5.000 -0.000,4.105 -0.000,3.000 L-0.000,2.000 C-0.000,0.895 0.895,-0.000 2.000,-0.000 L3.000,-0.000 C4.105,-0.000 5.000,0.895 5.000,2.000 L5.000,3.000 C5.000,4.105 4.105,5.000 3.000,5.000 Z"/> </svg></span>
      <span>Действие</span>
    </div>

    <div class="ads-option__dropdown">

      <ul>
        <li><a href='#'>Убрать из избранного</a></li>
        <li><a href='#'>Оплатить бонусами</a></li>
      </ul>

    </div>

    <div class="my-ads__price">3 000 €</div>

  </div>

  <div class="my-ads__actions">

    <div class="ads-actions__edit"><a href="#">
    
      <span class="actions-edit__icon"><img src="img/likestroke.svg" alt="LikeStroke" class="svg"></span>
      <span class="actions-edit__text">Убрать из избранного</span>
    
    </a></div>

    <div class="ads-actions__up"><a href="#">
      
      <span class="actions-up__icon"><img src="img/bonus.svg" alt="Бонусы" class="svg"></span>
      <span class="actions-up__text">Оплатить бонусами</span>
      
    </a></div>


  </div>



</div>

<div class="my-ads__container  my-bonuses__container">

  <div class="my-ads__image">

    <img src="img/img1.png" alt="Мои объявления">

    <div class="ads-image__more">

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>

    </div>

  </div>

  <div class="my-ads__title">
    <h4>Однокомнатная квартира в Лимассоле с мебелью и интернетом</h4>
  </div>


  <div class="my-ads__information">

    <div class="ads-information__city">Лимассол></div>
    <div class="ads-information__date">26 Aпр 18:04</div>

  </div>


  <div class="my-ads__price">3 000 €</div>

  <div class="ads-option__price">

    <div class="ads__actions">
      <span><svg   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5px" height="23px"> <path fill-rule="evenodd"  d="M3.000,23.000 L2.000,23.000 C0.895,23.000 -0.000,22.105 -0.000,21.000 L-0.000,20.000 C-0.000,18.895 0.895,18.000 2.000,18.000 L3.000,18.000 C4.105,18.000 5.000,18.895 5.000,20.000 L5.000,21.000 C5.000,22.105 4.105,23.000 3.000,23.000 ZM3.000,14.000 L2.000,14.000 C0.895,14.000 -0.000,13.104 -0.000,12.000 L-0.000,11.000 C-0.000,9.895 0.895,9.000 2.000,9.000 L3.000,9.000 C4.105,9.000 5.000,9.895 5.000,11.000 L5.000,12.000 C5.000,13.104 4.105,14.000 3.000,14.000 ZM3.000,5.000 L2.000,5.000 C0.895,5.000 -0.000,4.105 -0.000,3.000 L-0.000,2.000 C-0.000,0.895 0.895,-0.000 2.000,-0.000 L3.000,-0.000 C4.105,-0.000 5.000,0.895 5.000,2.000 L5.000,3.000 C5.000,4.105 4.105,5.000 3.000,5.000 Z"/> </svg></span>
      <span>Действие</span>
    </div>

    <div class="ads-option__dropdown">

      <ul>
        <li><a href='#'>Убрать из избранного</a></li>
        <li><a href='#'>Оплатить бонусами</a></li>
      </ul>

    </div>

    <div class="my-ads__price">3 000 €</div>

  </div>

  <div class="my-ads__actions">

    <div class="ads-actions__edit"><a href="#">
    
      <span class="actions-edit__icon"><img src="img/likestroke.svg" alt="LikeStroke" class="svg"></span>
      <span class="actions-edit__text">Убрать из избранного</span>
    
    </a></div>

    <div class="ads-actions__up"><a href="#">
      
      <span class="actions-up__icon"><img src="img/bonus.svg" alt="Бонусы" class="svg"></span>
      <span class="actions-up__text">Оплатить бонусами</span>
      
    </a></div>


  </div>



</div>


<div class="my-ads__container  my-bonuses__container">

  <div class="my-ads__image">

    <img src="img/img1.png" alt="Мои объявления">

    <div class="ads-image__more">

      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>

    </div>

  </div>

  <div class="my-ads__title">
    <h4>Однокомнатная квартира в Лимассоле с мебелью и интернетом</h4>
  </div>


  <div class="my-ads__information">

    <div class="ads-information__city">Лимассол></div>
    <div class="ads-information__date">26 Aпр 18:04</div>

  </div>


  <div class="my-ads__price">3 000 €</div>

  <div class="ads-option__price">

    <div class="ads__actions">
      <span><svg   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="5px" height="23px"> <path fill-rule="evenodd"  d="M3.000,23.000 L2.000,23.000 C0.895,23.000 -0.000,22.105 -0.000,21.000 L-0.000,20.000 C-0.000,18.895 0.895,18.000 2.000,18.000 L3.000,18.000 C4.105,18.000 5.000,18.895 5.000,20.000 L5.000,21.000 C5.000,22.105 4.105,23.000 3.000,23.000 ZM3.000,14.000 L2.000,14.000 C0.895,14.000 -0.000,13.104 -0.000,12.000 L-0.000,11.000 C-0.000,9.895 0.895,9.000 2.000,9.000 L3.000,9.000 C4.105,9.000 5.000,9.895 5.000,11.000 L5.000,12.000 C5.000,13.104 4.105,14.000 3.000,14.000 ZM3.000,5.000 L2.000,5.000 C0.895,5.000 -0.000,4.105 -0.000,3.000 L-0.000,2.000 C-0.000,0.895 0.895,-0.000 2.000,-0.000 L3.000,-0.000 C4.105,-0.000 5.000,0.895 5.000,2.000 L5.000,3.000 C5.000,4.105 4.105,5.000 3.000,5.000 Z"/> </svg></span>
      <span>Действие</span>
    </div>

    <div class="ads-option__dropdown">

      <ul>
        <li><a href='#'>Убрать из избранного</a></li>
        <li><a href='#'>Оплатить бонусами</a></li>
      </ul>

    </div>

    <div class="my-ads__price">3 000 €</div>

  </div>

  <div class="my-ads__actions">

    <div class="ads-actions__edit"><a href="#">
    
      <span class="actions-edit__icon"><img src="img/likestroke.svg" alt="LikeStroke" class="svg"></span>
      <span class="actions-edit__text">Убрать из избранного</span>
    
    </a></div>

    <div class="ads-actions__up"><a href="#">
      
      <span class="actions-up__icon"><img src="img/bonus.svg" alt="Бонусы" class="svg"></span>
      <span class="actions-up__text">Оплатить бонусами</span>
      
    </a></div>


  </div>



</div>





  </div>

</section>