<section class="new-item">

  <div class="new-item__title">
    <h2>Продам трехспальные апартаменты в центре Лимассола</h2>
  </div>
<!-- Разметка для мобильного  -->
  <div class="new-item__smallInformation">
    
    <div class="item-smallInformation__left">
      <div class="item-contacts__title">
        <div class="item-contacts__icon">
          <svg 
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="28px" height="27px">
            <path fill-rule="evenodd"  stroke="rgb(116, 169, 15)" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
            d="M8.394,5.509 C8.222,4.414 7.988,3.654 7.691,3.232 C7.081,2.371 6.511,1.740 5.980,1.341 C5.448,0.942 5.018,0.907 4.690,1.236 L2.182,3.748 C1.494,4.421 1.107,5.333 1.021,6.484 C0.935,7.634 1.115,8.883 1.560,10.229 C2.006,11.576 2.717,13.004 3.694,14.514 C4.670,16.025 5.839,17.461 7.199,18.823 C8.558,20.185 9.988,21.352 11.489,22.322 C12.989,23.293 14.411,24.001 15.755,24.447 C17.099,24.893 18.350,25.073 19.506,24.987 C20.663,24.901 21.577,24.514 22.249,23.825 L24.758,21.312 C25.117,20.968 25.094,20.487 24.687,19.868 C24.281,19.250 23.640,18.729 22.765,18.307 C22.374,18.119 21.878,17.951 21.276,17.802 C20.674,17.653 20.077,17.559 19.483,17.520 C18.889,17.481 18.475,17.579 18.240,17.814 L17.201,18.856 C16.169,18.575 14.907,17.832 13.415,16.626 C11.922,15.421 10.574,14.070 9.371,12.575 C8.167,11.080 7.425,9.824 7.144,8.806 L8.207,7.763 C8.503,7.357 8.566,6.605 8.394,5.509 Z"/>
          </svg>
      </div>

      <div class="item-contacts__text">Показать контакты</div>
      </div>

      <div class="item-contacts__dropdrown">

       
        <div class="item-dropdown__name">
          <span class="name">Александр</span> <span class="subname"> Константинов</span>
        </div>

        <div class="item-dropdown__registr">
          На сайте с 25 Апр 2017
        </div>

        <div class="item-dropdown__phone">
          
          <span class="label">Телефон</span>
          
          <span><a href="tel:357 994 593 23">357 994 593 23</a></span>

        </div>

        <div class="item-dropdown__skype">

          <span class="label">Skype</span>
          
          <span><a href="skype:Alex_Konstantinov">Alex_Konstantinov</a></span>

        </div>

        <div class="item-dropdown__site">

          <span class="label">Сайт</span>
          
          <span><a href="alex_konstantinov.com">alex_konstantinov.com</a></span>

        </div>

      </div>

    </div>
    <div class="item-smallInformation__right">
      <div class="new-item__icon">
          <img src="img/likestroke.svg" alt="Svg icon" class="svg">
        </div>
      <div class="new-item__text">
        Добавить в избранное
      </div>
    </div>

  </div>

  <!-- END разметка мобильного  -->

  <div class="new-item__information">

    <div class="new-item__city">
      Лимассол
    </div>


    <div class="new-item__date">
      26 Aпр 18:04
    </div>


    <div class="new-item__statiq">
      <span class="item-statiq__everday">34</span> просмотра сегодня, всего <span class="item-statiq__total">238</span>
    </div>


    <div class="new-item__number">
      № 34711
    </div>

  </div>


  <div class="new-item__general">

    <!-- Item Photo  -->

    <div class="new-item__photo">
      <!--Owl Carousel Image  -->
      <div class="owl-carousel" data-slider-id="1">
        <div><img src="img/img1.png" alt="Img"></div>
        <div><img src="img/img2.png" alt="Img"></div>
        <div><img src="img/img3.png" alt="Img"></div>
        <div><img src="img/img4.png" alt="Img"></div>
        <div><img src="img/img2.png" alt="Img"></div>
        <div><img src="img/img4.png" alt="Img"></div>
        <div><img src="img/img1.png" alt="Img"></div>
        <div><img src="img/img4.png" alt="Img"></div>
        <div><img src="img/img2.png" alt="Img"></div>
        <div><img src="img/img4.png" alt="Img"></div>
        <div><img src="img/img1.png" alt="Img"></div>
      </div>
      <!-- End Owl Carousel Image  -->

      <!--Owl Carousel Thumbs  -->
      <div class="owl-thumbs__container">
        <div class="owl-thumbs  swiper-wrapper" data-slider-id="1">
          <button class="owl-thumb-item  swipe-slide"><img src="img/img1.png" alt="Img"></button>
          <button class="owl-thumb-item  swipe-slide"><img src="img/img2.png" alt="Img"></button>
          <button class="owl-thumb-item  swipe-slide"><img src="img/img3.png" alt="Img"></button>
          <button class="owl-thumb-item  swipe-slide"><img src="img/img4.png" alt="Img"></button>
          <button class="owl-thumb-item  swipe-slide"><img src="img/img2.png" alt="Img"></button>
          <button class="owl-thumb-item  swipe-slide"><img src="img/img4.png" alt="Img"></button>
          <button class="owl-thumb-item  swipe-slide"><img src="img/img1.png" alt="Img"></button>
          <button class="owl-thumb-item  swipe-slide"><img src="img/img4.png" alt="Img"></button>
          <button class="owl-thumb-item  swipe-slide"><img src="img/img2.png" alt="Img"></button>
          <button class="owl-thumb-item  swipe-slide"><img src="img/img4.png" alt="Img"></button>
          <button class="owl-thumb-item  swipe-slide"><img src="img/img1.png" alt="Img"></button>
        </div>
      </div>
      <!-- ENd owl Carousel Thumbs  -->

    </div>

    <!--End Item Photo  -->




    <div class="new-item__price">

      <div class="item-price__euro">
          &euro; 380 000
      </div>

      <div class="item-price__detailes">

        <div class="price-detailes__container">

          <div class="price-detailes__type">Тип</div>

          <div class="price-detailes__answer">Недвижимость</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Город</div>

          <div class="price-detailes__answer">Лимассол</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Район</div>

          <div class="price-detailes__answer">Рекреационный центр отдыха</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Спальни</div>

          <div class="price-detailes__answer">3 спальни и диван в гостиной</div>

        </div>

        <div class="price-detailes__all">

          <div class="detailes-all__title">

            <div class="detailes-all__text">Смотреть все параметры</div>

            <div class="detailes-all__opened">
              <svg 
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="12px" height="7px">
                <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
                d="M11.286,0.762 L6.362,5.909 C6.268,5.999 6.144,6.037 6.020,6.031 C5.897,6.037 5.772,5.999 5.678,5.909 L0.754,0.762 C0.578,0.594 0.578,0.320 0.754,0.151 C0.931,-0.018 1.216,-0.018 1.393,0.151 L6.020,4.987 L10.648,0.151 C10.824,-0.018 11.110,-0.018 11.286,0.151 C11.463,0.320 11.463,0.594 11.286,0.762 Z"/>
              </svg>
            </div>

            <div class="detailes-all__closed  hidden">
              <svg 
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="12px" height="7px">
                <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
                d="M11.286,6.237 L6.362,1.091 C6.268,1.001 6.143,0.963 6.020,0.969 C5.897,0.963 5.772,1.001 5.678,1.091 L0.754,6.237 C0.578,6.406 0.578,6.680 0.754,6.849 C0.931,7.018 1.216,7.018 1.393,6.849 L6.020,2.013 L10.648,6.849 C10.824,7.018 11.110,7.018 11.286,6.849 C11.463,6.680 11.463,6.406 11.286,6.237 Z"/>
              </svg>
            </div>

          </div>


          <div class="item-detailes__other">

            <div class="price-detailes__container">

          <div class="price-detailes__type">Тип</div>

          <div class="price-detailes__answer">Недвижимость</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Город</div>

          <div class="price-detailes__answer">Лимассол</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Район</div>

          <div class="price-detailes__answer">Рекреационный центр отдыха</div>

        </div>


        <div class="price-detailes__container">

          <div class="price-detailes__type">Спальни</div>

          <div class="price-detailes__answer">3 спальни и диван в гостиной</div>

        </div>

          </div>

        </div>


      </div>


    </div>

    <div class="new-item__contacts">

      <div class="item-contacts__title">
        <div class="item-contacts__icon">
          <svg 
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="28px" height="27px">
            <path fill-rule="evenodd"  stroke="rgb(116, 169, 15)" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
            d="M8.394,5.509 C8.222,4.414 7.988,3.654 7.691,3.232 C7.081,2.371 6.511,1.740 5.980,1.341 C5.448,0.942 5.018,0.907 4.690,1.236 L2.182,3.748 C1.494,4.421 1.107,5.333 1.021,6.484 C0.935,7.634 1.115,8.883 1.560,10.229 C2.006,11.576 2.717,13.004 3.694,14.514 C4.670,16.025 5.839,17.461 7.199,18.823 C8.558,20.185 9.988,21.352 11.489,22.322 C12.989,23.293 14.411,24.001 15.755,24.447 C17.099,24.893 18.350,25.073 19.506,24.987 C20.663,24.901 21.577,24.514 22.249,23.825 L24.758,21.312 C25.117,20.968 25.094,20.487 24.687,19.868 C24.281,19.250 23.640,18.729 22.765,18.307 C22.374,18.119 21.878,17.951 21.276,17.802 C20.674,17.653 20.077,17.559 19.483,17.520 C18.889,17.481 18.475,17.579 18.240,17.814 L17.201,18.856 C16.169,18.575 14.907,17.832 13.415,16.626 C11.922,15.421 10.574,14.070 9.371,12.575 C8.167,11.080 7.425,9.824 7.144,8.806 L8.207,7.763 C8.503,7.357 8.566,6.605 8.394,5.509 Z"/>
          </svg>
      </div>

        <div class="item-contacts__text">Показать контакты</div>
      </div>

      <div class="item-contacts__dropdrown">

        
        <div class="item-dropdown__name">
          <span class="name">Александр</span> <span class="subname"> Константинов</span>
        </div>



        <div class="item-dropdown__registr">
          На сайте с 25 Апр 2017
        </div>



        <div class="item-dropdown__phone">
          
          <span class="label">Телефон</span>
          
          <span><a href="tel:357 994 593 23">357 994 593 23</a></span>

        </div>



        <div class="item-dropdown__skype">

          <span class="label">Skype</span>
          
          <span><a href="skype:Alex_Konstantinov">Alex_Konstantinov</a></span>

        </div>



        <div class="item-dropdown__site">

          <span class="label">Сайт</span>
          
          <span><a href="alex_konstantinov.com">alex_konstantinov.com</a></span>

        </div>


      </div>

      <div class="new-item__list">

        <ul>

          <li>
              <div class="new-item__icon">
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="24px" height="18px">
                  <path fill-rule="evenodd"
                  d="M22.000,18.000 L2.000,18.000 C0.895,18.000 -0.000,17.104 -0.000,15.999 L-0.000,1.999 C-0.000,0.895 0.895,-0.001 2.000,-0.001 L22.000,-0.001 C23.105,-0.001 24.000,0.895 24.000,1.999 L24.000,15.999 C24.000,17.104 23.105,18.000 22.000,18.000 ZM2.000,13.999 C2.000,15.104 2.895,15.999 4.000,15.999 L20.000,15.999 C21.105,15.999 22.000,15.104 22.000,13.999 L22.000,3.999 C22.000,3.546 21.843,3.132 21.588,2.796 C17.572,6.812 13.414,10.970 13.414,10.970 C12.633,11.751 11.367,11.751 10.586,10.970 C10.586,10.970 6.428,6.812 2.412,2.796 C2.157,3.132 2.000,3.546 2.000,3.999 L2.000,13.999 ZM4.443,1.999 C7.549,5.106 10.586,8.142 10.586,8.142 C11.367,8.924 12.633,8.924 13.414,8.142 C13.414,8.142 16.451,5.106 19.557,1.999 L4.443,1.999 Z"/>
                </svg>
              </div>
            <div class="new-item__text">
              Написать владельцу
            </div>
          </li>

          <li>
              <div class="new-item__icon">
                <img src="img/likestroke.svg" alt="Svg icon" class="svg">
              </div>
            <div class="new-item__text">
              В избранное
            </div>
          </li>

          <li>
              <div class="new-item__icon">
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="24px" height="24px">
                  <path fill-rule="evenodd"
                  d="M12.000,24.000 C5.373,24.000 -0.000,18.627 -0.000,12.000 C-0.000,5.372 5.373,-0.000 12.000,-0.000 C18.627,-0.000 24.000,5.372 24.000,12.000 C24.000,18.627 18.627,24.000 12.000,24.000 ZM12.000,2.000 C6.477,2.000 2.000,6.477 2.000,12.000 C2.000,17.523 6.477,22.000 12.000,22.000 C17.523,22.000 22.000,17.523 22.000,12.000 C22.000,6.477 17.523,2.000 12.000,2.000 ZM12.000,19.000 C11.448,19.000 11.000,18.552 11.000,18.000 C11.000,17.448 11.448,17.000 12.000,17.000 C12.552,17.000 13.000,17.448 13.000,18.000 C13.000,18.552 12.552,19.000 12.000,19.000 ZM12.000,16.000 C11.448,16.000 11.000,15.552 11.000,15.000 L11.000,6.000 C11.000,5.448 11.448,5.000 12.000,5.000 C12.552,5.000 13.000,5.448 13.000,6.000 L13.000,15.000 C13.000,15.552 12.552,16.000 12.000,16.000 Z"/>
                </svg>
              </div>
            <div class="new-item__text">
             Пожаловаться
            </div>
          </li>

          <li>
              <div class="new-item__icon">
                <svg 
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="30px" height="30px">
                  <path fill-rule="evenodd"  stroke-width="2px" fill-opacity="0" fill="rgb(255, 126, 0)"
                  d="M15.000,3.000 L18.955,10.542 L26.998,12.167 L21.399,18.453 L22.415,26.999 L15.000,23.341 L7.584,26.999 L8.601,18.453 L3.001,12.167 L11.045,10.542 L15.000,3.000 "/>
                </svg>
              </div>
            <div class="new-item__text">
              Поднять объявление
            </div>
          </li>

          

        </ul>

      <div class="list-our__partner">
      <img src="img/partner.jpg" alt="Партнерская программа">
      </div>
      </div>

    </div>

  </div>

  <div class="new-item__icons">

    <div class="item-icons__message">
    <a href="#">
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="20px" height="16px">
        <path fill-rule="evenodd"
        d="M20.000,2.941 L20.000,1.750 C20.000,1.398 19.876,1.102 19.629,0.861 C19.381,0.620 19.088,0.499 18.750,0.499 L1.250,0.499 C0.911,0.499 0.618,0.620 0.371,0.861 C0.123,1.102 -0.000,1.398 -0.000,1.750 L-0.000,2.941 L10.000,8.000 L20.000,2.941 ZM-0.000,4.386 L-0.000,14.250 C-0.000,14.588 0.123,14.881 0.371,15.128 C0.618,15.376 0.911,15.500 1.250,15.500 L18.750,15.500 C19.088,15.500 19.381,15.376 19.629,15.128 C19.876,14.881 20.000,14.588 20.000,14.250 L20.000,4.386 L10.625,9.250 L9.375,9.250 L-0.000,4.386 Z"/>
      </svg>
    </a>
    </div>
    
    <div class="item-icons__print">
    <a href="#">
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="21px" height="20px">
        <path fill-rule="evenodd"
        d="M19.767,16.767 C20.256,16.279 20.500,15.690 20.500,14.999 L20.500,10.000 C20.500,9.309 20.256,8.720 19.767,8.232 C19.279,7.744 18.690,7.500 18.000,7.500 L3.000,7.500 C2.310,7.500 1.721,7.744 1.232,8.232 C0.744,8.720 0.500,9.309 0.500,10.000 L0.500,14.999 C0.500,15.690 0.744,16.279 1.232,16.767 C1.721,17.255 2.310,17.500 3.000,17.500 L3.000,18.749 C3.000,19.101 3.120,19.398 3.361,19.638 C3.602,19.879 3.898,20.000 4.250,20.000 L16.750,20.000 C17.088,20.000 17.381,19.879 17.629,19.638 C17.876,19.398 18.000,19.101 18.000,18.749 L18.000,17.500 C18.690,17.500 19.279,17.255 19.767,16.767 ZM18.000,13.750 C18.000,14.101 17.876,14.397 17.629,14.638 C17.381,14.879 17.088,14.999 16.750,14.999 L4.250,14.999 C3.898,14.999 3.602,14.879 3.361,14.638 C3.120,14.397 3.000,14.101 3.000,13.750 L3.000,11.250 C3.000,10.911 3.120,10.618 3.361,10.371 C3.602,10.123 3.898,10.000 4.250,10.000 L16.750,10.000 C17.088,10.000 17.381,10.123 17.629,10.371 C17.876,10.618 18.000,10.911 18.000,11.250 L18.000,13.750 ZM6.750,12.509 C6.750,12.165 6.626,11.868 6.379,11.621 C6.131,11.373 5.835,11.250 5.490,11.250 C5.145,11.250 4.852,11.373 4.611,11.621 C4.370,11.868 4.250,12.165 4.250,12.509 C4.250,12.854 4.370,13.148 4.611,13.388 C4.852,13.629 5.148,13.750 5.500,13.750 C5.851,13.750 6.147,13.629 6.389,13.388 C6.629,13.148 6.750,12.854 6.750,12.509 ZM3.000,6.250 L18.000,6.250 L18.000,1.250 C18.000,0.911 17.876,0.618 17.629,0.370 C17.381,0.124 17.088,-0.000 16.750,-0.000 L4.250,-0.000 C3.898,-0.000 3.602,0.124 3.361,0.370 C3.120,0.618 3.000,0.911 3.000,1.250 L3.000,6.250 Z"/>
      </svg>
    </a>
    </div>

    <div class="catalog-bottom__social">
  
  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="7px" height="14px">
        <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
        d="M1.742,6.999 L-0.008,6.999 L-0.008,4.593 L1.742,4.593 L1.742,3.171 C1.742,2.096 1.943,1.298 2.344,0.779 C2.745,0.259 3.492,-0.001 4.586,-0.001 L6.992,-0.001 L6.992,2.406 L5.324,2.406 C4.905,2.406 4.641,2.479 4.531,2.624 C4.422,2.771 4.367,3.026 4.367,3.390 L4.367,4.593 L6.992,4.593 L6.746,6.999 L4.367,6.999 L4.367,13.999 L1.742,13.999 L1.742,6.999 Z"/>
      </svg>
    </div>
    <div class="catalog-social__number">55</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <img src="img/gg-plus.svg" alt="Icon google plus" class="svg">
    </div>
    <div class="catalog-social__number">12</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="14px" height="11px">
        <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
        d="M13.618,2.263 C13.458,2.422 13.304,2.539 13.153,2.613 C13.003,2.688 12.859,2.747 12.723,2.792 C12.586,2.836 12.474,2.869 12.388,2.891 C12.301,2.913 12.258,2.937 12.258,2.963 C12.258,3.712 12.157,4.460 11.957,5.209 C11.757,5.957 11.442,6.679 11.014,7.375 C10.585,8.071 10.068,8.687 9.462,9.224 C8.856,9.761 8.118,10.191 7.248,10.512 C6.377,10.833 5.432,10.994 4.411,10.994 C3.244,10.994 2.281,10.831 1.520,10.505 C0.759,10.180 0.255,9.788 0.009,9.330 C0.100,9.338 0.260,9.336 0.488,9.323 C0.715,9.310 0.847,9.303 0.884,9.303 C1.258,9.303 1.558,9.299 1.786,9.290 C2.014,9.281 2.310,9.253 2.675,9.204 C3.039,9.156 3.363,9.070 3.645,8.947 C3.928,8.824 4.174,8.661 4.384,8.458 C3.736,8.449 3.151,8.284 2.627,7.963 C2.103,7.641 1.754,7.212 1.581,6.675 C1.754,6.710 1.932,6.728 2.114,6.728 C2.379,6.728 2.634,6.693 2.880,6.622 C1.549,6.367 0.884,5.570 0.884,4.231 C1.176,4.231 1.504,4.227 1.868,4.218 C1.504,3.980 1.248,3.696 1.103,3.366 C0.957,3.036 0.884,2.620 0.884,2.118 C0.884,1.757 1.030,1.334 1.321,0.850 C2.014,1.669 2.830,2.281 3.768,2.686 C4.707,3.091 5.787,3.324 7.008,3.386 C6.990,3.324 6.981,3.208 6.981,3.036 C6.981,2.865 6.986,2.677 6.995,2.475 C7.004,2.272 7.008,2.153 7.008,2.118 C7.008,1.387 7.248,0.852 7.726,0.513 C8.205,0.174 8.863,0.005 9.701,0.005 C10.531,0.005 11.228,0.295 11.793,0.876 C11.948,0.850 12.112,0.802 12.285,0.731 C12.458,0.661 12.602,0.592 12.716,0.526 C12.830,0.460 12.980,0.370 13.167,0.256 C13.354,0.141 13.488,0.058 13.570,0.005 C13.288,0.859 12.882,1.440 12.354,1.748 C12.627,1.713 13.178,1.695 14.008,1.695 C13.907,1.915 13.777,2.105 13.618,2.263 Z"/>
      </svg>
    </div>
    <div class="catalog-social__number">7</div>
    </a>
  </div>

  <div class="catalog-social__container">
    <a href="#">
    <div class="catalog-social__icon">
      <svg 
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="12px" height="14px">
        <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
        d="M0.028,14.000 L2.735,14.000 L2.735,3.733 L0.028,3.733 L0.028,14.000 ZM9.047,3.791 C9.304,3.830 9.617,3.932 9.988,4.097 C10.358,4.263 10.681,4.477 10.956,4.739 C11.232,5.001 11.474,5.381 11.683,5.877 C11.892,6.373 11.996,6.961 11.996,7.641 L11.996,14.000 L9.118,14.000 L9.118,7.524 C9.118,7.136 9.009,6.824 8.791,6.591 C8.572,6.358 8.235,6.241 7.779,6.241 C7.513,6.241 7.280,6.290 7.081,6.387 C6.882,6.485 6.739,6.587 6.654,6.693 C6.568,6.800 6.501,6.932 6.454,7.087 C6.406,7.243 6.383,7.350 6.383,7.408 C6.383,7.466 6.383,7.506 6.383,7.524 L6.383,14.000 L3.676,14.000 L3.676,3.733 L6.383,3.733 L6.383,4.550 C6.611,4.355 6.739,4.248 6.768,4.229 C6.796,4.210 6.867,4.166 6.981,4.097 C7.095,4.030 7.190,3.981 7.266,3.952 C7.342,3.922 7.437,3.889 7.551,3.850 C7.665,3.811 7.784,3.782 7.907,3.762 C8.031,3.743 8.159,3.733 8.292,3.733 L8.292,3.733 C8.539,3.733 8.791,3.752 9.047,3.791 ZM1.368,-0.001 C1.747,-0.001 2.070,0.136 2.337,0.408 C2.602,0.680 2.735,1.011 2.735,1.399 C2.735,1.789 2.602,2.119 2.337,2.391 C2.070,2.664 1.747,2.799 1.368,2.799 C0.987,2.799 0.665,2.664 0.399,2.391 C0.133,2.119 -0.000,1.789 -0.000,1.399 C-0.000,1.011 0.133,0.680 0.399,0.408 C0.665,0.136 0.987,-0.001 1.368,-0.001 Z"/>
      </svg>
    </div>
    </a>
  </a>
  </div>

</div>
    
  </div>

  <div class="new-item__description">
    <p>Современная 3-спальная квартира в престижном проекте, расположенном в центре города Лимассола. Проект состоит всего из шести роскошных 2- и 3-спальных квартир и пентхаусов. Этот жилой комплекс отражает великолепный дизайн и современный архитектурный стиль. Городские удобства, такие как продуктовые магазины, пекарни и рестораны находятся поблизости. Лучшие песчаные пляжи Лимассола и развлекательные заведения расположены в 5 минутах езды.</p>
  </div>

  <div class="new-description__additional">
    
    <div class="description-detailes__container">

      <div class="description-detailes__type">Тип</div>

      <div class="description-detailes__answer">Недвижимость</div>
      
    </div>

    <div class="description-detailes__container">

      <div class="description-detailes__type">Город</div>

      <div class="description-detailes__answer">Лимассол</div>
      
    </div>

    <div class="description-detailes__container">

      <div class="description-detailes__type">Район</div>

      <div class="description-detailes__answer">Рекреационный центр отдыха</div>
      
    </div>

    <div class="description-detailes__container detailes-container__last">

      <div class="description-detailes__type">Дополнительно</div>

      <div class="description-detailes__answer">Общественный бассейн и тренажерный зал для жильцов комплекса, бар, рядом магазин, детский сад и школа</div>
      
    </div>

  </div>

  <div class="new-item__map" id='map'>

  </div>
  
<script>
function initMap() {33.602186, 33.602186
	var uluru = {lat: 34.929005, lng: 33.602186};
	var uluru2 = {lat: 34.928818, lng: 33.747197};
	var map = new google.maps.Map(document.getElementById('map'), { // id - блок, где будет находится карта
	zoom: 10, //Масштаб по умолчанию
	center: uluru,
	mapTypeId: 'roadmap', // Тип карты
	});

	var marker = new google.maps.Marker({
	position: uluru2, // позиция маркера
	map: map,
	icon: 'img/map-marker.png' //Путь до маркера
  });

}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDauRoDMlAP9cx2whDz59mbEUG9I1DIKSI&callback=initMap">
</script>
</section>