<section class="news">

  <div class="sectionews-title">

    <h2>Новости и статьи</h2>

  </div>

  <div class="news-content">

    <div class="news-container">

        <div class="news-title">
          <a href="#">
                      Приложние 
          Cyprus Bazar доступно 
          в Google Play
          </a>
        </div>

        <div class="news-date">14 февраля 2017</div>

    </div>


    <div class="news-container">

        <div class="news-title">
          <a href="#">

          Разместите 
            ваше объявление, 
            и мы разрекламируем его на Facebook
          </a>
        </div>

        <div class="news-date">Cегодня в 10:15</div>

    </div>

    <div class="news-container">

        <div class="news-title">
          <a href="#">
          Что следует учитывать при покупке восстановленной электроники
          </a>
        </div>

        <div class="news-date">12 февраля 2017</div>

    </div>

    <div class="news-container">

        <div class="news-title">
          <a href="#">
            Размещайте объявления 
            на Cyprus Bazar 
            и получайте бонусы
          </a>
        </div>

        <div class="news-date">28 января 2017</div>

    </div>

  </div>


</section>