<section class="often-search">

  <div class="often-search__title">
    <h2>Часто ищут</h2>
  </div>

  <div class="often-search__content">

    <ul>
      <li><a href="#">Платье</a></li>
      <li><a href="#">Куртка</a></li>
      <li><a href="#">Диван</a></li>
      <li><a href="#">Крассовки</a></li>
      <li><a href="#">Шуба</a></li>
      <li><a href="#">Велосипед</a></li>
      <li><a href="#">Ботиньки</a></li>
      <li><a href="#">Пальто</a></li>
      <li><a href="#">Туфли</a></li>
      <li><a href="#">Мотоблок</a></li>
      <li><a href="#">Сапоги</a></li>
      <li><a href="#">Iphone 6</a></li>
      <li><a href="#">Iphone 5s</a></li>
      <li><a href="#">Босоножки</a></li>
      <li><a href="#">Квартира</a></li>
      <li><a href="#">Сумка</a></li>
      <li><a href="#">Джинсы</a></li>
      <li><a href="#">Ролики</a></li>
      <li><a href="#">Ноутбук</a></li>
      <li><a href="#">Спатифилум</a></li>
      <li><a href="#">Купальник</a></li>
      <li><a href="#">Роликовые коньки</a></li>
      <li><a href="#">Удочки</a></li>
      <li><a href="#">Кеды</a></li>
      <li><a href="#">Котята</a></li>
      <li><a href="#">Попугай</a></li>
      <li><a href="#">Квадрокоптер</a></li>
    </ul>

  </div>

</section>