<section class="partner">

  <div class="partner-content">

    <div class="partner__container  partner__container__image">
    
     <div class="partner-img"></div>

    </div>


    <div class="partner__container  partner__container__image">
     
     <div class="partner-img"></div>

    </div>


    <div class="partner__container  partner__container__image">
     
      <div class="partner-img"></div>
    
    </div>


    <div class="partner__container  partner__container__href">

      <a href="#">
        Узнать больше о партнерской программе Cyprus BAZAR
      </a>

    </div>

  </div>

</section>