<section class="newads-pricipaly">

  <div class="newads-principaly__title">
    <h2>Новые объявления</h2>
  </div>
<div class="slider-small">

  <div class="principaly-newads__content">

    <div class="principaly-newads__container">
      <div class="principaly-newads__image">
        <a href="#">
        <img src="img/img1.png">
      
         <div class="ads-image__more">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>
        </div> 
        </a>
      </div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image">
        <a href="#">
        <img src="img/img2.png">
      
        <div class="ads-image__more">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>
        </div>
        </a>
      </div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image">
        <a href="#">
        <img src="img/img3.png">
      
        <div class="ads-image__more">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>
        </div>
      </a>
      </div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image">
        <a href="#">
        <img src="img/img4.png">
      
        <div class="ads-image__more">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px"> <path fill-rule="evenodd"  d="M22.000,21.999 L4.000,21.999 L4.000,17.999 L-0.000,17.999 L-0.000,-0.001 L18.000,-0.001 L18.000,3.999 L22.000,3.999 L22.000,21.999 ZM16.000,1.999 L2.000,1.999 L2.000,15.999 M2.000,15.999 L16.000,15.999 L16.000,1.999 M20.000,5.999 L18.000,5.999 L18.000,17.999 L6.000,17.999 L6.000,19.999 L20.000,19.999 L20.000,5.999 Z"/></svg>
        </div>
      </a>
      </div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартир...</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img2.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img3.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартир...</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img2.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img3.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартир...</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img2.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img3.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img1.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартир...</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>


    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img2.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатные аппартаменты</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img3.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Двухместный лофт</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="principaly-newads__container">
      <div class="principaly-newads__image"><a href="#"><img src="img/img4.png"></a></div>
      <div class="principaly-newads__title"><h4><a href="#">Однокомнатная квартира</a></h4></div>
      <div class="principaly-newads__info">
        <div class="principaly-info__city">Лимассол</div>
        <div class="principaly-info__date">26 Aпр 18:04</div>
      </div>
      <div class="pricinaply-newads__bottom">
        <div class="newads-bottom__price">3 000 €</div>

        <div class="newads-bottom__like">
          <img src="img/likestroke.svg" alt="svg icon" >
        </div>
      </div>
    </div>

    <div class="pricipaly-newads__all">

      <a href="#">Смотреть все объявления</a>

    </div>

  </div>


    <div class="left-arrow"><img src="img/prev.svg" alt="Prev icon" class="svg"></div>

    <div class="right-arrow"><img src="img/next.svg" alt="Next icon" class='svg'></div>


</div>
</section>