<section class="search">

  <form action="" class="search-form">

    <div class="search-top">

      <div class="search-top__left">
        
          <input type="text" class='search_input' name="search_input" placeholder="37 объявлений сегодня, всего 12 232 ">
      
      </div>


      <div class="search-top__right">
        
        <div class="find-ads">

          <button>

            <span class="find-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="21.993px" height="21.993px" viewBox="0 0 21.993 21.993" enable-background="new 0 0 21.993 21.993" xml:space="preserve" class="svg replaced-svg"> <path fill-rule="evenodd" clip-rule="evenodd" d="M21.701,21.701c-0.39,0.39-1.022,0.39-1.412,0l-5.696-5.695  c-1.537,1.229-3.484,1.969-5.605,1.969C4.024,17.974,0,13.951,0,8.988C0,4.024,4.024,0,8.987,0s8.987,4.024,8.987,8.988  c0,2.122-0.74,4.068-1.969,5.606l5.696,5.695C22.091,20.679,22.091,21.311,21.701,21.701z M13.934,4.048  c-2.73-2.73-7.156-2.73-9.885,0c-2.73,2.73-2.73,7.155,0,9.885c2.73,2.73,7.156,2.73,9.885,0  C16.663,11.204,16.663,6.778,13.934,4.048z"></path> </svg>
            </span>
            <span class='find-text'>Найти объявление</span>

          </button>

        </div>

      </div>

    </div>



    <div class="search-bottom">

      <div class="search-bottom__left">

        <form action="" class="seach-select">
          <label for="checkbox-one">В заголовке
          <input type="checkbox" class='checkbox-dstr' id='checkbox-one' value="В заголовке"></label>

          <label for="checkbox-two">С фото
          <input type="checkbox" class='checkbox-dstr' id='checkbox-two' value="С фото"></label>

          <label for="checkbox-three">Только новые
          <input type="checkbox" class='checkbox-dstr' id='checkbox-three'value="Только новые"></label>
        </form>

      </div>


      <div class="search-bottom__right">

        <div class="search-right__content">
          
          <div class="search-all__cities">


<form class='city-select'>
  <div class="multiselect">
    <div class="selectBox" onclick="showCheckboxes()">
      <select class='sl-search' id='SelectCheck'>
       <option id='cityList'>Все города</option> 
      </select>
      <div class="overSelect" ></div>
      </div>
      <div id="checkboxes">
      <input type="checkbox" class='sl-chb' al-model='city' id="city-1" value='Лимассол' />      
      <label for="city-1"><span></span>Лимассол</label>

      <input type="checkbox" class='sl-chb' al-model='city' id="city-2" value='Пафос'/>
      <label for="city-2"><span></span>Пафос</label>

      <input type="checkbox" class='sl-chb' al-model='city' id="city-3" value='Никосия' />      
      <label for="city-3"><span></span>Никосия</label>

      
      <input type="checkbox" class='sl-chb' al-model='city' id="city-4" value='Айя-Напа' />
      <label for="city-4"><span></span>Айя-Напа</label>

      
      <input type="checkbox" class='sl-chb' al-model='city' id="city-5" value='Полис' />
      <label for="city-5"><span></span>Полис</label>

      
      <input type="checkbox" class='sl-chb' al-model='city' id="city-6" value='Писсури' />
      <label for="city-6"><span></span>Писсури</label>

     
      <input type="checkbox" class='sl-chb' al-model='city' id="city-7" value='Протарас' />
      <label for="city-7"><span></span>Протарас</label>

     
      <input type="checkbox" class='sl-chb' al-model='city' id="city-8" value='Тоодос' />
      <label for="city-8"><span></span>Тоодос</label>

      </div>
    </div>
  <div id="text_comment"></div>
</form>

  </div>

  <div class="search-all__category">

    <div class="category-selected"></div>
<form class='category-select'>
  <select class="categorys">
    <option value="Preview">Выбрать раздел</option>
    <option value="Транспорт">Транспорт</option>
    <option value="Электроника">Электроника</option>
    <option value="Хобби и отдых">Хобби и отдых</option>
    <option value="Личные вещи">Личные вещи</option>
    <option value="Для дома и сада">Для дома и сада</option>
    <option value="Животные">Животные</option>
    <option value="Для бизнеса">Для бизнеса</option>
    <option value="Тоодос">Тоодос</option>
  </select>
</form>

          </div>

        </div>

      </div>

    </div>


  </form>

</section>
