<section class="settings">

  <div class="settings-title">
    <h2>Настройки профиля</h2>
  </div>

  <div class="settings-content">

    <div class="general-fields">

      <div class="general-field setting-name">
        <label>Ваше имя</label>
        <input type="text" name='setting-name' placeholder='Ваше имя' class="greenStyle">

      </div>


      <div class="general-field  setting-phone">
        <label>Ваш телефон</label>
      <div class="setting-phone__input setting-phone__active">
        <input type="text" name='setting-phone' placeholder='Ваш телефон' class="greenStyle">
      <div class="setting-phone__allok"> <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13px" height="10px"> <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M12.510,1.939 L5.439,9.010 C5.049,9.400 4.416,9.400 4.025,9.010 L0.490,5.474 C0.099,5.084 0.099,4.451 0.490,4.060 C0.880,3.670 1.513,3.670 1.904,4.060 L4.732,6.889 L11.096,0.525 C11.487,0.134 12.120,0.134 12.510,0.525 C12.901,0.915 12.901,1.548 12.510,1.939 Z"/> </svg>
      </div>

      </div>
      <div class="setting-phone__cb">
        <input type="checkbox" name='SMS' class='purchase-cb' id='SMS'>
        <label for="SMS"><span></span>SMS-уведомления</label> 
      </div>
      </div>


      <div class="general-field  setting-birthday">
        <label>Дата рождения</label>
        <select name="day" class='day'>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
        <select name="month" class='month'>
          <option value="Январь">Январь</option>
          <option value="Февраль">Февраль</option>
          <option value="Март">Март</option>
          <option value="Апрель">Апрель</option>
          <option value="Май">Май</option>
          <option value="Июнь">Июнь</option>
          <option value="Июль"></opИюльtion>
          <option value="Август"></optАвгустion>
          <option value="Сентябрь">Сентябрь</option>
          <option value="Октябрь">Октябрь</option>
          <option value="Ноябрь">Ноябрь</option>
          <option value="Декабрь">Декабрь</option>
        </select>

        <select name="year" class='year'>
          <option value="1970">1970</option>
          <option value="1971">1971</option>
          <option value="1972">1972</option>
          <option value="1973">1973</option>
          <option value="1974">1974</option>
          <option value="1975">1975</option>
          <option value="1976">1976</option>
          <option value="1977">1977</option>
          <option value="1978">1978</option>
          <option value="1979">1979</option>
          <option value="1980">1980</option>
          <option value="1981">1981</option>
          <option value="1982">1982</option>
          <option value="1983">1983</option>
          <option value="1984">1984</option>
          <option value="1985">1985</option>
          <option value="1986">1986</option>
          <option value="1987">1987</option>
          <option value="1988">1988</option>
          <option value="1989">1989</option>
          <option value="1990">1990</option>
          <option value="1991">1991</option>
          <option value="1992">1992</option>
          <option value="1993">1993</option>
          <option value="1994">1994</option>
          <option value="1995">1995</option>
          <option value="1996">1996</option>
          <option value="1997">1997</option>
          <option value="1998">1998</option>
          <option value="1999">1999</option>
          <option value="2000">2000</option>
         
        </select>
      </div>


      <div class="general-field  setting-email">
        
        <label>Ваш емайл</label>
        <input type="text" class="greenStyle" placeholder='name@gmail.com' name='setting-email'>
        <div class="confirm-email"><a href="#">Подтвердить мой e-mail</a></div>
      </div>


      <div class="general-field  setting-skype">
        <label>Ваш скайп</label>
        <input type="text" class="greenStyle" placeholder='Ваш логин Skype' name='setting-skype'>
      </div>


      <div class="general-field  setting-type">
        
        <label>Тип аккаунта</label>

        <div class="setting-type__content">
          <input type="radio" name='setting-type' id='setting-lc'>
          <label for="setting-lc">Личный</label>

          <input type="radio" name='setting-type' id='setting-business'>
          <label for="setting-business">Бизнес</label>
        </div>
      </div>


      <div class="general-field  setting-company">

        <label>Названия компании</label>
        <input type="text" class="greenStyle" placeholder='Prime Property Group' name='setting-company'>

      </div>


      <div class="general-field  setting-site">

        <label>Сайт</label>
        <input type="text" class="greenStyle" placeholder='name.com' name='setting-site'>

      </div>


      <div class="general-field  setting-address">

        <label>Адрес компании</label>
        <div class="setting-adress__inputs">
         <input type="text"  placeholder='Лимассол 3036, Китиу Киприаноу 23' name='setting-address'>
        </div>

        <div class="add-address">

        <span><img src="img/add.svg" alt="Добавить" class="svg"></span>

        <span>Добавить адрес</span>

        </div>
      </div>

      <div class="general-field  setting-about">

        <label>Описание компании</label>
        <textarea name='setting-about'></textarea>

  

      </div>



    </div>

  </div>

<div class="setting-map">
  <label>Офис на карте</label>

   <div class="new-item__map" id='map'>

  </div>


</div>

<div class="setting-location">

  <div class="general-field__container  field-selectcity">
    <label>Город</label>
    <select name="selectcity">
      <option value="Preview">Выберите город</option>
      <option value="Лимассол">Лимассол</option>
      <option value="Пафос">Пафос</option>
      <option value="Никосия">Никосия</option>
      <option value="Айя-Напа">Айя-Напа</option>
      <option value="Полис">Полис</option>
      <option value="Писсури">Писсури</option>
      <option value="Протарас">Протарас</option>
      <option value="Тоодос">Тоодос</option>

    </select>
  </div>

  <div class="general-field__container  field-selectregion">
    <label>Район</label>
    <select name="selectregion">
    <option value="Preview">Выберите район</option>
    <option value="Район №1">Район №1</option>
    <option value="Район №2">Район №2</option>
    <option value="Район №3">Район №3</option>
    <option value="Район №4">Район №4</option>
    <option value="Район №5">Район №5</option>
    <option value="Район №6">Район №6</option>
    <option value="Район №7">Район №7</option>
    <option value="Район №8">Район №8</option>
    </select>
  </div>

</div>

<div class="upload-photo__container">
 
  <div class="upload-container__title">
    <h4>Фото</h4>
  </div>
 
  <input type="file" name="files">

</div>

<div class="change-password">

  <div class="change-password__field  old-password">
    
    <label>Текущий пароль</label>
    <input type="text" name='old-password'>

  </div>
  
  <div class="change-password__field  new-password">

    <label>Новый пароль</label>
    <input type="text" name='new-password'>

  </div>
  
  <div class="change-password__field  new-password__confirm">
    <label>Подтвердить новый пароль</label>
    <input type="text" name='new-password__confirm'>
  </div>
</div>

<div class="setting-save">

<button>

<span> <svg  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="15px"> <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M22.960,1.732 L10.232,14.460 C9.842,14.850 9.208,14.850 8.818,14.460 L1.040,6.682 C0.649,6.291 0.649,5.658 1.040,5.268 C1.430,4.877 2.063,4.877 2.454,5.268 L9.525,12.338 L21.546,0.318 C21.936,-0.073 22.570,-0.073 22.960,0.318 C23.351,0.708 23.351,1.342 22.960,1.732 Z"/> </svg>
</span>
  <span>Сохранить изменения</span>

</button>

</div>
<script>
function initMap() {33.602186, 33.602186
	var uluru = {lat: 34.929005, lng: 33.602186};
	var uluru2 = {lat: 34.928818, lng: 33.747197};
	var map = new google.maps.Map(document.getElementById('map'), { // id - блок, где будет находится карта
	zoom: 10, //Масштаб по умолчанию
	center: uluru,
	mapTypeId: 'roadmap', // Тип карты
	});

	var marker = new google.maps.Marker({
	position: uluru2, // позиция маркера
	map: map,
	icon: 'img/map-marker.png' //Путь до маркера
  });

}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDauRoDMlAP9cx2whDz59mbEUG9I1DIKSI&callback=initMap">
</script>
</section>