<section class="sub-category">

  <div class="sub-category__title">
    <h2>Недвижимость</h2>
  </div>

  <div class="sub-category__total">

      <div class="sub-category__preview">

        <ul>

          <li>
            <div class="sub-category__title">
              <a href="#">Квартиры</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>30 сегодня, </span>
                <span class='sub-info__total'>всего 1885</span>
            
            </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Комнаты</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 16</span>
              
            </div>
            
            </div>
          </li>

          <li>

            <div class="sub-category__title">
              <a href="#">Дома, виллы, коттеджи</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>2 сегодня,</span>
                <span class='sub-info__total'>всего 1287</span>
              </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 216</span></div>
            
              </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Коммерческая недвижимость</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 105</span></div>
            
              </div>
          </li>
          <li>

            <div class="sub-category__title">
              <a href="#">Недвижимость 
за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>1 сегодня</span></div>
            
              </div>
          </li>
          
          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>2 сегодня</span></div>
            
              </div>
          </li>

           <li>
            <div class="open-subcategory">

              <div class="subcategory-title">
              <h4>Смотреть все категории</h4>

            <div class="subcategory__open">
                <svg 
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="13px" height="7px">
                <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
                d="M11.788,1.429 L6.526,6.692 C6.236,6.982 5.764,6.982 5.474,6.692 L0.211,1.429 C-0.079,1.139 -0.079,0.668 0.211,0.377 C0.502,0.086 0.973,0.086 1.264,0.377 L6.000,5.113 L10.736,0.377 C11.027,0.086 11.498,0.086 11.788,0.377 C12.079,0.668 12.079,1.139 11.788,1.429 Z"/>
                </svg>
              </div>
              
              <div class="subcategory__closed  hidden">
                <svg 
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="13px" height="7px">
                <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
                d="M11.788,6.623 C11.498,6.913 11.027,6.913 10.736,6.623 L6.000,1.887 L1.264,6.623 C0.973,6.913 0.502,6.913 0.211,6.623 C-0.079,6.332 -0.079,5.861 0.211,5.570 L5.474,0.308 C5.764,0.018 6.236,0.018 6.526,0.308 L11.788,5.570 C12.079,5.861 12.079,6.332 11.788,6.623 Z"/>
                </svg>
              </div>
          </div>

            </div>
          </li>

        </ul>
      </div>
        <div class="sub-category__all  hidden">
          <ul>

          <li>
            <div class="sub-category__title">
              <a href="#">Квартиры</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>30 сегодня, </span>
                <span class='sub-info__total'>всего 1885</span>
            
            </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Комнаты</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 16</span>
              
            </div>
            
            </div>
          </li>

          <li>

            <div class="sub-category__title">
              <a href="#">Дома, виллы, коттеджи</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>2 сегодня,</span>
                <span class='sub-info__total'>всего 1287</span>
              </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 216</span></div>
            
              </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Коммерческая недвижимость</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 105</span></div>
            
              </div>
          </li>
          <li>

            <div class="sub-category__title">
              <a href="#">Недвижимость 
за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>1 сегодня</span></div>
            
              </div>
          </li>
          
          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>2 сегодня</span></div>
            
              </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Квартиры</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>30 сегодня, </span>
                <span class='sub-info__total'>всего 1885</span>
            
            </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Комнаты</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 16</span>
              
            </div>
            
            </div>
          </li>

          <li>

            <div class="sub-category__title">
              <a href="#">Дома, виллы, коттеджи</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'>2 сегодня,</span>
                <span class='sub-info__total'>всего 1287</span>
              </div>
            
            </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 216</span></div>
            
              </div>
          </li>

          <li>
            <div class="sub-category__title">
              <a href="#">Коммерческая недвижимость</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>Всего 105</span></div>
            
              </div>
          </li>
          <li>

            <div class="sub-category__title">
              <a href="#">Недвижимость 
за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>1 сегодня</span></div>
            
              </div>
          </li>
          
          <li>
            <div class="sub-category__title">
              <a href="#">Земельные участки за рубежом</a>
              <div class="sub-category__info">
                
                <span class='sub-info__yestd'></span>
                <span class='sub-info__total'>2 сегодня</span></div>
            
              </div>
          </li>

           <li>
            <div class="open-subcategory">

              <div class="subcategory-title">
              <h4>Смотреть все категории</h4>

            <div class="subcategory__open">
                <svg 
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="13px" height="7px">
                <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
                d="M11.788,1.429 L6.526,6.692 C6.236,6.982 5.764,6.982 5.474,6.692 L0.211,1.429 C-0.079,1.139 -0.079,0.668 0.211,0.377 C0.502,0.086 0.973,0.086 1.264,0.377 L6.000,5.113 L10.736,0.377 C11.027,0.086 11.498,0.086 11.788,0.377 C12.079,0.668 12.079,1.139 11.788,1.429 Z"/>
                </svg>
              </div>
              
              <div class="subcategory__closed  hidden">
                <svg 
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="13px" height="7px">
                <path fill-rule="evenodd"  fill="rgb(116, 169, 15)"
                d="M11.788,6.623 C11.498,6.913 11.027,6.913 10.736,6.623 L6.000,1.887 L1.264,6.623 C0.973,6.913 0.502,6.913 0.211,6.623 C-0.079,6.332 -0.079,5.861 0.211,5.570 L5.474,0.308 C5.764,0.018 6.236,0.018 6.526,0.308 L11.788,5.570 C12.079,5.861 12.079,6.332 11.788,6.623 Z"/>
                </svg>
              </div>
          </div>

            </div>
          </li>
            

          </ul>
        </div>
      </div>

  </div>

</section>