
// =============== Стили для секции О нас =========================
section.about-us
	padding: 0 40px

.about-us__content
	&::after
		content: ''
		clear: both
		display: block
.about-us__container
	width: 20%
	margin-right: 6.666667%
	float: left
	&:nth-child(4n),
	&:last-child
		margin-right: 0
	p
		font-size: 20px
		font-family: $HelveticaRoman
		color: #0f0f0f
		line-height: 1.3	
		padding-left: 30px
		border-left: 2px solid $GrayColor

.about-us__bottom
	margin-top: 50px
	&::after
		content: ''
		clear: both
		display: block
	.about-bottom__left
		float: left
		width: 50%
	.about-bottom__right
		float: right
		width: 50%
	.bottom-left__text
		color: #0f0f0f
		font-family: $HelveticaRoman
		font-size: 16px
		margin-right: 20%
		padding-bottom: 40px
		a
			text-decoration: underline
			color: #f57900
.bottom-left__links
	padding-bottom: 40px
	ul
		list-style-type: none
		padding-left: 0
	li
		display: inline-block
		padding-left: 10px
		margin-right: 35px
		&:last-child
			margin-right: 0
	a
		font-family: $HelveticaRoman
		font-size: 16px
		color: #0f0f0f
		border-left: 2px solid #ff7e00
		padding-left: 10px
		&:hover
			color: #f57900
.bottom-left__socials
	a:first-child
		margin-right: 20px
	a:hover
		svg path,
		svg rect
			fill: #ff7e00
	a.gg-plus
		position: relative
		top: 3px
		

.about-bottom__right
	&::after
		content: ''
		clear: both
		display: block
	.bottom-right__apple
		float: left
		width: 50%
		height: 320px
		background: url('../img/apple_bg.jpg') no-repeat center
		background-size: cover 
		a
			color: #0f0f0f
			font-size: 20px
			line-height: 1.2
	.bottom-right__market
		float: right
		width: 50%
		height: 320px
		background: url('../img/market_bg.jpg') no-repeat center
		background-size: cover
		.about-btm__icon
			padding-top: 95px
		a
			color: #fff
			font-size: 20px
			line-height: 1.2
.about-btm__icon
	text-align: center
	padding-top: 75px
.about-market__text,
.about-apple__text
	padding-top: 50px
	text-align: center
	padding-bottom: 50px
	a
		font-size: 20px
		color: #0f0f0f
		line-height: 1.5
.about-market__text
	a
		color: #fff

