//============== Стили для футера ============.//
section.footer-information
	padding: 0px 40px
	padding-top: 0px
	&:after
		content: ''
		clear: both
		display: block
.footer-information__left
	float: left
	li
		padding-left: 0
	.bottom-left__links
		padding-bottom: 20px
.footer-information__right
	float: right
	.bottom-left__socials
		padding-top: 20px
footer
	padding: 0px 40px 40px 40px
.footer-text 
	p
		font-size: 16px
		color: $GrayColor
		line-height: 1.5
.footer-copyright
	font-size: 13px
	color: $GrayColor
