@import "vars"
// Стили для ЛК
header.header .header-content__right .mobile-burger
	display: none
.login-user
	position: fixed
	left: 0
	top: 0
	width: 320px
	z-index: 999
	height: 100vh
	background: #fff
	padding-left: 40px
	padding-right: 40px
	padding-top: 40px
	display: none
	border-right: 1px solid $GrayColor
	-webkit-box-shadow: -1px 0 8px 0 rgba(193,193,193,1)
	-moz-box-shadow: -1px 0 8px 0 rgba(193,193,193,1)
	box-shadow: -1px 0 8px 0 rgba(193,193,193,1)
	.exit-login__icon,
	.exit-login__text
		display: inline-block
	.exit-login__text 
		position: relative
		top: -10px
		padding-left: 5px
		span
			font-size: 16px
			color: $GrayColor
	.user-name
		padding-top: 40px
		h3
			margin: 0
			color: #0f0f0f
			line-height: 1.3
	.user-balls
			font-family: $HelveticaMedium
			font-size: 13px
			color: $GrayColor
			padding-bottom: 40px
	.user-link
		padding-bottom: 30px
		&:after
			content: ''
			clear: both
			display: block
		.user-link__icon
			float: left
			width: 20px
			margin-right: 10px
		.user-link__href
			float: right
			width: calc(100% - 30px)
			font-size: 18px
			color: #0f0f0f
			position: relative
			top: -3px
		a:hover
			.user-link__href,
				color: #f57900
			svg path
				fill: #f57900
	.find-category__content
		display: none
	.find-grid
		width: 100%
	.find-category__dropdown	
		width: 100%
		margin-right: 0
		padding-left: 0
		padding-right: 0
		position: static
		li
			width: 100%
			margin-right: 0
	.find-dropdown__content
		width: 100% !important
		margin-left: 10px
	.add-ads
		margin-top: 20px
		display: none
	.close-sidebar__small
		display: none
	.login-title
		font-size: 20px
		margin-top: 80px
		color: #0f0f0f
		line-height: 1.2
	.catalog-bottom__social
		.catalog-social__container
			margin-right: 5px
	form.login-form
		label
			font-size: 13px
			font-family: $HelveticaMedium
			color: #0f0f0f
		input
			width: 100%
			height: 50px
			border: 1px solid $GrayColor
			outline: none
			padding-left: 20px
			border-radius: 3px
			@include placeholder
				color: $GrayColor
		.login-form__field
			margin-top: 20px
	.login-go
		margin-top: 30px
		&::after
			content: ''
			clear: both
			display: block
		.login-go__left
			width: 130px
			float: left
			margin-right: 25px
			button
				width: 100%
				height: 55px
				background-color: #74a90f
				border-radius: 3px	
				border: none
				outline: none
				color: #fff
				svg path
					fill: #74a90f
					stroke-width: 20px
					stroke: #fff
				span:first-child
					position: relative
					top: 5px
					margin-right: 7px
		.login-go__right
			float: right
			width: calc(100%-155px)
			a
				color: $GrayColor
				line-height: 1
				text-decoration: underline
			span
				display: block
				position: relative
				top: 10px
	.login-registr
		margin-top: 40px
		font-size: 16px
		span
			color: #0f0f0f
		a
			color: #f57900
			display: block
			text-decoration: underline
			position: relative
			top: -5px
.login-user.login-user__login
	.add-ads
		margin: 50px 0
		button span:last-child
			white-space: nowrap
	.login-favorites,
	.login-enter
		display: none
		a
			font-size: 16px
			color: #0f0f0f
		span:last-child
			position: relative
			top: -5px
			margin-left: 10px
	.login-enter
		margin-top: 30px
		margin-bottom: 50px
	.login-favorites
		&:hover
			svg path
				fill: #f57900
	.login-enter
		svg path
			fill: #fff
			stroke-width: 15px
			stroke: $GrayColor
		&:hover
			svg path
				stroke: #f57900

.login-user.login-user__register	
	.register-title
		font-size: 20px
		color: #0f0f0f
		margin-top: 80px
	form.register-auth
	.register-auth__field:first-child
		label
			font-size: 13px
			font-family: $HelveticaMedium
			color: #0f0f0f
		input
			height: 50px
			border: 1px solid $GrayColor
			border-radius: 3px 
			padding-left: 20px
			outline: none
			display: block
			width: 100%
			@include placeholder
				color: $GrayColor
	.register-auth__field
		margin-top: 30px
		label
			color: #0f0f0f
			a
				color: #f57900
				text-decoration: underline
		input
			display: none
		input + label span,
		input + label span
			display: inline-block
			width: 24px
			height: 24px
			margin: -1px 4px 0 0
			vertical-align: middle
			border-radius: 2px
			cursor: pointer
			border: 1px solid $GrayColor
			margin-right: 10px
			position: relative
			top: -2px
		input + label,
		input + label
			cursor: pointer
			font-size: 16px
			color: #0f0f0f
			font-family: $HelveticaRoman
			margin-top: 10px
		input:checked + label span,
		input:checked + label span
			background-color: #74a90f
			border: none
			background: #74a90f url('../img/check.svg') no-repeat center
	input.register-checkbox + label
		&::after
			content: ''
			clear: both
			display: block
		span
			float: left
			width: 25px
			margin-right: 10px
		.label-cb
			float: right
			width: calc(100% - 35px)
			position: relative
			top: -5px
			line-height: 1.2
	button.register-go
		background: #74a90f
		color: #fff
		width: 215px
		height: 55px
		line-height: 55px
		text-align: center
		border: none
		margin-top: 25px

.login-user__access
	.login-acces__title
		margin-top: 80px
		font-size: 20px
		font-family: $HelveticaMedium
		color: #0f0f0f
		line-height: 1.2
		margin-bottom: 30px
	.login-acces__field
		margin-top: 30px
		&:first-child
			margin-top: 0
		input
			height: 50px
			border-radius: 2px
			border: 1px solid $GrayColor
			outline: none
			padding-left: 20px
			width: 100%
			@include placeholder
				font-size: 16px
				color: $GrayColor
		label
			font-size: 13px
			font-family: $HelveticaMedium
			color: #0f0f0f
			display: block
	button
		width: 132px
		text-align: center
		height: 55px
		line-height: 55px
		background: #74a90f
		border-radius: 2px
		border: none
		outline: none
		color: #fff
		margin-top: 30px


.mobile-dropdown__relative
	position: relative
	input
		padding-left: 20%
.mobile-dropdown__absolute
	position: absolute
	top: 50%
	margin-top: -13px
	left: 10px
	cursor: pointer
	select
		border: none
		outline: none
		-webkit-appearance: none
		cursor: pointer
	option
		border: none
		outline: none
		cursor: pointer