@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.header-free__ads
		margin-right: 30px
	.header-icon__market
		margin: 0 20px
	.header-likes
		margin-right: 20px
	.auth .auth-login__name
		margin-left: 0
	.add-ads button
		width: 200px
	.find-ads button
		width: 200px
	.search-top .search-top__right
		width: 200px
	.search-top .search-top__left
		width: calc(100% - 200px)
	.header-language
		width: 30px
		> .jq-selectbox__dropdown
			width: 100px
	.search-bottom 
		.search-bottom__right
			padding-right: 200px
			width: 60%
		.search-bottom__left
			width: 40%
	.find-category__title
		white-space: nowrap
	.find-grid
		overflow: hidden
	.type-body
		label
			padding-left: 35%
			margin-left: 15%
	.sec-parametr__field
		margin-right: 15px
	.partner__container
		width: 22%
	.partner__container__href
		width: 200px
	.catalog-filter 
		.catalog-to__date,
		.catalog-to__price
			width: 120px
	.catalog-filter 
		.catalog-to__date,
		.catalog-to__price 
			.jq-selectbox__dropdown
				width: 120px
	.catalog-filter 
		.catalog-to__price,
		.catalog-to__date
			font-size: 15px
		.catalog-to__price
			margin-right: 0
	.catalog-page
		font-size: 15px
		position: relative
		top: 5px
	.catalog-filter
		.catalog-to__date,
		.catalog-to__price
			.jq-selectbox__dropdown 
				ul
					padding-left: 5px
				li
					font-size: 13px
					text-align: left
	.bottom-partner 
		.bottom-partner__container
			padding-bottom: 30px	
	.catalog-bottom__social
		.catalog-social__container
			margin-right: 20px
	.catalog-pagination li
		margin-right: 10px
	.show-all__ads
		button
			width: 102%
	.item-contacts__dropdrown
		.item-dropdown__phone,
		.item-dropdown__skype,
		.item-dropdown__site
			padding-left: 5px
	.item-dropdown__partner
		overflow: hidden
		top: -20px
		img
			width: 100%
	.price-detailes__all 
		.detailes-all__text
			font-size: 13px
	.general-fields 
		.setting-address 
			input
				width: 70%
				margin-right: 3%
	.grid-md-row
	.grid-small-row:first-child
		.find-grid:first-child
			.find-category__dropdown::after, 
			.find-category__dropdown::before
				left: 13%
		.find-grid:last-child
			.find-category__dropdown::after, 
			.find-category__dropdown::before
				left: 36%
	.grid-small-row:last-child
		.find-grid:first-child
			.find-category__dropdown::after, 
			.find-category__dropdown::before
				left: 57%
		.find-grid:last-child
			.find-category__dropdown::after, 
			.find-category__dropdown::before
				left: 80%


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.header-content__left
		.header-icon__apple,
		.header-icon__market
			display: none
	.header-language
		padding-left: 0px
		float: right
	.header-content__right
		> div
			display: none
	header.header .header-content__right .mobile-burger
		display: inline-block
		cursor: pointer
	.header-content__left
		width: 60%
		&::after
			content: ''
			clear: both
			display: block
	.header-content__right
		width: 40%
	.search-top 
		.search-top__right
			display: block
			width: 70px
		.find-ads button
			width: 70px
			border-radius: 3px
		.search-top__left
			width: calc(100% - 70px)
	.find-text
		display: none
	.find-grid
		width: 49%
		margin-right: 0
	.search-bottom
		display: none
	.grid-small-row
		display: block
		position: relative
		width: 100%
		position: relative
	.find-category__dropdown li
		width: 42.857143%
		margin-right: 14.285714%
		&:nth-child(2n)
			margin-right: 0
	.about-us__title,
	.about-us__content
		display: none
	.about-us__bottom
		margin-top: 0
	.about-us__bottom 
		.about-bottom__left
			display: none
		.about-bottom__right
			float: none
			width: 100%
	section.find-category
		.grid-md-row
			.grid-small-row
				.find-grid:first-child
					.find-category__dropdown::after, 
					.find-category__dropdown::before
						left: 17%
				.find-grid:last-child
					.find-category__dropdown::after, 
					.find-category__dropdown::before
						left: 62%
	section.often-search,
	section.news
		display: none
	.footer-text
		display: none
	.general-fields
		&::after
			content: ''
			clear: both
			display: block
		.field-name,
		.field-selectcity
			float: left
			width: 43%
			margin-right: 14%
		.field-phone,
		.field-selectregion
			float: right
			width: 43%
			margin-right: 0
		.field-example
			width: 100%
			margin: 0 
	.add-detailes__title
		h3
			margin-top: 0
	.select-category__ads 
		.ads-category, 
		.ads-category__submenu,
		.category-submenu__drpd,
		.category-drpd__last
			width: 50%
	.detailes-ofselect__category 
		.category-field
			width: 43%
			margin-right: 14%
			margin-bottom: 20px
			&:nth-child(2n)
				margin-right: 0
			&:last-child
				margin-top: 0
	.type-body 
		.type-field
			width: 50%
	section.newadd
		.type-body
			.type-field
				margin-bottom: 15px
				border: none
				&:nth-child(2n)
					border-left: 1px solid $GrayColor
	.transmission
		margin-top: 15px
	.sec-parametr__field
		width: 100%
		padding-bottom: 10px
	.sec-parametr__checkbox
		width: 100%
		margin-top: 20px
		label:last-child
			margin-top: 5px
		&:last-child
			margin-top: 0
	.upload-photo__container 
		.fileuploader-item
			width: 43%
			margin-right: 10%
			&:nth-child(2n)
				margin-right: 4%
	.principaly-newads__content 
		.principaly-newads__container
			width: 240px
			margin-right: 40px
			float: left
			&:nth-child(4n)
				margin-right: 0px
			&:last-child
				margin-right: 0
	.slider-small
		width: 560px
		overflow: hidden
		margin: 0 auto
		position: relative
		padding: 0px 20px
		.left-arrow,
		.right-arrow
			display: block
			position: absolute
			top: 90px
			z-index: 3
			cursor: pointer
		.left-arrow
			left: 0
		.right-arrow
			right: 0
	.principaly-newads__content
		position: relative
		right: 0
		transition: all ease 1s
	.partner-content
		&::after
			content: ''
			clear: both
			display: block
		.partner__container:first-child
			display: block
			width: 48%
			float: left
		.partner__container:last-child	
			display: block
			float: right
			width: 48%
		.partner__container
			display: none
	.sub-category__total,
	.sidebar-top__out
		display: none
	section.catalog-all
		.catalog-sidebar,
		.catalog-content
			width: 100%
			float: none
	.catalog-sidebar__category
		display: none
	.sidebar-bottom__small
		display: none
	.catalog-sidebar__top
		position: relative
	.filter-for__md
		display: block
		cursor: pointer
		position: absolute
		top: 30px
		right: 0
		svg path
			fill: $GrayColor
	.filter-for__md:hover
		svg path
			fill: #f57900
	.sidebar-top__left
		position: relative
	.catalog-all
		.principaly-newads__content 
			width: auto !important
		.principaly-newads__container
			width: 50%
			margin-right: 0%
			height: auto
			margin-bottom: 40px
			&:nth-child(3n)
				margin-right: 0%
				width: 50%
				.principaly-newads__image,
				.principlay-newads__all
					width: 100%
		.principaly-newads__container.listen
			&:nth-child(3n)
				.principaly-newads__image
					width: 200px
					margin-right: 30px
				.principlay-newads__all
					width: calc(100% - 230px)
			.principlay-newads__all
				margin: 0 auto
			&:nth-child(4n)
				margin-right: 0
			&:nth-child(2n)
				margin-right: 0
		.principaly-newads__image
			margin: 0 auto
		.principaly-newads__container.vip-ads
			margin-bottom: 10px
	.bottom-partner
		.bottom-partner__container
			width: 48%
			margin-right: 4%
			&:nth-child(2)
				margin-right: 0
			&:last-child
				display: none
	.catalog-all .principaly-newads__container.listen
		width: 100%
		margin-right: 0
	.sidebar-bottom__small
		width: 320px
		position: fixed
		right: 0
		top: 0
		z-index: 30
		height: 100vh
		background: #fff
		color: #0f0f0f
		.sidebar-small__title	
			width: 240px
			margin: 0 auto
		h2
			font-size: 30px
			margin-top: 120px
			line-height: 1.2
		.catalog-sidebar__bottom
			left: 0
			margin: 0 auto
			margin-bottom: 60px
			margin-top: 40px
	.new-item__title
		padding-bottom: 5px
		h2
			line-height: 1.2
	.new-item__information
		div
			margin-right: 7%
			&:last-child
				margin-right: 0
	.new-item__general
		.new-item__photo
			float: none
			width: 100%
			padding-bottom: 40px
			.newsads-left,
			.newsads-right
				display: none
		.photo-all__container
			width: 14% !important
			margin-right: 1.7%
		.new-item__price,
			width: 42.857143%
			margin-right: 14.285714%
		.new-item__contacts
			width: 42.857143%
			margin-right: 0
		.price-detailes__all 
			.detailes-all__text
				font-size: 16px
		.new-item__photo .photo-general img
			height: auto
		.new-item__list	
			display: block
		.item-dropdown__partner
			z-index: -1
			visibility: 0
			position: absolute
		.item-contacts__dropdrown
			padding-bottom: 30px

	.item-contacts__dropdrown
		position: absolute
		margin-top: 0px
		.item-dropdown__phone, 
		.item-dropdown__site,
		.item-dropdown__skype
			padding-left: 20px
	.new-item__general .item-contacts__dropdrown
		padding-bottom: 0
	.new-item__icons
		position: static
		padding-top: 50px
		padding-bottom: 30px
	.new-description__additional
		.description-detailes__container
			margin-right: 0
			width: 50%
			overflow: hidden
	.news-content__page
		.news-container
			width: 100%
			margin-right: 0
	.favorites-content
		.principaly-newads__content 
			.principaly-newads__container
				width: 46.666667%
				margin-right: 6.666667%
				overflow: hidden
				&:nth-child(4n)
					margin-right: 0
				&:nth-child(2n)
					margin-right: 0
	.my-ads__container
		.my-ads__image
			width: 35.714286%
			margin-right: 7.142857%
		.my-ads__title,
		.my-ads__information,
		.my-ads__price
			width: 57.142857%
		.my-ads__actions
			width: 100%
			padding-top: 20px		
		.actions-edit__text,
		.actions-hide__text,
		.actions-delete__text,
		.actions-up__text
			display: none
		.my-ads__actions
			.ads-actions__up
				float: left
				margin-left: 3.333333%
	.my-ads__container.my-bonuses__container
		.ads-actions__edit
			position: relative
			top: -5px
			margin-right: 0
	section.my-bonuses
		padding: 0 20px
	form.add-balance
		width: 42.857143%
		margin-right: 7.142857%
		button
			display: block
			margin-top: 30px
	.my-balance
		margin-right: 0
		float: left
		width: 42.857143%
		margin-left: 7.142857%
	.bazar-table
		td:nth-child(4),
		td:nth-child(5)
			display: none
		td:nth-child(1)
			width: 21.4285715%
		td:nth-child(2)
			width: 21.4285715%
			padding-right: 7.142857%
		td:nth-child(3)
			width: 42.857143%
			padding-left: 7.142857%
	.purchase-action 
		.purchase-action__right 
			div
				display: none
			div:first-child
				display: block
			button
				display: block
				background: #669708
				border: none
				outline: none
				color: #fff
				padding: 10px 20px
	.general-fields 
		.setting-name,
		.setting-phone 
			width: 46.666667%
			margin-right: 6.666667%
		.setting-phone
			margin-right: 0
		.setting-birthday
			width: 100%
			margin-right: 0
			margin:
				top: 20px
				bottom: 20px
		.setting-email
			width: 100%
			margin-right: 0
			margin-bottom: 20px
		.setting-skype
			width: 46.666667%
			margin-right: 6.666667%
			margin-bottom: 20px
		.setting-type
			width: 46.666667%
			margin-bottom: 20px
		.setting-company,
		.setting-site
			width: 100%
			margin-right: 0
			padding-bottom: 20px
		.setting-address
			text-align: center
			input
				width: 100%
				margin-right: 0
			label
				text-align: left
			.add-address
				position: static
	.setting-location 
		.general-field__container
			width: 100%
			margin-right: 0
	.change-password 
		.change-password__field
			float: none
			margin-right: 0
			width: 100%
			margin-bottom: 20px
	section.catalog-all.shop-all
		.shop-sidebar
			width: 100%
			float: none
			margin-right: 0
			&::after
				content: ''
				clear: both
				display: block
		.shop-sidebar__image
			float: left
			width: 50%
		.shop-sidebar__contacts
			float: right
			width: 42.857143%
			margin-left: 7.142857%
		.sidebar-contact__fax,
		.sidebar-contact__phone
			margin-bottom: 15px		
		.shop-sidebar__address
			float: left
			width: 100%
		.shop-sidebar__descr
			float: left
			width: 42.857143%
		.shop-sidebar__action
			width: 42.857143%
			float: right
			margin-left: 14.285714%
		.catalog-bottom__social
			float: left
			width: 100%
			padding-bottom: 40px
		.catalog-content.shop-content
			width: 100%
			margin: 0
		.principaly-newads__container
			width: 42.857143%
			margin-right: 14.285714%
			&:nth-child(3n)
				margin-right: 14.285714%
			&:nth-child(2n)
				margin-right: 0
			&:nth-child(4)
				margin-top: 20px
	.close-sidebar__small
		display: block
	.catalog-content .principaly-newads__image
		max-height: 100%
	.login-user	
		position: absolute
		height: 100%
		overflow: scroll
		-ms-overflow-style: none
		overflow: -moz-scrollbars-none
		&::-webkit-scrollbar  
			width: 0
		.find-category__content
			display: block
		.add-ads
			display: block
		.close-sidebar__small
			display: block
	.login-user.login-user__login
		.login-title,
		.catalog-bottom__social,
		.login-form,
		.login-registr
			display: none
		.login-favorites,
		.login-enter
			display: block
		.close-sidebar__small
			right: 20px
			top: 20px
	.login-user.login-user__register
		.close-sidebar__small
			right: 10px
			top: 10px
		button.add-ads
			margin: 0 auto
		.register-title
			margin-top: 40px
		form
			margin-bottom: 50px
	.newsads-slidev
		.newsads-image
			width: auto
		.newsads-title,
		.newsads-btm
			width: auto
	.select-category__ads
		.ads-category__submenu,
		.category-submenu__drpd,
		.category-drpd__last
			width: 49.5%
			margin-left: 0.5%
			border-left: 1px solid $GrayColor
		.category-submenu__drpd,
		.category-drpd__last
			border-top: none
	.photo-general__content 
		display: block
	.photo-generalbig,
	.photo-all__content
		display: none
	.login-user__access 
		.login-acces__title
			margin-top: 30px
		.find-category__content
			margin-top: 30px
	.find-category__large
		display: none
	.find-category__small
		display: block
	.catalog-content .principaly-newads__image, 
	.catalog-content .principlay-newads__all
		width: 100%
	.catalog-content
		.principaly-newads__content
			.principaly-newads__container:nth-child(4)
				margin-top: 20px
	.catalog-all.shop-all
		.bottom-partner
			position: relative
			right: 0
		.bottom-partner__container
			width: 42.857143%
			margin-right: 14.285714%
			&:nth-child(2)
				margin-right: 0
	.catalog-all
		.bottom-partner
			position: relative
			right: -20px
			.bottom-partner__container
				width: 45%
				margin-right: 5%
				&:nth-child(2)
					margin-right: 0
	.owl-thumbs__container
		display: none
	.item-price__euro
		left: 0
/* Small Devices, Tablets */
@media only screen and (max-width : 640px)
	h2
		font-size: 25px
	.header-content__left
		.header-free__ads
			display: none
	header.header
		padding: 20px
	.header-content__left .header-language
		display: none
	section.search,
	section.find-category,
	section.about-us
		padding: 0 20px
	footer
		padding: 0 20px 20px 20px
	.mobile-burger
		margin: 10px 20px
	.about-bottom__right 
		.bottom-right__apple,
		.bottom-right__market
			float: none
			width: 100%
			.about-btm__icon
				margin-top: 0
			img
				margin-top: 70px
		.about-btm__icon
			margin-top: 0
			padding-top: 0
		.bottom-right__market .about-btm__icon
			padding-top: 0
	.find-grid
		width: 100%
		margin-bottom: 20px
	.find-category__dropdown li
		width: 100%
	section.find-category 
		.find-category__dropdown
			position: static
			width: 100%
			margin-top: 20px
			&:before
				border: none
		.find-dropdown__content
			width: 100%
	.find-category__dropdown .find-dropdown__content
		margin-left: 10px
	section.breadcrumb,
	section.newadd
		padding: 0 20px

	.general-fields
		.general-field__container
			width: 100%
			margin-right: 0
	.add-detailes__title h3
		font-size: 15px
	.select-category__ads 
		.ads-category, 
		.ads-category__submenu,
		.category-submenu__drpd,
		.category-drpd__last
			width: 100%
	.detailes-ofselect__category
		.category-field
			width: 100%
	.type-body 
		.type-field
			margin: 0
			width: 100%
			border: none
	section.newadd
		.type-body
			.type-field
				margin-bottom: 0px
				border: none
				border-bottom: 1px solid $GrayColor
				&:nth-child(2n)
					border-left: none
				&:last-child
					border-bottom: 0
	.color-fields
		&::after
			content: ''
			clear: both
			display: block
		.color-field
			margin-right: 0
			width: 50%
			float: left
	.transmission
		margin-top: 40px
		.transmision-field
			width: 100%
			margin-bottom: 15px
			border-right: 1px solid $GrayColor
	.range-field
		padding: 20px 0
		.irs.js-irs-0
			width: 100%
	#textInput
		font-size: 12px
		display: block
	.add-general 
		.price-add
			width: 100%
	.fileuploader-input-button
		width: 160px
		margin: 0 auto
	.button-send__ads button
		padding: -3px 50px
		margin-top: 10px
	.slider-small
		width: 280px
	section.newads-pricipaly
		padding: 0 20px
	section.partner
		padding-left: 20px
		padding-right: 20px
	.partner-content
		.partner__container:first-child,
		.partner__container:last-child
			float: none
			width: 100%
			text-align: left
		.partner__container:last-child
			padding-top: 20px
	section.sub-category,
	section.catalog-all
		padding-left: 20px
		padding-right: 20px
	.filter-for__md
		position: static
		padding-bottom: 20px
	.catalog-filter
		.catalog-to__block,
		.catalog-to__list
			display: none
	.catalog-page
		display: none
	.catalog-all
		.principaly-newads__container
			width: 100% 
		.principaly-newads__image
			max-height: 100%
			width: 100%
	section.new-item
		padding:
			left: 20px
			right: 20px
	.new-item__general
		.new-item__photo
		.photo-all__container
			width: 28% !important
			margin-right: 3%
			height: 80px
	.new-item__general	
		.new-item__price
			width: 100%
			float: none
			width: 100%
		.item-price__euro
			width: 240px
		.new-item__contacts
			width: 100%
			margin: 0
		.item-contacts__title
			display: none
	.new-item__icons
		text-align: left
		.catalog-bottom__social .catalog-social__container
			margin-right: 10px
			padding-top: 10px
	.new-description__additional
		.description-detailes__container
			float: none
			width: 100%
			padding-bottom: 20px
	.newsads-slider
		width: 75%
	.footer-information
		display: none
	.new-item__general 
		.item-price__euro
			margin-left: 0px
	.new-item__information
		display: none
	.new-item__smallInformation
		display: block
		.item-contacts__dropdrown
			position: absolute
			width: 100%
			z-index: 3
			top: 70px
	.new-item__general
    padding-top: 0
	.new-item__smallInformation
		display: block
	.new-item__list ul li:nth-child(2)
		display: none
	section.news-page
		padding: 0 20px
	.news-content__page 
		.news-container__href
			font-size: 16px
			margin-bottom: 5px
	section.one-news
		padding: 0 20px
	.one-news__pagination
		text-align: center
		div
			display: block
		.one-news__prev
			margin-right: 0
	section.favorites
		padding:
			left: 20px
			right: 20px
	.favorites-content
		.principaly-newads__content 
			.principaly-newads__container
				width: 100%
				margin-right: 0
				overflow: hidden
			.principaly-newads__image
				max-height: 100%
	section.my-ads
		padding:
			left: 20px
			right: 20px
	.my-ads__container
		.ads-option__price
			display: block
		.my-ads__image
			float: none
			width: 100%
			margin-right: 0
		.my-ads__title,
		.my-ads__information,
		.my-ads__price
			width: 100%
			margin-right: 0
			margin-left: 0
	.my-ads__price
		display: none
	.my-ads__information
		margin-bottom: 20px
	.my-ads__actions
		display: none
	section.my-operations
		padding: 0 20px
	form.add-balance
		float: none
		width: 100%
		text-align: center
		button
			width: 240px
			margin: 0 auto
			margin-top: 10px
		input
			margin-right: 0
	.my-balance
		float: none
		width: 100%
		text-align: center
		margin-left: 0
	.bazar-table 
		td:nth-child(3)
			padding-left: 0
	section.subscribres
		padding-left: 20px
		padding-right: 20px
	.bazar-table.bazar-table__subscribers
		td:nth-child(1)
			display: none
		td:nth-child(2)
			width: 70%
			white-space: nowrap
			overflow: hidden
		td:nth-child(3)
			width: 30%
	section.purchase
		padding:
			left: 20px
			right: 20px
	.purchase-container 
		padding-bottom: 0
		.purchase-title 
			label
				width: 80%
				font-size: 16px
				font-family: $HelveticaMedium
		.purchase-price
			float: right
			position: relative
			top: -3px
		.purchase-about
			width: 100%
			text-align: right
			position: relative
			top: -25px	
	.purchase-action
		.purchase-action__right
			float: none
			width: 100%
			text-align: left
			overflow: hidden
			button
				display: none
			div
				display: block
		.purchase-action__total
			width: 100%
			margin-bottom: 35px
			margin-top: 40px
		.purchase-action__free,
		.purchase-action__bonus,
		.purchase-action__paypal
			margin-left: 0
			margin-bottom: 30px
			div:first-child,
			div:last-child
				display: inline-block
			div:first-child
				width: 30px
				margin-right: 4.0625%
		.purchase-action__paypal
			margin-bottom: 0
	.purchase-dropdown__left
		width: 100%
		float: none
		margin-right: 0
	.purchase-dropdown__right
		width: 100%
		float: none
	section.settings
		padding: 0 20px
	.general-fields
		.setting-name,
		.setting-phone
			width: 100%
			margin-right: 0
			margin-bottom: 20px
		.setting-skype,
		.setting-type
			width: 100%
			margin-right: 0
	section.catalog-all.shop-all
		.shop-sidebar__image,
		.shop-sidebar__contacts,
		.shop-sidebar__descr,
		.shop-sidebar__action,
		.principaly-newads__container
			float: none
			width: 100%
			margin-right: 0
			margin-left: 0
		.principaly-newads__container
			&:nth-child(3n)
				margin-right: 0
			&:nth-child(2n)
				margin-right: 0
	.catalog-filter 
		.catalog-to__price
			text-align: right
	.login-user.login-user__register 
		.close-sidebar__small
			right: 20px
			top: 20px
	.newsads-left,
	.newsads-right
		top: 45%
	.select-category__ads
		.ads-category__submenu
			border-top: none
		.ads-category__submenu,
		.category-submenu__drpd,
		.category-drpd__last
			margin-left: 0
	.type-body 
		.type-field 
			input[type=radio]
				width: 100%
	.catalog-all 
		.principaly-newads__container:nth-child(3n)
			width: 100%
			.principlay-newads__all,
			.principaly-newads__image
				width: 100%
	.catalog-filter
		.catalog-to__date
			margin-right: 0
	.catalog-all
		.principaly-newads__container.listen
			.principaly-newads__image,
			.principlay-newads__all
				width: 100%
			&:nth-child(3n)
				.principaly-newads__image,
				.principlay-newads__all
					width: 100%
	.find-category__small 
		.find-grid
			width: 100%
			margin-right: 0



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

