// =============== Стили для Слайдера ===================== //
.newads-title
	margin: 25px 40px
.newsads-slider
	position: relative
	margin: 0 40px
	overflow: hidden
	transition: all ease 1s
	width: 90%
	margin: 0 auto
.total-slider
	position: relative
.newsads-slides
	position: relative
	right: 0
	transition: all ease 1s
	overflow: hidden
	
.newsads-left
	cursor: pointer
	position: absolute
	left: 13px
	top: 80px
	z-index: 2
	margin-top: -16px
	svg path
		fill: $GrayColor
.newsads-right
	cursor: pointer
	position: absolute
	right: 13px
	top: 80px
	z-index: 2
	margin-top: -16px
	svg path
		fill: $GrayColor
.newsads-sliders
	padding: 0 40px
	position: relative
	overflow: hidden
.newsads-slidev
	width: 240px
	margin-right: 80px
	overflow: hidden
	float: left
	transition: all ease 1s
	.newsads-image,
	.newsads-title,
	.newsads-btm	
		width: 240px
		overflow: hidden
		margin-bottom: 10px
		img
			width: 100%
	&:first-child
		margin-left: 0
	&:last-child
		margin-right: 0
	.newsads-slides
		overflow: hidden
		position: relative
		transition: all ease 1s

	a
		font-size: 20px
		color: #0f0f0f
		&:hover
			color: #f57900
	h4
		white-space: nowrap
		margin-top: 5px
		margin-bottom: 0
	.newsads-btm
		&::after
			content: ''
			clear: both
			display: block
	.newsads-price
		font-size: 20px
		font-family: $HelveticaMedium
		color: #669708
		float: left
		width: 50%
	.newsads-like
		float: right
		width: 35px
		text-align: right
		cursor: pointer
		svg path
			fill: #fff
			stroke: $GrayColor
			stroke-width: 20px
		&:hover
			svg path
				stroke: #f57900
		&:active,
		&:visited,
		&:link
			svg path
				stroke: #f57900
				fill: #f57900
.newads-bottom__like
	width: 24px
	cursor: pointer
	float: right