section.new-item
  padding: 0 40px
  padding-top: 10px
  padding-bottom: 15px
.new-item__information
  font-size: 13px
  font-family: $HelveticaMedium
  color: $GrayColor
  > div
    display: inline-block
    margin-right: 3%
.new-item__general
  padding-top: 50px
  &:after
    content: ''
    clear: both
    display: block
  .new-item__photo
    width: 46.666667%
    margin-right: 6.666667%
    float: left
    overflow: hidden
  .new-item__contacts
    width: 20%
    float: left
    position: relative
.new-item__photo
  .photo-generalbig img,
    width: 100%
    height: 420px
  .photo-general
    cursor: pointer
    img
      width: 100%
      height: auto
  .photo-all__container
    height: 60px
    background-color: $GrayColor
    cursor: pointer
    overflow: hidden
    img
      height: 60px
  .photo-all__content
    width: 100%
    margin-top: 10px
  .photo-general__content
    position: relative
    .newsads-left
      left: 0
      top: 50%
      svg path
        fill: #fff
    .newsads-right
      right: 0
      top: 50%
      svg path
        fill: #fff
.owl-thumbs__container
  width: 100%
  height: 70px
.owl-carousel
  position: relative
  .owl-prev
    top: 50%
    margin-top: -11px
    left: 10px
    position: absolute
  .owl-next
    top: 50%
    margin-top: -11px
    right: 10px
    position: absolute
.owl-thumb-item
  border: none
  background: none
  padding: 0
  outline: none
  &.active
    border: 5px solid #c1c1c1
  img
    width: 100%
    height: 60px
.new-item__price
  width: 20%
  margin-right: 6.666667%
  float: left
.item-price__euro
  font-size: 30px
  color: #fff
  width: 100%
  background: url('../img/price-bg.svg') no-repeat 
  height: 57px
  position: relative
  left: -20px 
  padding-left: 20px
  margin-bottom: 20px
  font-family: $HelveticaRoman
.item-price__detailes
  .price-detailes__container
    padding-bottom: 15px
  .price-detailes__type
    font-family: $HelveticaMedium
    font-size: 13px
    color: $GrayColor
  .price-detailes__answer
    color: #0f0f0f
    font-size: 16px
    font-family: $HelveticaRoman
.price-detailes__all
  .detailes-all__title
    cursor: pointer
    div
      display: inline-block
  .detailes-all__text
    font-size: 16px
    font-family: $HelveticaRoman
    color: #669708
.item-detailes__other
  display: none
  padding-top: 20px
.item-contacts__title
  cursor: pointer
  &::after
    content: ''
    clear: both
    display: block
  .item-contacts__icon
    float: left
    width: 30px
    margin-right: 10px
  .item-contacts__text
    float: right
    width: calc(100% - 40px)
    color: #669708
    font-size: 18px
    font-family: $HelveticaRoman
.item-contacts__dropdrown
  font-family: $HelveticaRoman
  border: 1px solid $GrayColor
  position: absolute
  width: 100%
  top: 40px
  -webkit-box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.7)
  -moz-box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.7)
  box-shadow: 0px 0px 10px 0px rgba(193,193,193,0.7)
  display: none
  z-index: 10
  background: #fff
  &::before,
  &::after
    bottom: 100%
    left: 50%
    border: solid transparent
    content: " "
    height: 0
    width: 0
    position: absolute
    pointer-events: none
  &::after
    border-color: rgba(255, 255, 255, 0)
    border-bottom-color: #fff
    border-width: 15px
    margin-left: -15px
  &::before
    border-color: rgba(193, 193, 193, 0)
    border-bottom-color: #c1c1c1
    border-width: 16px
    margin-left: -16px
  .item-dropdown__name
    margin-top: 20px
    margin-bottom: 3px
    text-align: center
    color: #0f0f0f
    font-size: 18px
    span
      display: block
      line-height: 1.1
  .item-dropdown__registr
    font-size: 13px
    font-family: $HelveticaMedium
    color: $GrayColor
    text-align: center
    margin-bottom: 15px
  .item-dropdown__phone,
  .item-dropdown__skype,
  .item-dropdown__site
    padding-left: 24px
    margin-bottom: 15px
    span:first-child
      font-size: 13px
      font-family: $HelveticaMedium
      color: $GrayColor
      display: block
      margin-bottom: 0px
      line-height: 1.3
    span:last-child a
      font-size: 16px
      color: #0f0f0f
      &:hover
        text-decoration: none
  .item-dropdown__site
    span:last-child a
      text-decoration: underline
      color: #f57900
.new-item__list
  display: block
  .list-our__partner img
    width: 100%
.item-dropdown__partner
  display: none
  z-index: -1
  top: -30px
  position: relative
.new-item__icons
  padding-top: 0px
  position: relative
  top: -20px
  text-align: right
  div
    display: inline-block
    cursor: pointer
    vertical-align: top
  .item-icons__message
    margin-right: 25px
    svg path
      fill: $GrayColor
    &:hover
      svg path
        fill: #f57900
  .item-icons__print
    margin-right: 25px
    svg path
      fill: $GrayColor
    &:hover
      svg path 
        fill: #f57900
  .catalog-bottom__social 
    padding-top: 0px
    .catalog-social__container
      margin-right: 25px
.new-item__description
  padding-bottom: 10px
  p
    font-size: 16px
    color: #0f0f0f
    margin-top: 5px
.new-description__additional
  margin-bottom: 40px
  &::after
    content: ''
    clear: both
    display: block
.description-detailes__container
  float: left
  width: 20%
  margin-right: 6.666667%
  padding-bottom: 30px
  &.detailes-container__last
    float: none
    width: 50%
    margin-right: 0
    padding-bottom: 0
  .description-detailes__type
    font-size: 13px
    font-family: $HelveticaMedium
    color: $GrayColor
  .description-detailes__answer
    font-size: 16px
    color: #0f0f0f
.new-item__map
  width: 100%
  height: 250px
section.newads
  padding-bottom: 37px
  
.new-item__list
  ul
    list-style-type: none
    padding-left: 0
  li
    display: block
    padding-bottom: 20px
    &:last-child
      padding-bottom: 0
    &::after
      content: ''
      clear: both
      display: block
    &:hover
      cursor: pointer
      svg path
        fill: #f57900
    &:last-child
      svg path
        stroke: $GrayColor
      &:hover
        svg path
          stroke: #f57900
      .new-item__text
        position: static
  .new-item__icon
    float: left
    width: 25px
    margin-right: 10px
    svg path
      fill: $GrayColor
  .new-item__text
    float: right
    width: calc(100% - 35px)
    position: relative
    top: -3px
    font-size: 18px
    color: #0f0f0f

.new-item__smallInformation
  display: none
  padding: 15px 0 
  background-color: #f9f9f9
  position: relative
  margin-bottom: 20px
  &::after
    content: ''
    clear: both
    display: block
  .item-smallInformation__left
    float: left
    width: 50%
  .item-smallInformation__right
    float: right
    width: 50%
    cursor: pointer
    &:hover
      svg path
        fill: #f57900
    &::after
      content: ''
      clear: both
      display: block
    div:first-child
      float: left
      width: 35px
    div:last-child
      float: left
      width: calc(100% - 40px)
      line-height: 1.2
  .item-contacts__title
    .item-contacts__text
      font-size: 12px
      line-height: 1.2
  .new-item__text
    font-size: 12px
