// ============== Стили для страницы Новостей ========//

section.news
	padding: 0 40px 80px 40px

.news-content
	&::after
		content: ''
		clear: both
		display: block
.news-container
	margin-top: 50px
	width: 20%
	margin-right: 6%
	float: left
	&:nth-child(4n),
	&:last-child
		margin-right: 0
	.news-title a
		font-size: 20px
		color: #0f0f0f
		line-height: 1.5
		&:hover
			color: #f57900
	.news-date
		font-family: $HelveticaMedium
		font-size: 13px
		color: $GrayColor
		padding-top: 15px

