// ============ Стили для секции "Часто ищут" =======//
section.often-search
	padding: 60px 40px
	padding-bottom: 5px
.often-search__content
	padding-bottom: 20px
	ul
		list-style-type: none
		padding-left: 0
		margin-bottom: 0
	li
		display: inline-block
		margin-right: 3%
		padding-bottom: 10px
	a
		color: #0f0f0f
		font-size: 20px
		letter-spacing: 0.5px
		&:hover
			color: #ff7e00
