// Для секции Наши партнеры


section.partner
	padding: 30px 40px
.partner-content
	&::after
		content: ''
		clear: both
		display: block
.partner__container
	float: left
	width: 23.3%
	margin-right: 3.3%
	height: 80px
	overflow: hidden
	&:nth-child(4n)
		margin-right: 0
	.partner-img
		background-color: $GrayColor
		height: 80px
.partner__container__href
	width: 240px
	float: right
	a
		font-size: 18px
		color: #f57900
		line-height: 1.2
		text-decoration: underline
		&:hover
			text-decoration: none
			color: #f57900