/* ========================== Стили для страницы поиска ====================== */
section.search
	padding: 0 40px
.search-top
	&::after
		content: ''
		clear: both
		display: block
	.search-top__right
		width: 245px
		float: right
	.search-top__left
		float: left
		width: calc(100% - 245px)
		input
			width: 101%
			height: 55px
			border: 2px solid #ff7e00
			padding-left: 20px
			outline: none
			color: #0f0f0f
			font-size: 18px
			border-radius: 3px
			// font-family: $HelveticaRoman
			@include placeholder
				color: #c1c1c1
				font-family: 18px
.find-ads
	button
		width: 245px
		height: 55px
		text-align: center
		background: #ff7e00
		font-size: 16px
		border-radius: 0px
		border: none
		outline: none
		color: #fff
		position: relative
		span.find-icon
			position: relative
			top: 4px
			margin-right: 7px
			svg path
				fill: #fff

.find-text
	display: inline-block
.search-bottom__left
	input[type='checkbox']
		visibility: hidden
	label
		font-size: 15px
		color: $GrayColor
		cursor: pointer

.search-bottom
	margin-top: 5px
	&::after
		content: ''
		clear: both
		display: block
	.search-bottom__left
		float: left
		width: 50%
	.search-bottom__right
		float: right
		width: 50%
		text-align: right
		padding-right: 245px



.search-all__cities
	.jq-selectbox__dropdown
		background: #fff
		padding-right: 35px
		border: 1px solid #c1c1c1
		top: 50px
		padding-top: 5px
		padding-bottom: 5px
		&::before,
		&::after
			bottom: 100%
			left: 50%
			border: solid transparent
			content: " "
			height: 0
			width: 0
			position: absolute
			pointer-events: none
		&::after
			border-color: rgba(255, 255, 255, 0)
			border-bottom-color: #fff
			border-width: 15px
			margin-left: -15px
		&::before
			border-color: rgba(193, 193, 193, 0)
			border-bottom-color: #c1c1c1
			border-width: 16px
			margin-left: -16px
		li:first-child
			opacity: 0
			position: absolute
			z-index: -1
		li
			cursor: pointer
			&:hover
				color: #ff7e00
	.selectBox select
		font-weight: 400
.search-all__cities,
.search-all__category
	display: inline-block
	font-size: 15px
	color: $GrayColor
	option
		color: #0f0f0f
	ul
		text-align: left
		padding-left: 15px
	.jq-selectbox__dropdown
		padding-right: 0
		li
			font-size: 16px
			color: #0f0f0f
			margin-bottom: 10px
			&:hover
				background: #f9f9f9
			&:last-child
				margin-bottom: 0
	.categorys
		cursor: pointer
	.jq-selectbox__select-text
		font-size: 15px
		font-weight: normal
.search-all__category
	margin-left: 35px
	.jq-selectbox__dropdown
		background: #fff
		padding-right: 35px
		border: 1px solid #c1c1c1
		top: 50px
		padding-top: 5px
		padding-bottom: 5px
		padding-right: 0
		width: 240px !important
		left: -50%
		&::before,
		&::after
			bottom: 100%
			left: 50%
			border: solid transparent
			content: " "
			height: 0
			width: 0
			position: absolute
			pointer-events: none
		&::after
			border-color: rgba(255, 255, 255, 0)
			border-bottom-color: #fff
			border-width: 15px
			margin-left: -15px
		&::before
			border-color: rgba(193, 193, 193, 0)
			border-bottom-color: #c1c1c1
			border-width: 16px
			margin-left: -16px
		li:first-child
			opacity: 0
			position: absolute
			z-index: -1
		li
			cursor: pointer
			&:hover
				color: #ff7e00

