// Стили для стилизации Select
.multiselect 
	width: 150px
	position: relative
	text-align: left
	top: -8px
	select
		border: none
		outline: none
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
#checkboxes,
#checkboxes-category
	position: absolute
	width: 240px
	z-index: 3
	background: #fff
.selectBox 
  position: relative
.selectBox select 
  width: 100%
  font-weight: bold
.overSelect 
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	cursor: pointer
#checkboxes,
#checkboxes-category
	display: none
	border: 1px $GrayColor solid
	border-radius: 3px

#checkboxes label,
#checkboxes-category label 
  display: block
#checkboxes,
#checkboxes-category
	padding-top: 15px
	padding-bottom: 15px
	top: 50px
	left: -50%
	&::before,
	&::after
		bottom: 100%
		left: 50%
		border: solid transparent
		content: " "
		height: 0
		width: 0
		position: absolute
		pointer-events: none
	&::after
		border-color: rgba(255, 255, 255, 0)
		border-bottom-color: #fff
		border-width: 15px
		margin-left: -15px
	&::before
		border-color: rgba(193, 193, 193, 0)
		border-bottom-color: #c1c1c1
		border-width: 16px
		margin-left: -16px
#checkboxes label:hover,
#checkboxes-category label:hover
  background-color: #f9f9f9

input.sl-chb,
input.sl-chb__category
	display: none
input.sl-chb__category + label span,
input.sl-chb + label span
	display: inline-block
	width: 24px
	height: 24px
	margin: -1px 4px 0 0
	vertical-align: middle
	border-radius: 2px
	cursor: pointer
	border: 1px solid $GrayColor
	margin-left: 20px
	margin-right: 10px

input.sl-chb__category + label,
input.sl-chb + label
	cursor: pointer
	font-size: 16px
	color: #0f0f0f
	&:hover
		color: #f57900

input.sl-chb__category:checked + label span,
input.sl-chb:checked + label span
	background-color: #74a90f
	border: none
	background: #74a90f url('../img/check.svg') no-repeat center

#checkboxes-category label,
#checkboxes label	
	margin-bottom: 10px
	&:first-child
		margin-top: 10px


// Стили для breadcrumb
.breadcrumb
	padding: 0 40px
	ul
		list-style-type: none
		padding-left: 0
	li
		display: inline-block
		margin-right: 10px
		a
			font-size: 16px
			color: $GrayColor
			margin-right: 10px
			&:hover
				color: #f57900
		&:last-child
			margin-right: 0
			a
				margin-right: 0
			span
				display: none
