section.settings
  padding: 0 40px
  .upload-photo__container
    .star-upload
      display: none
.settings-content
  input
    height: 50px
    border-radius: 2px
    outline: none
    border: 1px solid $GrayColor
    padding-left: 20px
    width: 100%
    display: block
    @include placeholder
      font-family: $GrayColor
  label
    font-size: 13px
    font-family: $HelveticaMedium
    color: #0f0f0f
    display: block
.general-fields
  &::after
    content: ''
    clear: both
    display: block
  .general-field
    float: left
  .setting-name,
  .setting-phone
    width: 20%
    margin-right: 6.666667%     
  .setting-phone__input
    position: relative
    .setting-phone__allok
      width: 24px
      height: 24px
      background: #74a90f
      text-align: center
      line-height: 24px
      border-radius: 50%
      position: absolute
      right: 10px
      top: 50%
      margin-top: -12px
      display: none
    &.setting-phone__active
      .setting-phone__allok
        display: block
  
  .setting-birthday
    width: 36.666667%
    margin-right: 10%
    .jq-selectbox__select-text
      border: 1px solid $GrayColor
      border-radius: 2px
      color: $GrayColor
      height: 50px
      padding-left: 20px
      padding-right: 42px
      line-height: 50px
      cursor: pointer
      background: url('../img/selectdown.svg') no-repeat 90%
    .jq-selectbox__dropdown
      top: 0 !important
      width: 100%
      ul
        margin-top: 0
        
      ::-webkit-scrollbar-button 
        background-image: url('')
        background-repeat: no-repeat
        width: 2px
        height: 0px
      ::-webkit-scrollbar-track 
        background-color: #fff
      ::-webkit-scrollbar-thumb 
        -webkit-border-radius: 0px
        border-radius: 0px
        background-color: #c3c3c3       
      ::-webkit-scrollbar-thumb:hover
        background-color: #c1c1c1
      ::-webkit-resizer
        background-image: url('')
        background-repeat: no-repeat
        width: 2px
        height: 0px
      ::-webkit-scrollbar
        width: 2px
    .day
      .jq-selectbox__select-text 
        background-position: 80% 50%
    ul
      padding-right: 30px
      background: #fff
      border: 1px solid $GrayColor
      padding-left: 10px
      padding-top: 15px
      padding-bottom: 15px
      li
        cursor: pointer
        &:hover
          color: #f57900
  .setting-email
    width: 46.666667%
    margin-right: 6.666667%
    margin-top: 5px 
    .confirm-email
      text-align: right
      position: relative
      top: -3px
      a
        font-size: 13px
        color: $GrayColor
        font-family: $HelveticaMedium
  .setting-skype
    width: 20%
    margin-right: 6.666667%
    margin-top: 5px   
  .setting-type
    width: 20%
    margin-top: 5px 
    .setting-type__content
      font-size: 0
      label
        padding-left: 20px
        padding-right: 20px
        height: 50px
        line-height: 50px
        border: 1px solid $GrayColor
        display: inline-block
        cursor: pointer
        font-family: $HelveticaRoman
      input
        display: none
      input:checked + label
        background-color: #74a90f
        color: #fff
      label:last-child
        border-left: none
  .setting-company
    width: 46.666667%
    margin-right: 6.666667%
    padding-bottom: 40px  
  .setting-site
    width: 46.666667%
    padding-bottom: 40px
  .setting-address
    margin-bottom: 25px
    width: 100%
    position: relative
    input
      width: 76.666667%
      margin-right: 3.333333%
      display: inline-block 
      margin-bottom: 20px
    .add-address
      display: inline-block 
      width: 210px
      height: 50px
      border-radius: 2px
      background: #74a90f
      color: #fff
      position: relative
      top: -1px
      text-align: center
      line-height: 50px
      cursor: pointer
      position: absolute
      top: 20px
      right: 0
      svg path
        fill: #fff   
      span:first-child
        position: relative
        top: 5px
        margin-right: 7px
  .setting-about
    width: 100%
    textarea
      width: 100%
      height: 150px
      border-radius: 2px 
      border: 1px solid $GrayColor
      resize: none
      outline: none
      padding-left: 20px
  

.setting-phone
  .setting-phone__cb
    input
      display: none
    input + label span,
    input + label span
      display: inline-block
      width: 24px
      height: 24px
      margin: -1px 4px 0 0
      vertical-align: middle
      border-radius: 2px
      cursor: pointer
      border: 1px solid $GrayColor
      margin-right: 10px
      position: relative
      top: -2px
    input + label,
    input + label
      cursor: pointer
      font-size: 16px
      color: #0f0f0f
      font-family: $HelveticaRoman
      margin-top: 10px
      &:hover
        color: #f57900
    input:checked + label span,
    input:checked + label span
      background-color: #74a90f
      border: none
      background: #74a90f url('../img/check.svg') no-repeat center
.setting-map
  margin-top: 20px
  margin-bottom: 25px
  label
    font-size: 13px
    font-family: $HelveticaMedium
    color: #0f0f0f
.setting-location
  &::after
    content: ''
    clear: both
    display: block
  label
    display: block
    font-size: 13px
    font-family: $HelveticaMedium
    color: #0f0f0f
  .general-field__container
    width: 240px
    margin-right: 80px
    float: left
    &:last-child
      margin-right: 0
  .jq-selectbox__select-text
    height: 50px
    width: 100%
    border: 1px solid $GrayColor
    border-radius: 2px
    outline: none
    padding-left: 20px
    color: $GrayColor
    line-height: 50px
    cursor: pointer
  .jq-selectbox,
  .select
  div
    width: 100%
  .jq-selectbox__select-text
    width: 100% !important
  ul
    background-color: #fff
    border: 1px solid $GrayColor
    border-radius: 2px
    padding-left: 10px
  li
    cursor: pointer
    &:hover
      color: #f57900
.change-password
  margin-top: 40px
  margin-bottom: 50px
  &::after
    content: ''
    clear: both
    display: block
  .change-password__field
    float: left  
    width: 240px
    margin-right: 80px
    &:last-child
      margin-right: 0
    label
      display: block
      font-size: 13px
      font-family: $HelveticaMedium
      color: #0f0f0f
  input
    width: 100%
    height: 50px
    border-radius: 2px
    border: 1px solid $GrayColor
    outline: none
    padding-left: 20px
.setting-save
  text-align: center
  margin-bottom: 50px
  button
    width: 260px
    border-radius: 2px
    border: none
    outline: none
    background: #74a90f
    color: #fff
    height: 55px
    span:first-child
      position: relative
      top: 2px
      margin-right: 5px