section.catalog-all.shop-all
  padding: 0 40px
  .shop-sidebar
    width: 23.333333%
    margin-right: 3.333333%
    float: left
  .catalog-content.shop-content
    width: 73.333334%
  .principaly-newads__container
    width: 27.272727%
    margin-right: 6.666667%
    &:nth-child(3n)
      margin-right: 0
  .principaly-newads__container.listen
    width: 100%
    margin-right: 0
  .shop-sidebar__image
    width: 100%
    height: 75px
    background-color: $GrayColor
    margin-bottom: 40px
  .sidebar-contact__phone,
  .sidebar-contact__fax
    margin-bottom: 25px
    div
      display: inline-block
    div:first-child
      margin-right: 13px
    svg path
      fill: $GrayColor
    a
      color: #0f0f0f
      font-size: 18px
    &:hover
      a
        color: #f57900
      svg path
        fill: #f57900
  .shop-sidebar__address
    font-size: 18px
    margin-bottom: 35px
  .shop-sidebar__descr
    font-size: 18px
    margin-bottom: 40px
  .shop-sidebar__action
    div
      margin-bottom: 25px
      div
        display: inline-block
        margin-bottom: 0
      div:first-child
        width: 25px
        margin-right: 10px
        position: relative
        top: 3px
      svg path
        fill: $GrayColor
      a
        color: #0f0f0f
        font-size: 18px
      &:hover
        svg path
          fill: #f57900
        a
          color: #f57900
  .find-category__dropdown
    overflow: hidden

.close-sidebar__small
  right: 10px
  top: 10px