section.subscribres
  padding: 0 40px
  padding-bottom: 10px

.bazar-table.bazar-table__subscribers
  td:nth-child(1),
  td:nth-child(2),
  td:nth-child(3)
    width: 26.666667%
  td:nth-child(4),
  td:nth-child(5)
    width: 10%
    a
      color: $GrayColor
      &:hover
        color: #f57900
  td
    line-height: 1.2