section.sub-category
	padding: 10px 40px
.sub-category__total
	position: relative
	.sub-category__preview,
	.sub-category__all
		ul
			list-style-type: none
			padding-left: 0
			padding-top: 10px
			margin-bottom: 0
			&::after
				content: ''
				clear: both
				display: block
		li
			width: 20%
			margin-right: 6.6%
			float: left
			padding-bottom: 16px
			display: block
			&:nth-child(4n)
				margin-right: 0
		.sub-category__title
			a
				font-size: 15px
				color: #0f0f0f
				&:hover
					color: #f57900
		.sub-category__info
			font-size: 13px
			font-family: $HelveticaMedium
			color: $GrayColor
			position: relative
			top: -6px

.subcategory-title
	display: inline-block
	cursor: pointer		
	h4
		font-size: 16px
		color: #669708
		margin-top: 0
		margin-right: 5px
		display: inline-block
		margin-top: 0px
		margin-bottom: 0px
.subcategory__open,
.subcategory__closed
	display: inline-block
	cursor: pointer
	position: relative
	top: -2px
.sub-category__all
	margin-top: 0
	padding-top: 0
	position: relative
	top: -30px
