$default-font       : "roboto-example", sans-serif
$HelveticaRoman     : 'HelveticaNeueRoman'
$GrayColor          :  #c1c1c1
$BlackColor         :  #0f0f0f
$HelveticaMedium    : 'HelveticaNeueMedium'
$MinionRegular      : 'MinionProRegular'



// Миксины

@mixin placeholder 
  &::-webkit-input-placeholder  
    @content 
  &:-moz-placeholder            
    @content 
  &::-moz-placeholder           
    @content 
  &:-ms-input-placeholder       
    @content   


@mixin spritebox($left, $top)
  background-image: url('../img/carbody.png')
  background-repeat: no-repeat
  background-position: $left $top